#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <100>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0>; \
  };

COMBO(c_t, &macro_c_t, 13 33)
COMBO(s_c_t, &macro_s_c_t, 13 33 32)
COMBO(c_t___, &macro_c_t___, 13 33 30 31)
COMBO(s_c_t___, &macro_s_c_t___, 13 33 30 31 32)
COMBO(c_a, &macro_c_a, 19 33)
COMBO(s_c_a, &macro_s_c_a, 19 33 32)
COMBO(c_a___, &macro_c_a___, 19 33 30 31)
COMBO(s_c_a___, &macro_s_c_a___, 19 33 30 31 32)
COMBO(c_w, &macro_c_w, 0 33)
COMBO(s_c_w, &macro_s_c_w, 0 33 32)
COMBO(c_w___, &macro_c_w___, 0 33 30 31)
COMBO(s_c_w___, &macro_s_c_w___, 0 33 30 31 32)
COMBO(c_y, &macro_c_y, 2 33)
COMBO(s_c_y, &macro_s_c_y, 2 33 32)
COMBO(c_y___, &macro_c_y___, 2 33 30 31)
COMBO(s_c_y___, &macro_s_c_y___, 2 33 30 31 32)
COMBO(c_h, &macro_c_h, 26 33)
COMBO(s_c_h, &macro_s_c_h, 26 33 32)
COMBO(c_h___, &macro_c_h___, 26 33 30 31)
COMBO(s_c_h___, &macro_s_c_h___, 26 33 30 31 32)
COMBO(c_s, &macro_c_s, 12 33)
COMBO(s_c_s, &macro_s_c_s, 12 33 32)
COMBO(c_s___, &macro_c_s___, 12 33 30 31)
COMBO(s_c_s___, &macro_s_c_s___, 12 33 30 31 32)
COMBO(c_th, &macro_c_th, 13 26 33)
COMBO(s_c_th, &macro_s_c_th, 13 26 33 32)
COMBO(c_th___, &macro_c_th___, 13 26 33 30 31)
COMBO(s_c_th___, &macro_s_c_th___, 13 26 33 30 31 32)
COMBO(c_wt, &macro_c_wt, 0 13 33)
COMBO(s_c_wt, &macro_s_c_wt, 0 13 33 32)
COMBO(c_wt___, &macro_c_wt___, 0 13 33 30 31)
COMBO(s_c_wt___, &macro_s_c_wt___, 0 13 33 30 31 32)
COMBO(c_f, &macro_c_f, 6 33)
COMBO(s_c_f, &macro_s_c_f, 6 33 32)
COMBO(c_f___, &macro_c_f___, 6 33 30 31)
COMBO(s_c_f___, &macro_s_c_f___, 6 33 30 31 32)
COMBO(c_b, &macro_c_b, 4 33)
COMBO(s_c_b, &macro_s_c_b, 4 33 32)
COMBO(c_b___, &macro_c_b___, 4 33 30 31)
COMBO(s_c_b___, &macro_s_c_b___, 4 33 30 31 32)
COMBO(c_si, &macro_c_si, 12 18 33)
COMBO(s_c_si, &macro_s_c_si, 12 18 33 32)
COMBO(c_si___, &macro_c_si___, 12 18 33 30 31)
COMBO(s_c_si___, &macro_s_c_si___, 12 18 33 30 31 32)
COMBO(c_o, &macro_c_o, 7 33)
COMBO(s_c_o, &macro_s_c_o, 7 33 32)
COMBO(c_o___, &macro_c_o___, 7 33 30 31)
COMBO(s_c_o___, &macro_s_c_o___, 7 33 30 31 32)
COMBO(c_l, &macro_c_l, 1 33)
COMBO(s_c_l, &macro_s_c_l, 1 33 32)
COMBO(c_l_, &macro_c_l_, 1 33 30)
COMBO(s_c_l_, &macro_s_c_l_, 1 33 30 32)
COMBO(c_l__, &macro_c_l__, 1 33 31)
COMBO(s_c_l__, &macro_s_c_l__, 1 33 31 32)
COMBO(c_l___, &macro_c_l___, 1 33 30 31)
COMBO(s_c_l___, &macro_s_c_l___, 1 33 30 31 32)
COMBO(c_he, &macro_c_he, 26 17 33)
COMBO(s_c_he, &macro_s_c_he, 26 17 33 32)
COMBO(c_he_, &macro_c_he_, 26 17 33 30)
COMBO(s_c_he_, &macro_s_c_he_, 26 17 33 30 32)
COMBO(c_he__, &macro_c_he__, 26 17 33 31)
COMBO(s_c_he__, &macro_s_c_he__, 26 17 33 31 32)
COMBO(c_he___, &macro_c_he___, 26 17 33 30 31)
COMBO(s_c_he___, &macro_s_c_he___, 26 17 33 30 31 32)
COMBO(c_wh, &macro_c_wh, 0 26 33)
COMBO(s_c_wh, &macro_s_c_wh, 0 26 33 32)
COMBO(c_wh___, &macro_c_wh___, 0 26 33 30 31)
COMBO(s_c_wh___, &macro_s_c_wh___, 0 26 33 30 31 32)
COMBO(c_n, &macro_c_n, 16 33)
COMBO(s_c_n, &macro_s_c_n, 16 33 32)
COMBO(c_n___, &macro_c_n___, 16 33 30 31)
COMBO(s_c_n___, &macro_s_c_n___, 16 33 30 31 32)
COMBO(c_j, &macro_c_j, 21 33)
COMBO(s_c_j, &macro_s_c_j, 21 33 32)
COMBO(c_j___, &macro_c_j___, 21 33 30 31)
COMBO(s_c_j___, &macro_s_c_j___, 21 33 30 31 32)
COMBO(c_le, &macro_c_le, 1 17 33)
COMBO(s_c_le, &macro_s_c_le, 1 17 33 32)
COMBO(c_le_, &macro_c_le_, 1 17 33 30)
COMBO(s_c_le_, &macro_s_c_le_, 1 17 33 30 32)
COMBO(c_le__, &macro_c_le__, 1 17 33 31)
COMBO(s_c_le__, &macro_s_c_le__, 1 17 33 31 32)
COMBO(c_le___, &macro_c_le___, 1 17 33 30 31)
COMBO(s_c_le___, &macro_s_c_le___, 1 17 33 30 31 32)
COMBO(c_ts, &macro_c_ts, 13 12 33)
COMBO(s_c_ts, &macro_s_c_ts, 13 12 33 32)
COMBO(c_ts___, &macro_c_ts___, 13 12 33 30 31)
COMBO(s_c_ts___, &macro_s_c_ts___, 13 12 33 30 31 32)
COMBO(c_fr, &macro_c_fr, 6 11 33)
COMBO(s_c_fr, &macro_s_c_fr, 6 11 33 32)
COMBO(c_fr___, &macro_c_fr___, 6 11 33 30 31)
COMBO(s_c_fr___, &macro_s_c_fr___, 6 11 33 30 31 32)
COMBO(c_we, &macro_c_we, 0 17 33)
COMBO(s_c_we, &macro_s_c_we, 0 17 33 32)
COMBO(c_we___, &macro_c_we___, 0 17 33 30 31)
COMBO(s_c_we___, &macro_s_c_we___, 0 17 33 30 31 32)
COMBO(c_ba, &macro_c_ba, 4 19 33)
COMBO(s_c_ba, &macro_s_c_ba, 4 19 33 32)
COMBO(c_ba_, &macro_c_ba_, 4 19 33 30)
COMBO(s_c_ba_, &macro_s_c_ba_, 4 19 33 30 32)
COMBO(c_ba__, &macro_c_ba__, 4 19 33 31)
COMBO(s_c_ba__, &macro_s_c_ba__, 4 19 33 31 32)
COMBO(c_ba___, &macro_c_ba___, 4 19 33 30 31)
COMBO(s_c_ba___, &macro_s_c_ba___, 4 19 33 30 31 32)
COMBO(c_at, &macro_c_at, 19 13 33)
COMBO(s_c_at, &macro_s_c_at, 19 13 33 32)
COMBO(c_at___, &macro_c_at___, 19 13 33 30 31)
COMBO(s_c_at___, &macro_s_c_at___, 19 13 33 30 31 32)
COMBO(c_k, &macro_c_k, 24 33)
COMBO(s_c_k, &macro_s_c_k, 24 33 32)
COMBO(c_k_, &macro_c_k_, 24 33 30)
COMBO(s_c_k_, &macro_s_c_k_, 24 33 30 32)
COMBO(c_k__, &macro_c_k__, 24 33 31)
COMBO(s_c_k__, &macro_s_c_k__, 24 33 31 32)
COMBO(c_k___, &macro_c_k___, 24 33 30 31)
COMBO(s_c_k___, &macro_s_c_k___, 24 33 30 31 32)
COMBO(c_wn, &macro_c_wn, 0 16 33)
COMBO(s_c_wn, &macro_s_c_wn, 0 16 33 32)
COMBO(c_wn___, &macro_c_wn___, 0 16 33 30 31)
COMBO(s_c_wn___, &macro_s_c_wn___, 0 16 33 30 31 32)
COMBO(c_g, &macro_c_g, 14 33)
COMBO(s_c_g, &macro_s_c_g, 14 33 32)
COMBO(c_g_, &macro_c_g_, 14 33 30)
COMBO(s_c_g_, &macro_s_c_g_, 14 33 30 32)
COMBO(c_g__, &macro_c_g__, 14 33 31)
COMBO(s_c_g__, &macro_s_c_g__, 14 33 31 32)
COMBO(c_g___, &macro_c_g___, 14 33 30 31)
COMBO(s_c_g___, &macro_s_c_g___, 14 33 30 31 32)
COMBO(c_tn, &macro_c_tn, 13 16 33)
COMBO(s_c_tn, &macro_s_c_tn, 13 16 33 32)
COMBO(c_tn___, &macro_c_tn___, 13 16 33 30 31)
COMBO(s_c_tn___, &macro_s_c_tn___, 13 16 33 30 31 32)
COMBO(c_i, &macro_c_i, 18 33)
COMBO(s_c_i, &macro_s_c_i, 18 33 32)
COMBO(c_i___, &macro_c_i___, 18 33 30 31)
COMBO(s_c_i___, &macro_s_c_i___, 18 33 30 31 32)
COMBO(c_wo, &macro_c_wo, 0 7 33)
COMBO(s_c_wo, &macro_s_c_wo, 0 7 33 32)
COMBO(c_wo___, &macro_c_wo___, 0 7 33 30 31)
COMBO(s_c_wo___, &macro_s_c_wo___, 0 7 33 30 31 32)
COMBO(c_te, &macro_c_te, 13 17 33)
COMBO(s_c_te, &macro_s_c_te, 13 17 33 32)
COMBO(c_te___, &macro_c_te___, 13 17 33 30 31)
COMBO(s_c_te___, &macro_s_c_te___, 13 17 33 30 31 32)
COMBO(c_c, &macro_c_c, 10 33)
COMBO(s_c_c, &macro_s_c_c, 10 33 32)
COMBO(c_c___, &macro_c_c___, 10 33 30 31)
COMBO(s_c_c___, &macro_s_c_c___, 10 33 30 31 32)
COMBO(c_d, &macro_c_d, 23 33)
COMBO(s_c_d, &macro_s_c_d, 23 33 32)
COMBO(c_d___, &macro_c_d___, 23 33 30 31)
COMBO(s_c_d___, &macro_s_c_d___, 23 33 30 31 32)
COMBO(c_dn, &macro_c_dn, 23 16 33)
COMBO(s_c_dn, &macro_s_c_dn, 23 16 33 32)
COMBO(c_dn___, &macro_c_dn___, 23 16 33 30 31)
COMBO(s_c_dn___, &macro_s_c_dn___, 23 16 33 30 31 32)
COMBO(c_ti, &macro_c_ti, 13 18 33)
COMBO(s_c_ti, &macro_s_c_ti, 13 18 33 32)
COMBO(c_ti_, &macro_c_ti_, 13 18 33 30)
COMBO(s_c_ti_, &macro_s_c_ti_, 13 18 33 30 32)
COMBO(c_ti__, &macro_c_ti__, 13 18 33 31)
COMBO(s_c_ti__, &macro_s_c_ti__, 13 18 33 31 32)
COMBO(c_ti___, &macro_c_ti___, 13 18 33 30 31)
COMBO(s_c_ti___, &macro_s_c_ti___, 13 18 33 30 31 32)
COMBO(c_di, &macro_c_di, 23 18 33)
COMBO(s_c_di, &macro_s_c_di, 23 18 33 32)
COMBO(c_di___, &macro_c_di___, 23 18 33 30 31)
COMBO(s_c_di___, &macro_s_c_di___, 23 18 33 30 31 32)
COMBO(c_wa, &macro_c_wa, 0 19 33)
COMBO(s_c_wa, &macro_s_c_wa, 0 19 33 32)
COMBO(c_wa_, &macro_c_wa_, 0 19 33 30)
COMBO(s_c_wa_, &macro_s_c_wa_, 0 19 33 30 32)
COMBO(c_wa__, &macro_c_wa__, 0 19 33 31)
COMBO(s_c_wa__, &macro_s_c_wa__, 0 19 33 31 32)
COMBO(c_wa___, &macro_c_wa___, 0 19 33 30 31)
COMBO(s_c_wa___, &macro_s_c_wa___, 0 19 33 30 31 32)
COMBO(c_e, &macro_c_e, 17 33)
COMBO(s_c_e, &macro_s_c_e, 17 33 32)
COMBO(c_e___, &macro_c_e___, 17 33 30 31)
COMBO(s_c_e___, &macro_s_c_e___, 17 33 30 31 32)
COMBO(c_or, &macro_c_or, 7 11 33)
COMBO(s_c_or, &macro_s_c_or, 7 11 33 32)
COMBO(c_or___, &macro_c_or___, 7 11 33 30 31)
COMBO(s_c_or___, &macro_s_c_or___, 7 11 33 30 31 32)
COMBO(c_yr, &macro_c_yr, 2 11 33)
COMBO(s_c_yr, &macro_s_c_yr, 2 11 33 32)
COMBO(c_yr___, &macro_c_yr___, 2 11 33 30 31)
COMBO(s_c_yr___, &macro_s_c_yr___, 2 11 33 30 31 32)
COMBO(c_bn, &macro_c_bn, 4 16 33)
COMBO(s_c_bn, &macro_s_c_bn, 4 16 33 32)
COMBO(c_bn___, &macro_c_bn___, 4 16 33 30 31)
COMBO(s_c_bn___, &macro_s_c_bn___, 4 16 33 30 31 32)
COMBO(c_tin, &macro_c_tin, 13 18 16 33)
COMBO(s_c_tin, &macro_s_c_tin, 13 18 16 33 32)
COMBO(c_tin_, &macro_c_tin_, 13 18 16 33 30)
COMBO(s_c_tin_, &macro_s_c_tin_, 13 18 16 33 30 32)
COMBO(c_tin__, &macro_c_tin__, 13 18 16 33 31)
COMBO(s_c_tin__, &macro_s_c_tin__, 13 18 16 33 31 32)
COMBO(c_tin___, &macro_c_tin___, 13 18 16 33 30 31)
COMBO(s_c_tin___, &macro_s_c_tin___, 13 18 16 33 30 31 32)
COMBO(c_ha, &macro_c_ha, 26 19 33)
COMBO(s_c_ha, &macro_s_c_ha, 26 19 33 32)
COMBO(c_ha_, &macro_c_ha_, 26 19 33 30)
COMBO(s_c_ha_, &macro_s_c_ha_, 26 19 33 30 32)
COMBO(c_ha__, &macro_c_ha__, 26 19 33 31)
COMBO(s_c_ha__, &macro_s_c_ha__, 26 19 33 31 32)
COMBO(c_ha___, &macro_c_ha___, 26 19 33 30 31)
COMBO(s_c_ha___, &macro_s_c_ha___, 26 19 33 30 31 32)
COMBO(c_an, &macro_c_an, 19 16 33)
COMBO(s_c_an, &macro_s_c_an, 19 16 33 32)
COMBO(c_an___, &macro_c_an___, 19 16 33 30 31)
COMBO(s_c_an___, &macro_s_c_an___, 19 16 33 30 31 32)
COMBO(c_hd, &macro_c_hd, 26 23 33)
COMBO(s_c_hd, &macro_s_c_hd, 26 23 33 32)
COMBO(c_hd_, &macro_c_hd_, 26 23 33 30)
COMBO(s_c_hd_, &macro_s_c_hd_, 26 23 33 30 32)
COMBO(c_hd__, &macro_c_hd__, 26 23 33 31)
COMBO(s_c_hd__, &macro_s_c_hd__, 26 23 33 31 32)
COMBO(c_hd___, &macro_c_hd___, 26 23 33 30 31)
COMBO(s_c_hd___, &macro_s_c_hd___, 26 23 33 30 31 32)
COMBO(c_wl, &macro_c_wl, 0 1 33)
COMBO(s_c_wl, &macro_s_c_wl, 0 1 33 32)
COMBO(c_wl___, &macro_c_wl___, 0 1 33 30 31)
COMBO(s_c_wl___, &macro_s_c_wl___, 0 1 33 30 31 32)
COMBO(c_be, &macro_c_be, 4 17 33)
COMBO(s_c_be, &macro_s_c_be, 4 17 33 32)
COMBO(c_be___, &macro_c_be___, 4 17 33 30 31)
COMBO(s_c_be___, &macro_s_c_be___, 4 17 33 30 31 32)
COMBO(c_m, &macro_c_m, 15 33)
COMBO(s_c_m, &macro_s_c_m, 15 33 32)
COMBO(c_m___, &macro_c_m___, 15 33 30 31)
COMBO(s_c_m___, &macro_s_c_m___, 15 33 30 31 32)
COMBO(c_en, &macro_c_en, 17 16 33)
COMBO(s_c_en, &macro_s_c_en, 17 16 33 32)
COMBO(c_en___, &macro_c_en___, 17 16 33 30 31)
COMBO(s_c_en___, &macro_s_c_en___, 17 16 33 30 31 32)
COMBO(c_tr, &macro_c_tr, 13 11 33)
COMBO(s_c_tr, &macro_s_c_tr, 13 11 33 32)
COMBO(c_tr_, &macro_c_tr_, 13 11 33 30)
COMBO(s_c_tr_, &macro_s_c_tr_, 13 11 33 30 32)
COMBO(c_tr__, &macro_c_tr__, 13 11 33 31)
COMBO(s_c_tr__, &macro_s_c_tr__, 13 11 33 31 32)
COMBO(c_tr___, &macro_c_tr___, 13 11 33 30 31)
COMBO(s_c_tr___, &macro_s_c_tr___, 13 11 33 30 31 32)
COMBO(c_ce, &macro_c_ce, 10 17 33)
COMBO(s_c_ce, &macro_s_c_ce, 10 17 33 32)
COMBO(c_ce_, &macro_c_ce_, 10 17 33 30)
COMBO(s_c_ce_, &macro_s_c_ce_, 10 17 33 30 32)
COMBO(c_ce__, &macro_c_ce__, 10 17 33 31)
COMBO(s_c_ce__, &macro_s_c_ce__, 10 17 33 31 32)
COMBO(c_ce___, &macro_c_ce___, 10 17 33 30 31)
COMBO(s_c_ce___, &macro_s_c_ce___, 10 17 33 30 31 32)
COMBO(c_se, &macro_c_se, 12 17 33)
COMBO(s_c_se, &macro_s_c_se, 12 17 33 32)
COMBO(c_se_, &macro_c_se_, 12 17 33 30)
COMBO(s_c_se_, &macro_s_c_se_, 12 17 33 30 32)
COMBO(c_se__, &macro_c_se__, 12 17 33 31)
COMBO(s_c_se__, &macro_s_c_se__, 12 17 33 31 32)
COMBO(c_se___, &macro_c_se___, 12 17 33 30 31)
COMBO(s_c_se___, &macro_s_c_se___, 12 17 33 30 31 32)
COMBO(c_r, &macro_c_r, 11 33)
COMBO(s_c_r, &macro_s_c_r, 11 33 32)
COMBO(c_r___, &macro_c_r___, 11 33 30 31)
COMBO(s_c_r___, &macro_s_c_r___, 11 33 30 31 32)
COMBO(c_fe, &macro_c_fe, 6 17 33)
COMBO(s_c_fe, &macro_s_c_fe, 6 17 33 32)
COMBO(c_fe_, &macro_c_fe_, 6 17 33 30)
COMBO(s_c_fe_, &macro_s_c_fe_, 6 17 33 30 32)
COMBO(c_fe__, &macro_c_fe__, 6 17 33 31)
COMBO(s_c_fe__, &macro_s_c_fe__, 6 17 33 31 32)
COMBO(c_fe___, &macro_c_fe___, 6 17 33 30 31)
COMBO(s_c_fe___, &macro_s_c_fe___, 6 17 33 30 31 32)
COMBO(c_ot, &macro_c_ot, 7 13 33)
COMBO(s_c_ot, &macro_s_c_ot, 7 13 33 32)
COMBO(c_ot___, &macro_c_ot___, 7 13 33 30 31)
COMBO(s_c_ot___, &macro_s_c_ot___, 7 13 33 30 31 32)
COMBO(c_so, &macro_c_so, 12 7 33)
COMBO(s_c_so, &macro_s_c_so, 12 7 33 32)
COMBO(c_so___, &macro_c_so___, 12 7 33 30 31)
COMBO(s_c_so___, &macro_s_c_so___, 12 7 33 30 31 32)
COMBO(c_ri, &macro_c_ri, 11 18 33)
COMBO(s_c_ri, &macro_s_c_ri, 11 18 33 32)
COMBO(c_ri___, &macro_c_ri___, 11 18 33 30 31)
COMBO(s_c_ri___, &macro_s_c_ri___, 11 18 33 30 31 32)
COMBO(c_tei, &macro_c_tei, 13 17 18 33)
COMBO(s_c_tei, &macro_s_c_tei, 13 17 18 33 32)
COMBO(c_tei___, &macro_c_tei___, 13 17 18 33 30 31)
COMBO(s_c_tei___, &macro_s_c_tei___, 13 17 18 33 30 31 32)
COMBO(c_on, &macro_c_on, 7 16 33)
COMBO(s_c_on, &macro_s_c_on, 7 16 33 32)
COMBO(c_on___, &macro_c_on___, 7 16 33 30 31)
COMBO(s_c_on___, &macro_s_c_on___, 7 16 33 30 31 32)
COMBO(c_me, &macro_c_me, 15 17 33)
COMBO(s_c_me, &macro_s_c_me, 15 17 33 32)
COMBO(c_me_, &macro_c_me_, 15 17 33 30)
COMBO(s_c_me_, &macro_s_c_me_, 15 17 33 30 32)
COMBO(c_me__, &macro_c_me__, 15 17 33 31)
COMBO(s_c_me__, &macro_s_c_me__, 15 17 33 31 32)
COMBO(c_me___, &macro_c_me___, 15 17 33 30 31)
COMBO(s_c_me___, &macro_s_c_me___, 15 17 33 30 31 32)
COMBO(c_sn, &macro_c_sn, 12 16 33)
COMBO(s_c_sn, &macro_s_c_sn, 12 16 33 32)
COMBO(c_sn___, &macro_c_sn___, 12 16 33 30 31)
COMBO(s_c_sn___, &macro_s_c_sn___, 12 16 33 30 31 32)
COMBO(c_rm, &macro_c_rm, 11 15 33)
COMBO(s_c_rm, &macro_s_c_rm, 11 15 33 32)
COMBO(c_rm___, &macro_c_rm___, 11 15 33 30 31)
COMBO(s_c_rm___, &macro_s_c_rm___, 11 15 33 30 31 32)
COMBO(c_ai, &macro_c_ai, 19 18 33)
COMBO(s_c_ai, &macro_s_c_ai, 19 18 33 32)
COMBO(c_ai___, &macro_c_ai___, 19 18 33 30 31)
COMBO(s_c_ai___, &macro_s_c_ai___, 19 18 33 30 31 32)
COMBO(c_thi, &macro_c_thi, 13 26 18 33)
COMBO(s_c_thi, &macro_s_c_thi, 13 26 18 33 32)
COMBO(c_thi___, &macro_c_thi___, 13 26 18 33 30 31)
COMBO(s_c_thi___, &macro_s_c_thi___, 13 26 18 33 30 31 32)
COMBO(c_ae, &macro_c_ae, 19 17 33)
COMBO(s_c_ae, &macro_s_c_ae, 19 17 33 32)
COMBO(c_ae___, &macro_c_ae___, 19 17 33 30 31)
COMBO(s_c_ae___, &macro_s_c_ae___, 19 17 33 30 31 32)
COMBO(c_sti, &macro_c_sti, 12 13 18 33)
COMBO(s_c_sti, &macro_s_c_sti, 12 13 18 33 32)
COMBO(c_sti___, &macro_c_sti___, 12 13 18 33 30 31)
COMBO(s_c_sti___, &macro_s_c_sti___, 12 13 18 33 30 31 32)
COMBO(c_dr, &macro_c_dr, 23 11 33)
COMBO(s_c_dr, &macro_s_c_dr, 23 11 33 32)
COMBO(c_dr___, &macro_c_dr___, 23 11 33 30 31)
COMBO(s_c_dr___, &macro_s_c_dr___, 23 11 33 30 31 32)
COMBO(c_hr, &macro_c_hr, 26 11 33)
COMBO(s_c_hr, &macro_s_c_hr, 26 11 33 32)
COMBO(c_hr___, &macro_c_hr___, 26 11 33 30 31)
COMBO(s_c_hr___, &macro_s_c_hr___, 26 11 33 30 31 32)
COMBO(c_lt, &macro_c_lt, 1 13 33)
COMBO(s_c_lt, &macro_s_c_lt, 1 13 33 32)
COMBO(c_lt___, &macro_c_lt___, 1 13 33 30 31)
COMBO(s_c_lt___, &macro_s_c_lt___, 1 13 33 30 31 32)
COMBO(c_bs, &macro_c_bs, 4 12 33)
COMBO(s_c_bs, &macro_s_c_bs, 4 12 33 32)
COMBO(c_bs___, &macro_c_bs___, 4 12 33 30 31)
COMBO(s_c_bs___, &macro_s_c_bs___, 4 12 33 30 31 32)
COMBO(c_ay, &macro_c_ay, 19 2 33)
COMBO(s_c_ay, &macro_s_c_ay, 19 2 33 32)
COMBO(c_ay___, &macro_c_ay___, 19 2 33 30 31)
COMBO(s_c_ay___, &macro_s_c_ay___, 19 2 33 30 31 32)
COMBO(c_sr, &macro_c_sr, 12 11 33)
COMBO(s_c_sr, &macro_s_c_sr, 12 11 33 32)
COMBO(c_sr_, &macro_c_sr_, 12 11 33 30)
COMBO(s_c_sr_, &macro_s_c_sr_, 12 11 33 30 32)
COMBO(c_sr__, &macro_c_sr__, 12 11 33 31)
COMBO(s_c_sr__, &macro_s_c_sr__, 12 11 33 31 32)
COMBO(c_sr___, &macro_c_sr___, 12 11 33 30 31)
COMBO(s_c_sr___, &macro_s_c_sr___, 12 11 33 30 31 32)
COMBO(c_go, &macro_c_go, 14 7 33)
COMBO(s_c_go, &macro_s_c_go, 14 7 33 32)
COMBO(c_go___, &macro_c_go___, 14 7 33 30 31)
COMBO(s_c_go___, &macro_s_c_go___, 14 7 33 30 31 32)
COMBO(c_wr, &macro_c_wr, 0 11 33)
COMBO(s_c_wr, &macro_s_c_wr, 0 11 33 32)
COMBO(c_wr___, &macro_c_wr___, 0 11 33 30 31)
COMBO(s_c_wr___, &macro_s_c_wr___, 0 11 33 30 31 32)
COMBO(c_nr, &macro_c_nr, 16 11 33)
COMBO(s_c_nr, &macro_s_c_nr, 16 11 33 32)
COMBO(c_nr___, &macro_c_nr___, 16 11 33 30 31)
COMBO(s_c_nr___, &macro_s_c_nr___, 16 11 33 30 31 32)
COMBO(c_tu, &macro_c_tu, 13 8 33)
COMBO(s_c_tu, &macro_s_c_tu, 13 8 33 32)
COMBO(c_tu___, &macro_c_tu___, 13 8 33 30 31)
COMBO(s_c_tu___, &macro_s_c_tu___, 13 8 33 30 31 32)
COMBO(c_mc, &macro_c_mc, 15 10 33)
COMBO(s_c_mc, &macro_s_c_mc, 15 10 33 32)
COMBO(c_mc___, &macro_c_mc___, 15 10 33 30 31)
COMBO(s_c_mc___, &macro_s_c_mc___, 15 10 33 30 31 32)
COMBO(c_ws, &macro_c_ws, 0 12 33)
COMBO(s_c_ws, &macro_s_c_ws, 0 12 33 32)
COMBO(c_ws___, &macro_c_ws___, 0 12 33 30 31)
COMBO(s_c_ws___, &macro_s_c_ws___, 0 12 33 30 31 32)
COMBO(c_gi, &macro_c_gi, 14 18 33)
COMBO(s_c_gi, &macro_s_c_gi, 14 18 33 32)
COMBO(c_gi___, &macro_c_gi___, 14 18 33 30 31)
COMBO(s_c_gi___, &macro_s_c_gi___, 14 18 33 30 31 32)
COMBO(c_fl, &macro_c_fl, 6 1 33)
COMBO(s_c_fl, &macro_s_c_fl, 6 1 33 32)
COMBO(c_fl_, &macro_c_fl_, 6 1 33 30)
COMBO(s_c_fl_, &macro_s_c_fl_, 6 1 33 30 32)
COMBO(c_fl__, &macro_c_fl__, 6 1 33 31)
COMBO(s_c_fl__, &macro_s_c_fl__, 6 1 33 31 32)
COMBO(c_fl___, &macro_c_fl___, 6 1 33 30 31)
COMBO(s_c_fl___, &macro_s_c_fl___, 6 1 33 30 31 32)
COMBO(c_ye, &macro_c_ye, 2 17 33)
COMBO(s_c_ye, &macro_s_c_ye, 2 17 33 32)
COMBO(c_ye___, &macro_c_ye___, 2 17 33 30 31)
COMBO(s_c_ye___, &macro_s_c_ye___, 2 17 33 30 31 32)
COMBO(c_ca, &macro_c_ca, 10 19 33)
COMBO(s_c_ca, &macro_s_c_ca, 10 19 33 32)
COMBO(c_ca_, &macro_c_ca_, 10 19 33 30)
COMBO(s_c_ca_, &macro_s_c_ca_, 10 19 33 30 32)
COMBO(c_ca__, &macro_c_ca__, 10 19 33 31)
COMBO(s_c_ca__, &macro_s_c_ca__, 10 19 33 31 32)
COMBO(c_ca___, &macro_c_ca___, 10 19 33 30 31)
COMBO(s_c_ca___, &macro_s_c_ca___, 10 19 33 30 31 32)
COMBO(c_wi, &macro_c_wi, 0 18 33)
COMBO(s_c_wi, &macro_s_c_wi, 0 18 33 32)
COMBO(c_wi___, &macro_c_wi___, 0 18 33 30 31)
COMBO(s_c_wi___, &macro_s_c_wi___, 0 18 33 30 31 32)
COMBO(c_ln, &macro_c_ln, 1 16 33)
COMBO(s_c_ln, &macro_s_c_ln, 1 16 33 32)
COMBO(c_ln_, &macro_c_ln_, 1 16 33 30)
COMBO(s_c_ln_, &macro_s_c_ln_, 1 16 33 30 32)
COMBO(c_ln__, &macro_c_ln__, 1 16 33 31)
COMBO(s_c_ln__, &macro_s_c_ln__, 1 16 33 31 32)
COMBO(c_ln___, &macro_c_ln___, 1 16 33 30 31)
COMBO(s_c_ln___, &macro_s_c_ln___, 1 16 33 30 31 32)
COMBO(c_fi, &macro_c_fi, 6 18 33)
COMBO(s_c_fi, &macro_s_c_fi, 6 18 33 32)
COMBO(c_fi___, &macro_c_fi___, 6 18 33 30 31)
COMBO(s_c_fi___, &macro_s_c_fi___, 6 18 33 30 31 32)
COMBO(c_kn, &macro_c_kn, 24 16 33)
COMBO(s_c_kn, &macro_s_c_kn, 24 16 33 32)
COMBO(c_kn___, &macro_c_kn___, 24 16 33 30 31)
COMBO(s_c_kn___, &macro_s_c_kn___, 24 16 33 30 31 32)
COMBO(c_op, &macro_c_op, 7 3 33)
COMBO(s_c_op, &macro_s_c_op, 7 3 33 32)
COMBO(c_op_, &macro_c_op_, 7 3 33 30)
COMBO(s_c_op_, &macro_s_c_op_, 7 3 33 30 32)
COMBO(c_op__, &macro_c_op__, 7 3 33 31)
COMBO(s_c_op__, &macro_s_c_op__, 7 3 33 31 32)
COMBO(c_op___, &macro_c_op___, 7 3 33 30 31)
COMBO(s_c_op___, &macro_s_c_op___, 7 3 33 30 31 32)
COMBO(c_ft, &macro_c_ft, 6 13 33)
COMBO(s_c_ft, &macro_s_c_ft, 6 13 33 32)
COMBO(c_ft___, &macro_c_ft___, 6 13 33 30 31)
COMBO(s_c_ft___, &macro_s_c_ft___, 6 13 33 30 31 32)
COMBO(c_whi, &macro_c_whi, 0 26 18 33)
COMBO(s_c_whi, &macro_s_c_whi, 0 26 18 33 32)
COMBO(c_whi___, &macro_c_whi___, 0 26 18 33 30 31)
COMBO(s_c_whi___, &macro_s_c_whi___, 0 26 18 33 30 31 32)
COMBO(c_p, &macro_c_p, 3 33)
COMBO(s_c_p, &macro_s_c_p, 3 33 32)
COMBO(c_p___, &macro_c_p___, 3 33 30 31)
COMBO(s_c_p___, &macro_s_c_p___, 3 33 30 31 32)
COMBO(c_ths, &macro_c_ths, 13 26 12 33)
COMBO(s_c_ths, &macro_s_c_ths, 13 26 12 33 32)
COMBO(c_ths___, &macro_c_ths___, 13 26 12 33 30 31)
COMBO(s_c_ths___, &macro_s_c_ths___, 13 26 12 33 30 31 32)
COMBO(c_su, &macro_c_su, 12 8 33)
COMBO(s_c_su, &macro_s_c_su, 12 8 33 32)
COMBO(c_su___, &macro_c_su___, 12 8 33 30 31)
COMBO(s_c_su___, &macro_s_c_su___, 12 8 33 30 31 32)
COMBO(c_sm, &macro_c_sm, 12 15 33)
COMBO(s_c_sm, &macro_s_c_sm, 12 15 33 32)
COMBO(c_sm___, &macro_c_sm___, 12 15 33 30 31)
COMBO(s_c_sm___, &macro_s_c_sm___, 12 15 33 30 31 32)
COMBO(c_sp, &macro_c_sp, 12 3 33)
COMBO(s_c_sp, &macro_s_c_sp, 12 3 33 32)
COMBO(c_sp_, &macro_c_sp_, 12 3 33 30)
COMBO(s_c_sp_, &macro_s_c_sp_, 12 3 33 30 32)
COMBO(c_sp__, &macro_c_sp__, 12 3 33 31)
COMBO(s_c_sp__, &macro_s_c_sp__, 12 3 33 31 32)
COMBO(c_sp___, &macro_c_sp___, 12 3 33 30 31)
COMBO(s_c_sp___, &macro_s_c_sp___, 12 3 33 30 31 32)
COMBO(c_v, &macro_c_v, 22 33)
COMBO(s_c_v, &macro_s_c_v, 22 33 32)
COMBO(c_v_, &macro_c_v_, 22 33 30)
COMBO(s_c_v_, &macro_s_c_v_, 22 33 30 32)
COMBO(c_v__, &macro_c_v__, 22 33 31)
COMBO(s_c_v__, &macro_s_c_v__, 22 33 31 32)
COMBO(c_v___, &macro_c_v___, 22 33 30 31)
COMBO(s_c_v___, &macro_s_c_v___, 22 33 30 31 32)
COMBO(c_ve, &macro_c_ve, 22 17 33)
COMBO(s_c_ve, &macro_s_c_ve, 22 17 33 32)
COMBO(c_ve___, &macro_c_ve___, 22 17 33 30 31)
COMBO(s_c_ve___, &macro_s_c_ve___, 22 17 33 30 31 32)
COMBO(c_pu, &macro_c_pu, 3 8 33)
COMBO(s_c_pu, &macro_s_c_pu, 3 8 33 32)
COMBO(c_pu_, &macro_c_pu_, 3 8 33 30)
COMBO(s_c_pu_, &macro_s_c_pu_, 3 8 33 30 32)
COMBO(c_pu__, &macro_c_pu__, 3 8 33 31)
COMBO(s_c_pu__, &macro_s_c_pu__, 3 8 33 31 32)
COMBO(c_pu___, &macro_c_pu___, 3 8 33 30 31)
COMBO(s_c_pu___, &macro_s_c_pu___, 3 8 33 30 31 32)
COMBO(c_la, &macro_c_la, 1 19 33)
COMBO(s_c_la, &macro_s_c_la, 1 19 33 32)
COMBO(c_la_, &macro_c_la_, 1 19 33 30)
COMBO(s_c_la_, &macro_s_c_la_, 1 19 33 30 32)
COMBO(c_la__, &macro_c_la__, 1 19 33 31)
COMBO(s_c_la__, &macro_s_c_la__, 1 19 33 31 32)
COMBO(c_la___, &macro_c_la___, 1 19 33 30 31)
COMBO(s_c_la___, &macro_s_c_la___, 1 19 33 30 31 32)
COMBO(c_oa, &macro_c_oa, 7 19 33)
COMBO(s_c_oa, &macro_s_c_oa, 7 19 33 32)
COMBO(c_oa___, &macro_c_oa___, 7 19 33 30 31)
COMBO(s_c_oa___, &macro_s_c_oa___, 7 19 33 30 31 32)
COMBO(c_cs, &macro_c_cs, 10 12 33)
COMBO(s_c_cs, &macro_s_c_cs, 10 12 33 32)
COMBO(c_cs_, &macro_c_cs_, 10 12 33 30)
COMBO(s_c_cs_, &macro_s_c_cs_, 10 12 33 30 32)
COMBO(c_cs__, &macro_c_cs__, 10 12 33 31)
COMBO(s_c_cs__, &macro_s_c_cs__, 10 12 33 31 32)
COMBO(c_cs___, &macro_c_cs___, 10 12 33 30 31)
COMBO(s_c_cs___, &macro_s_c_cs___, 10 12 33 30 31 32)
COMBO(c_lo, &macro_c_lo, 1 7 33)
COMBO(s_c_lo, &macro_s_c_lo, 1 7 33 32)
COMBO(c_lo_, &macro_c_lo_, 1 7 33 30)
COMBO(s_c_lo_, &macro_s_c_lo_, 1 7 33 30 32)
COMBO(c_lo__, &macro_c_lo__, 1 7 33 31)
COMBO(s_c_lo__, &macro_s_c_lo__, 1 7 33 31 32)
COMBO(c_lo___, &macro_c_lo___, 1 7 33 30 31)
COMBO(s_c_lo___, &macro_s_c_lo___, 1 7 33 30 31 32)
COMBO(c_wat, &macro_c_wat, 0 19 13 33)
COMBO(s_c_wat, &macro_s_c_wat, 0 19 13 33 32)
COMBO(c_wat_, &macro_c_wat_, 0 19 13 33 30)
COMBO(s_c_wat_, &macro_s_c_wat_, 0 19 13 33 30 32)
COMBO(c_wat__, &macro_c_wat__, 0 19 13 33 31)
COMBO(s_c_wat__, &macro_s_c_wat__, 0 19 13 33 31 32)
COMBO(c_wat___, &macro_c_wat___, 0 19 13 33 30 31)
COMBO(s_c_wat___, &macro_s_c_wat___, 0 19 13 33 30 31 32)
COMBO(c_ant, &macro_c_ant, 19 16 13 33)
COMBO(s_c_ant, &macro_s_c_ant, 19 16 13 33 32)
COMBO(c_ant___, &macro_c_ant___, 19 16 13 33 30 31)
COMBO(s_c_ant___, &macro_s_c_ant___, 19 16 13 33 30 31 32)
COMBO(c_il, &macro_c_il, 18 1 33)
COMBO(s_c_il, &macro_s_c_il, 18 1 33 32)
COMBO(c_il___, &macro_c_il___, 18 1 33 30 31)
COMBO(s_c_il___, &macro_s_c_il___, 18 1 33 30 31 32)
COMBO(c_tou, &macro_c_tou, 13 7 8 33)
COMBO(s_c_tou, &macro_s_c_tou, 13 7 8 33 32)
COMBO(c_tou___, &macro_c_tou___, 13 7 8 33 30 31)
COMBO(s_c_tou___, &macro_s_c_tou___, 13 7 8 33 30 31 32)
COMBO(c_hi, &macro_c_hi, 26 18 33)
COMBO(s_c_hi, &macro_s_c_hi, 26 18 33 32)
COMBO(c_hi___, &macro_c_hi___, 26 18 33 30 31)
COMBO(s_c_hi___, &macro_s_c_hi___, 26 18 33 30 31 32)
COMBO(c_cn, &macro_c_cn, 10 16 33)
COMBO(s_c_cn, &macro_s_c_cn, 10 16 33 32)
COMBO(c_cn___, &macro_c_cn___, 10 16 33 30 31)
COMBO(s_c_cn___, &macro_s_c_cn___, 10 16 33 30 31 32)
COMBO(c_yh, &macro_c_yh, 2 26 33)
COMBO(s_c_yh, &macro_s_c_yh, 2 26 33 32)
COMBO(c_yh___, &macro_c_yh___, 2 26 33 30 31)
COMBO(s_c_yh___, &macro_s_c_yh___, 2 26 33 30 31 32)
COMBO(c_wie, &macro_c_wie, 0 18 17 33)
COMBO(s_c_wie, &macro_s_c_wie, 0 18 17 33 32)
COMBO(c_wie___, &macro_c_wie___, 0 18 17 33 30 31)
COMBO(s_c_wie___, &macro_s_c_wie___, 0 18 17 33 30 31 32)
COMBO(c_ma, &macro_c_ma, 15 19 33)
COMBO(s_c_ma, &macro_s_c_ma, 15 19 33 32)
COMBO(c_ma_, &macro_c_ma_, 15 19 33 30)
COMBO(s_c_ma_, &macro_s_c_ma_, 15 19 33 30 32)
COMBO(c_ma__, &macro_c_ma__, 15 19 33 31)
COMBO(s_c_ma__, &macro_s_c_ma__, 15 19 33 31 32)
COMBO(c_ma___, &macro_c_ma___, 15 19 33 30 31)
COMBO(s_c_ma___, &macro_s_c_ma___, 15 19 33 30 31 32)
COMBO(c_pe, &macro_c_pe, 3 17 33)
COMBO(s_c_pe, &macro_s_c_pe, 3 17 33 32)
COMBO(c_pe_, &macro_c_pe_, 3 17 33 30)
COMBO(s_c_pe_, &macro_s_c_pe_, 3 17 33 30 32)
COMBO(c_pe__, &macro_c_pe__, 3 17 33 31)
COMBO(s_c_pe__, &macro_s_c_pe__, 3 17 33 31 32)
COMBO(c_pe___, &macro_c_pe___, 3 17 33 30 31)
COMBO(s_c_pe___, &macro_s_c_pe___, 3 17 33 30 31 32)
COMBO(c_sh, &macro_c_sh, 12 26 33)
COMBO(s_c_sh, &macro_s_c_sh, 12 26 33 32)
COMBO(c_sh___, &macro_c_sh___, 12 26 33 30 31)
COMBO(s_c_sh___, &macro_s_c_sh___, 12 26 33 30 31 32)
COMBO(c_hp, &macro_c_hp, 26 3 33)
COMBO(s_c_hp, &macro_s_c_hp, 26 3 33 32)
COMBO(c_hp_, &macro_c_hp_, 26 3 33 30)
COMBO(s_c_hp_, &macro_s_c_hp_, 26 3 33 30 32)
COMBO(c_hp__, &macro_c_hp__, 26 3 33 31)
COMBO(s_c_hp__, &macro_s_c_hp__, 26 3 33 31 32)
COMBO(c_hp___, &macro_c_hp___, 26 3 33 30 31)
COMBO(s_c_hp___, &macro_s_c_hp___, 26 3 33 30 31 32)
COMBO(c_ct, &macro_c_ct, 10 13 33)
COMBO(s_c_ct, &macro_s_c_ct, 10 13 33 32)
COMBO(c_ct___, &macro_c_ct___, 10 13 33 30 31)
COMBO(s_c_ct___, &macro_s_c_ct___, 10 13 33 30 31 32)
COMBO(c_hse, &macro_c_hse, 26 12 17 33)
COMBO(s_c_hse, &macro_s_c_hse, 26 12 17 33 32)
COMBO(c_hse___, &macro_c_hse___, 26 12 17 33 30 31)
COMBO(s_c_hse___, &macro_s_c_hse___, 26 12 17 33 30 31 32)
COMBO(c_hen, &macro_c_hen, 26 17 16 33)
COMBO(s_c_hen, &macro_s_c_hen, 26 17 16 33 32)
COMBO(c_hen_, &macro_c_hen_, 26 17 16 33 30)
COMBO(s_c_hen_, &macro_s_c_hen_, 26 17 16 33 30 32)
COMBO(c_hen__, &macro_c_hen__, 26 17 16 33 31)
COMBO(s_c_hen__, &macro_s_c_hen__, 26 17 16 33 31 32)
COMBO(c_hen___, &macro_c_hen___, 26 17 16 33 30 31)
COMBO(s_c_hen___, &macro_s_c_hen___, 26 17 16 33 30 31 32)
COMBO(c_ls, &macro_c_ls, 1 12 33)
COMBO(s_c_ls, &macro_s_c_ls, 1 12 33 32)
COMBO(c_ls_, &macro_c_ls_, 1 12 33 30)
COMBO(s_c_ls_, &macro_s_c_ls_, 1 12 33 30 32)
COMBO(c_ls__, &macro_c_ls__, 1 12 33 31)
COMBO(s_c_ls__, &macro_s_c_ls__, 1 12 33 31 32)
COMBO(c_ls___, &macro_c_ls___, 1 12 33 30 31)
COMBO(s_c_ls___, &macro_s_c_ls___, 1 12 33 30 31 32)
COMBO(c_as, &macro_c_as, 19 12 33)
COMBO(s_c_as, &macro_s_c_as, 19 12 33 32)
COMBO(c_as___, &macro_c_as___, 19 12 33 30 31)
COMBO(s_c_as___, &macro_s_c_as___, 19 12 33 30 31 32)
COMBO(c_mo, &macro_c_mo, 15 7 33)
COMBO(s_c_mo, &macro_s_c_mo, 15 7 33 32)
COMBO(c_mo_, &macro_c_mo_, 15 7 33 30)
COMBO(s_c_mo_, &macro_s_c_mo_, 15 7 33 30 32)
COMBO(c_mo__, &macro_c_mo__, 15 7 33 31)
COMBO(s_c_mo__, &macro_s_c_mo__, 15 7 33 31 32)
COMBO(c_mo___, &macro_c_mo___, 15 7 33 30 31)
COMBO(s_c_mo___, &macro_s_c_mo___, 15 7 33 30 31 32)
COMBO(c_ni, &macro_c_ni, 16 18 33)
COMBO(s_c_ni, &macro_s_c_ni, 16 18 33 32)
COMBO(c_ni___, &macro_c_ni___, 16 18 33 30 31)
COMBO(s_c_ni___, &macro_s_c_ni___, 16 18 33 30 31 32)
COMBO(c_ge, &macro_c_ge, 14 17 33)
COMBO(s_c_ge, &macro_s_c_ge, 14 17 33 32)
COMBO(c_ge_, &macro_c_ge_, 14 17 33 30)
COMBO(s_c_ge_, &macro_s_c_ge_, 14 17 33 30 32)
COMBO(c_ge__, &macro_c_ge__, 14 17 33 31)
COMBO(s_c_ge__, &macro_s_c_ge__, 14 17 33 31 32)
COMBO(c_ge___, &macro_c_ge___, 14 17 33 30 31)
COMBO(s_c_ge___, &macro_s_c_ge___, 14 17 33 30 31 32)
COMBO(c_ste, &macro_c_ste, 12 13 17 33)
COMBO(s_c_ste, &macro_s_c_ste, 12 13 17 33 32)
COMBO(c_ste_, &macro_c_ste_, 12 13 17 33 30)
COMBO(s_c_ste_, &macro_s_c_ste_, 12 13 17 33 30 32)
COMBO(c_ste__, &macro_c_ste__, 12 13 17 33 31)
COMBO(s_c_ste__, &macro_s_c_ste__, 12 13 17 33 31 32)
COMBO(c_ste___, &macro_c_ste___, 12 13 17 33 30 31)
COMBO(s_c_ste___, &macro_s_c_ste___, 12 13 17 33 30 31 32)
COMBO(c_sd, &macro_c_sd, 12 23 33)
COMBO(s_c_sd, &macro_s_c_sd, 12 23 33 32)
COMBO(c_sd___, &macro_c_sd___, 12 23 33 30 31)
COMBO(s_c_sd___, &macro_s_c_sd___, 12 23 33 30 31 32)
COMBO(c_mt, &macro_c_mt, 15 13 33)
COMBO(s_c_mt, &macro_s_c_mt, 15 13 33 32)
COMBO(c_mt___, &macro_c_mt___, 15 13 33 30 31)
COMBO(s_c_mt___, &macro_s_c_mt___, 15 13 33 30 31 32)
COMBO(c_ar, &macro_c_ar, 19 11 33)
COMBO(s_c_ar, &macro_s_c_ar, 19 11 33 32)
COMBO(c_ar___, &macro_c_ar___, 19 11 33 30 31)
COMBO(s_c_ar___, &macro_s_c_ar___, 19 11 33 30 31 32)
COMBO(c_bi, &macro_c_bi, 4 18 33)
COMBO(s_c_bi, &macro_s_c_bi, 4 18 33 32)
COMBO(c_bi___, &macro_c_bi___, 4 18 33 30 31)
COMBO(s_c_bi___, &macro_s_c_bi___, 4 18 33 30 31 32)
COMBO(c_snd, &macro_c_snd, 12 16 23 33)
COMBO(s_c_snd, &macro_s_c_snd, 12 16 23 33 32)
COMBO(c_snd_, &macro_c_snd_, 12 16 23 33 30)
COMBO(s_c_snd_, &macro_s_c_snd_, 12 16 23 33 30 32)
COMBO(c_snd__, &macro_c_snd__, 12 16 23 33 31)
COMBO(s_c_snd__, &macro_s_c_snd__, 12 16 23 33 31 32)
COMBO(c_snd___, &macro_c_snd___, 12 16 23 33 30 31)
COMBO(s_c_snd___, &macro_s_c_snd___, 12 16 23 33 30 31 32)
COMBO(c_oc, &macro_c_oc, 7 10 33)
COMBO(s_c_oc, &macro_s_c_oc, 7 10 33 32)
COMBO(c_oc___, &macro_c_oc___, 7 10 33 30 31)
COMBO(s_c_oc___, &macro_s_c_oc___, 7 10 33 30 31 32)
COMBO(c_fd, &macro_c_fd, 6 23 33)
COMBO(s_c_fd, &macro_s_c_fd, 6 23 33 32)
COMBO(c_fd_, &macro_c_fd_, 6 23 33 30)
COMBO(s_c_fd_, &macro_s_c_fd_, 6 23 33 30 32)
COMBO(c_fd__, &macro_c_fd__, 6 23 33 31)
COMBO(s_c_fd__, &macro_s_c_fd__, 6 23 33 31 32)
COMBO(c_fd___, &macro_c_fd___, 6 23 33 30 31)
COMBO(s_c_fd___, &macro_s_c_fd___, 6 23 33 30 31 32)
COMBO(c_trd, &macro_c_trd, 13 11 23 33)
COMBO(s_c_trd, &macro_s_c_trd, 13 11 23 33 32)
COMBO(c_trd___, &macro_c_trd___, 13 11 23 33 30 31)
COMBO(s_c_trd___, &macro_s_c_trd___, 13 11 23 33 30 31 32)
COMBO(c_er, &macro_c_er, 17 11 33)
COMBO(s_c_er, &macro_s_c_er, 17 11 33 32)
COMBO(c_er___, &macro_c_er___, 17 11 33 30 31)
COMBO(s_c_er___, &macro_s_c_er___, 17 11 33 30 31 32)
COMBO(c_nth, &macro_c_nth, 16 13 26 33)
COMBO(s_c_nth, &macro_s_c_nth, 16 13 26 33 32)
COMBO(c_nth___, &macro_c_nth___, 16 13 26 33 30 31)
COMBO(s_c_nth___, &macro_s_c_nth___, 16 13 26 33 30 31 32)
COMBO(c_fo, &macro_c_fo, 6 7 33)
COMBO(s_c_fo, &macro_s_c_fo, 6 7 33 32)
COMBO(c_fo___, &macro_c_fo___, 6 7 33 30 31)
COMBO(s_c_fo___, &macro_s_c_fo___, 6 7 33 30 31 32)
COMBO(c_mte, &macro_c_mte, 15 13 17 33)
COMBO(s_c_mte, &macro_s_c_mte, 15 13 17 33 32)
COMBO(c_mte___, &macro_c_mte___, 15 13 17 33 30 31)
COMBO(s_c_mte___, &macro_s_c_mte___, 15 13 17 33 30 31 32)
COMBO(c_sne, &macro_c_sne, 12 16 17 33)
COMBO(s_c_sne, &macro_s_c_sne, 12 16 17 33 32)
COMBO(c_sne___, &macro_c_sne___, 12 16 17 33 30 31)
COMBO(s_c_sne___, &macro_s_c_sne___, 12 16 17 33 30 31 32)
COMBO(c_rp, &macro_c_rp, 11 3 33)
COMBO(s_c_rp, &macro_s_c_rp, 11 3 33 32)
COMBO(c_rp_, &macro_c_rp_, 11 3 33 30)
COMBO(s_c_rp_, &macro_s_c_rp_, 11 3 33 30 32)
COMBO(c_rp__, &macro_c_rp__, 11 3 33 31)
COMBO(s_c_rp__, &macro_s_c_rp__, 11 3 33 31 32)
COMBO(c_rp___, &macro_c_rp___, 11 3 33 30 31)
COMBO(s_c_rp___, &macro_s_c_rp___, 11 3 33 30 31 32)
COMBO(c_my, &macro_c_my, 15 2 33)
COMBO(s_c_my, &macro_s_c_my, 15 2 33 32)
COMBO(c_my___, &macro_c_my___, 15 2 33 30 31)
COMBO(s_c_my___, &macro_s_c_my___, 15 2 33 30 31 32)
COMBO(c_lea, &macro_c_lea, 1 17 19 33)
COMBO(s_c_lea, &macro_s_c_lea, 1 17 19 33 32)
COMBO(c_lea_, &macro_c_lea_, 1 17 19 33 30)
COMBO(s_c_lea_, &macro_s_c_lea_, 1 17 19 33 30 32)
COMBO(c_lea__, &macro_c_lea__, 1 17 19 33 31)
COMBO(s_c_lea__, &macro_s_c_lea__, 1 17 19 33 31 32)
COMBO(c_lea___, &macro_c_lea___, 1 17 19 33 30 31)
COMBO(s_c_lea___, &macro_s_c_lea___, 1 17 19 33 30 31 32)
COMBO(c_u, &macro_c_u, 8 33)
COMBO(s_c_u, &macro_s_c_u, 8 33 32)
COMBO(c_u_, &macro_c_u_, 8 33 30)
COMBO(s_c_u_, &macro_s_c_u_, 8 33 30 32)
COMBO(c_u__, &macro_c_u__, 8 33 31)
COMBO(s_c_u__, &macro_s_c_u__, 8 33 31 32)
COMBO(c_u___, &macro_c_u___, 8 33 30 31)
COMBO(s_c_u___, &macro_s_c_u___, 8 33 30 31 32)
COMBO(c_mi, &macro_c_mi, 15 18 33)
COMBO(s_c_mi, &macro_s_c_mi, 15 18 33 32)
COMBO(c_mi___, &macro_c_mi___, 15 18 33 30 31)
COMBO(s_c_mi___, &macro_s_c_mi___, 15 18 33 30 31 32)
COMBO(c_mae, &macro_c_mae, 15 19 17 33)
COMBO(s_c_mae, &macro_s_c_mae, 15 19 17 33 32)
COMBO(c_mae___, &macro_c_mae___, 15 19 17 33 30 31)
COMBO(s_c_mae___, &macro_s_c_mae___, 15 19 17 33 30 31 32)
COMBO(c_her, &macro_c_her, 26 17 11 33)
COMBO(s_c_her, &macro_s_c_her, 26 17 11 33 32)
COMBO(c_her___, &macro_c_her___, 26 17 11 33 30 31)
COMBO(s_c_her___, &macro_s_c_her___, 26 17 11 33 30 31 32)
COMBO(c_ans, &macro_c_ans, 19 16 12 33)
COMBO(s_c_ans, &macro_s_c_ans, 19 16 12 33 32)
COMBO(c_ans_, &macro_c_ans_, 19 16 12 33 30)
COMBO(s_c_ans_, &macro_s_c_ans_, 19 16 12 33 30 32)
COMBO(c_ans__, &macro_c_ans__, 19 16 12 33 31)
COMBO(s_c_ans__, &macro_s_c_ans__, 19 16 12 33 31 32)
COMBO(c_ans___, &macro_c_ans___, 19 16 12 33 30 31)
COMBO(s_c_ans___, &macro_s_c_ans___, 19 16 12 33 30 31 32)
COMBO(c_min, &macro_c_min, 15 18 16 33)
COMBO(s_c_min, &macro_s_c_min, 15 18 16 33 32)
COMBO(c_min___, &macro_c_min___, 15 18 16 33 30 31)
COMBO(s_c_min___, &macro_s_c_min___, 15 18 16 33 30 31 32)
COMBO(c_un, &macro_c_un, 8 16 33)
COMBO(s_c_un, &macro_s_c_un, 8 16 33 32)
COMBO(c_un___, &macro_c_un___, 8 16 33 30 31)
COMBO(s_c_un___, &macro_s_c_un___, 8 16 33 30 31 32)
COMBO(c_bh, &macro_c_bh, 4 26 33)
COMBO(s_c_bh, &macro_s_c_bh, 4 26 33 32)
COMBO(c_bh___, &macro_c_bh___, 4 26 33 30 31)
COMBO(s_c_bh___, &macro_s_c_bh___, 4 26 33 30 31 32)
COMBO(c_sal, &macro_c_sal, 12 19 1 33)
COMBO(s_c_sal, &macro_s_c_sal, 12 19 1 33 32)
COMBO(c_sal___, &macro_c_sal___, 12 19 1 33 30 31)
COMBO(s_c_sal___, &macro_s_c_sal___, 12 19 1 33 30 31 32)
COMBO(c_son, &macro_c_son, 12 7 16 33)
COMBO(s_c_son, &macro_s_c_son, 12 7 16 33 32)
COMBO(c_son___, &macro_c_son___, 12 7 16 33 30 31)
COMBO(s_c_son___, &macro_s_c_son___, 12 7 16 33 30 31 32)
COMBO(c_eu, &macro_c_eu, 17 8 33)
COMBO(s_c_eu, &macro_s_c_eu, 17 8 33 32)
COMBO(c_eu___, &macro_c_eu___, 17 8 33 30 31)
COMBO(s_c_eu___, &macro_s_c_eu___, 17 8 33 30 31 32)
COMBO(c_ben, &macro_c_ben, 4 17 16 33)
COMBO(s_c_ben, &macro_s_c_ben, 4 17 16 33 32)
COMBO(c_ben___, &macro_c_ben___, 4 17 16 33 30 31)
COMBO(s_c_ben___, &macro_s_c_ben___, 4 17 16 33 30 31 32)
COMBO(c_sg, &macro_c_sg, 12 14 33)
COMBO(s_c_sg, &macro_s_c_sg, 12 14 33 32)
COMBO(c_sg_, &macro_c_sg_, 12 14 33 30)
COMBO(s_c_sg_, &macro_s_c_sg_, 12 14 33 30 32)
COMBO(c_sg__, &macro_c_sg__, 12 14 33 31)
COMBO(s_c_sg__, &macro_s_c_sg__, 12 14 33 31 32)
COMBO(c_sg___, &macro_c_sg___, 12 14 33 30 31)
COMBO(s_c_sg___, &macro_s_c_sg___, 12 14 33 30 31 32)
