#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <80>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0>; \
  };

COMBO(c_ta, &macro_c_ta, 13 33)
COMBO(s_c_ta, &macro_s_c_ta, 13 33 32)
COMBO(c_td, &macro_c_td, 13 33 30 31)
COMBO(s_c_td, &macro_s_c_td, 13 33 30 31 32)
COMBO(c_aa, &macro_c_aa, 19 33)
COMBO(s_c_aa, &macro_s_c_aa, 19 33 32)
COMBO(c_ad, &macro_c_ad, 19 33 30 31)
COMBO(s_c_ad, &macro_s_c_ad, 19 33 30 31 32)
COMBO(c_wa, &macro_c_wa, 0 33)
COMBO(s_c_wa, &macro_s_c_wa, 0 33 32)
COMBO(c_wd, &macro_c_wd, 0 33 30 31)
COMBO(s_c_wd, &macro_s_c_wd, 0 33 30 31 32)
COMBO(c_ya, &macro_c_ya, 2 33)
COMBO(s_c_ya, &macro_s_c_ya, 2 33 32)
COMBO(c_yd, &macro_c_yd, 2 33 30 31)
COMBO(s_c_yd, &macro_s_c_yd, 2 33 30 31 32)
COMBO(c_ha, &macro_c_ha, 26 33)
COMBO(s_c_ha, &macro_s_c_ha, 26 33 32)
COMBO(c_hd, &macro_c_hd, 26 33 30 31)
COMBO(s_c_hd, &macro_s_c_hd, 26 33 30 31 32)
COMBO(c_sa, &macro_c_sa, 12 33)
COMBO(s_c_sa, &macro_s_c_sa, 12 33 32)
COMBO(c_sd, &macro_c_sd, 12 33 30 31)
COMBO(s_c_sd, &macro_s_c_sd, 12 33 30 31 32)
COMBO(c_tha, &macro_c_tha, 13 26 33)
COMBO(s_c_tha, &macro_s_c_tha, 13 26 33 32)
COMBO(c_thd, &macro_c_thd, 13 26 33 30 31)
COMBO(s_c_thd, &macro_s_c_thd, 13 26 33 30 31 32)
COMBO(c_wta, &macro_c_wta, 0 13 33)
COMBO(s_c_wta, &macro_s_c_wta, 0 13 33 32)
COMBO(c_wtd, &macro_c_wtd, 0 13 33 30 31)
COMBO(s_c_wtd, &macro_s_c_wtd, 0 13 33 30 31 32)
COMBO(c_fa, &macro_c_fa, 6 33)
COMBO(s_c_fa, &macro_s_c_fa, 6 33 32)
COMBO(c_fd, &macro_c_fd, 6 33 30 31)
COMBO(s_c_fd, &macro_s_c_fd, 6 33 30 31 32)
COMBO(c_ba, &macro_c_ba, 4 33)
COMBO(s_c_ba, &macro_s_c_ba, 4 33 32)
COMBO(c_bd, &macro_c_bd, 4 33 30 31)
COMBO(s_c_bd, &macro_s_c_bd, 4 33 30 31 32)
COMBO(c_sia, &macro_c_sia, 12 18 33)
COMBO(s_c_sia, &macro_s_c_sia, 12 18 33 32)
COMBO(c_sid, &macro_c_sid, 12 18 33 30 31)
COMBO(s_c_sid, &macro_s_c_sid, 12 18 33 30 31 32)
COMBO(c_oa, &macro_c_oa, 7 33)
COMBO(s_c_oa, &macro_s_c_oa, 7 33 32)
COMBO(c_od, &macro_c_od, 7 33 30 31)
COMBO(s_c_od, &macro_s_c_od, 7 33 30 31 32)
COMBO(c_la, &macro_c_la, 1 33)
COMBO(s_c_la, &macro_s_c_la, 1 33 32)
COMBO(c_lb, &macro_c_lb, 1 33 30)
COMBO(s_c_lb, &macro_s_c_lb, 1 33 30 32)
COMBO(c_lc, &macro_c_lc, 1 33 31)
COMBO(s_c_lc, &macro_s_c_lc, 1 33 31 32)
COMBO(c_ld, &macro_c_ld, 1 33 30 31)
COMBO(s_c_ld, &macro_s_c_ld, 1 33 30 31 32)
COMBO(c_hea, &macro_c_hea, 26 17 33)
COMBO(s_c_hea, &macro_s_c_hea, 26 17 33 32)
COMBO(c_heb, &macro_c_heb, 26 17 33 30)
COMBO(s_c_heb, &macro_s_c_heb, 26 17 33 30 32)
COMBO(c_hec, &macro_c_hec, 26 17 33 31)
COMBO(s_c_hec, &macro_s_c_hec, 26 17 33 31 32)
COMBO(c_hed, &macro_c_hed, 26 17 33 30 31)
COMBO(s_c_hed, &macro_s_c_hed, 26 17 33 30 31 32)
COMBO(c_wha, &macro_c_wha, 0 26 33)
COMBO(s_c_wha, &macro_s_c_wha, 0 26 33 32)
COMBO(c_whd, &macro_c_whd, 0 26 33 30 31)
COMBO(s_c_whd, &macro_s_c_whd, 0 26 33 30 31 32)
COMBO(c_na, &macro_c_na, 16 33)
COMBO(s_c_na, &macro_s_c_na, 16 33 32)
COMBO(c_nd, &macro_c_nd, 16 33 30 31)
COMBO(s_c_nd, &macro_s_c_nd, 16 33 30 31 32)
COMBO(c_ja, &macro_c_ja, 21 33)
COMBO(s_c_ja, &macro_s_c_ja, 21 33 32)
COMBO(c_jd, &macro_c_jd, 21 33 30 31)
COMBO(s_c_jd, &macro_s_c_jd, 21 33 30 31 32)
COMBO(c_lea, &macro_c_lea, 1 17 33)
COMBO(s_c_lea, &macro_s_c_lea, 1 17 33 32)
COMBO(c_leb, &macro_c_leb, 1 17 33 30)
COMBO(s_c_leb, &macro_s_c_leb, 1 17 33 30 32)
COMBO(c_lec, &macro_c_lec, 1 17 33 31)
COMBO(s_c_lec, &macro_s_c_lec, 1 17 33 31 32)
COMBO(c_led, &macro_c_led, 1 17 33 30 31)
COMBO(s_c_led, &macro_s_c_led, 1 17 33 30 31 32)
COMBO(c_tsa, &macro_c_tsa, 13 12 33)
COMBO(s_c_tsa, &macro_s_c_tsa, 13 12 33 32)
COMBO(c_tsd, &macro_c_tsd, 13 12 33 30 31)
COMBO(s_c_tsd, &macro_s_c_tsd, 13 12 33 30 31 32)
COMBO(c_fra, &macro_c_fra, 6 11 33)
COMBO(s_c_fra, &macro_s_c_fra, 6 11 33 32)
COMBO(c_frd, &macro_c_frd, 6 11 33 30 31)
COMBO(s_c_frd, &macro_s_c_frd, 6 11 33 30 31 32)
COMBO(c_wea, &macro_c_wea, 0 17 33)
COMBO(s_c_wea, &macro_s_c_wea, 0 17 33 32)
COMBO(c_wed, &macro_c_wed, 0 17 33 30 31)
COMBO(s_c_wed, &macro_s_c_wed, 0 17 33 30 31 32)
COMBO(c_baa, &macro_c_baa, 4 19 33)
COMBO(s_c_baa, &macro_s_c_baa, 4 19 33 32)
COMBO(c_bab, &macro_c_bab, 4 19 33 30)
COMBO(s_c_bab, &macro_s_c_bab, 4 19 33 30 32)
COMBO(c_bac, &macro_c_bac, 4 19 33 31)
COMBO(s_c_bac, &macro_s_c_bac, 4 19 33 31 32)
COMBO(c_bad, &macro_c_bad, 4 19 33 30 31)
COMBO(s_c_bad, &macro_s_c_bad, 4 19 33 30 31 32)
COMBO(c_ata, &macro_c_ata, 19 13 33)
COMBO(s_c_ata, &macro_s_c_ata, 19 13 33 32)
COMBO(c_atd, &macro_c_atd, 19 13 33 30 31)
COMBO(s_c_atd, &macro_s_c_atd, 19 13 33 30 31 32)
COMBO(c_ka, &macro_c_ka, 24 33)
COMBO(s_c_ka, &macro_s_c_ka, 24 33 32)
COMBO(c_kb, &macro_c_kb, 24 33 30)
COMBO(s_c_kb, &macro_s_c_kb, 24 33 30 32)
COMBO(c_kc, &macro_c_kc, 24 33 31)
COMBO(s_c_kc, &macro_s_c_kc, 24 33 31 32)
COMBO(c_kd, &macro_c_kd, 24 33 30 31)
COMBO(s_c_kd, &macro_s_c_kd, 24 33 30 31 32)
COMBO(c_wna, &macro_c_wna, 0 16 33)
COMBO(s_c_wna, &macro_s_c_wna, 0 16 33 32)
COMBO(c_wnd, &macro_c_wnd, 0 16 33 30 31)
COMBO(s_c_wnd, &macro_s_c_wnd, 0 16 33 30 31 32)
COMBO(c_ga, &macro_c_ga, 14 33)
COMBO(s_c_ga, &macro_s_c_ga, 14 33 32)
COMBO(c_gb, &macro_c_gb, 14 33 30)
COMBO(s_c_gb, &macro_s_c_gb, 14 33 30 32)
COMBO(c_gc, &macro_c_gc, 14 33 31)
COMBO(s_c_gc, &macro_s_c_gc, 14 33 31 32)
COMBO(c_gd, &macro_c_gd, 14 33 30 31)
COMBO(s_c_gd, &macro_s_c_gd, 14 33 30 31 32)
COMBO(c_tna, &macro_c_tna, 13 16 33)
COMBO(s_c_tna, &macro_s_c_tna, 13 16 33 32)
COMBO(c_tnd, &macro_c_tnd, 13 16 33 30 31)
COMBO(s_c_tnd, &macro_s_c_tnd, 13 16 33 30 31 32)
COMBO(c_ia, &macro_c_ia, 18 33)
COMBO(s_c_ia, &macro_s_c_ia, 18 33 32)
COMBO(c_id, &macro_c_id, 18 33 30 31)
COMBO(s_c_id, &macro_s_c_id, 18 33 30 31 32)
COMBO(c_woa, &macro_c_woa, 0 7 33)
COMBO(s_c_woa, &macro_s_c_woa, 0 7 33 32)
COMBO(c_wod, &macro_c_wod, 0 7 33 30 31)
COMBO(s_c_wod, &macro_s_c_wod, 0 7 33 30 31 32)
COMBO(c_tea, &macro_c_tea, 13 17 33)
COMBO(s_c_tea, &macro_s_c_tea, 13 17 33 32)
COMBO(c_ted, &macro_c_ted, 13 17 33 30 31)
COMBO(s_c_ted, &macro_s_c_ted, 13 17 33 30 31 32)
COMBO(c_ca, &macro_c_ca, 10 33)
COMBO(s_c_ca, &macro_s_c_ca, 10 33 32)
COMBO(c_cd, &macro_c_cd, 10 33 30 31)
COMBO(s_c_cd, &macro_s_c_cd, 10 33 30 31 32)
COMBO(c_da, &macro_c_da, 23 33)
COMBO(s_c_da, &macro_s_c_da, 23 33 32)
COMBO(c_dd, &macro_c_dd, 23 33 30 31)
COMBO(s_c_dd, &macro_s_c_dd, 23 33 30 31 32)
COMBO(c_dna, &macro_c_dna, 23 16 33)
COMBO(s_c_dna, &macro_s_c_dna, 23 16 33 32)
COMBO(c_dnd, &macro_c_dnd, 23 16 33 30 31)
COMBO(s_c_dnd, &macro_s_c_dnd, 23 16 33 30 31 32)
COMBO(c_tia, &macro_c_tia, 13 18 33)
COMBO(s_c_tia, &macro_s_c_tia, 13 18 33 32)
COMBO(c_tib, &macro_c_tib, 13 18 33 30)
COMBO(s_c_tib, &macro_s_c_tib, 13 18 33 30 32)
COMBO(c_tic, &macro_c_tic, 13 18 33 31)
COMBO(s_c_tic, &macro_s_c_tic, 13 18 33 31 32)
COMBO(c_tid, &macro_c_tid, 13 18 33 30 31)
COMBO(s_c_tid, &macro_s_c_tid, 13 18 33 30 31 32)
COMBO(c_dia, &macro_c_dia, 23 18 33)
COMBO(s_c_dia, &macro_s_c_dia, 23 18 33 32)
COMBO(c_did, &macro_c_did, 23 18 33 30 31)
COMBO(s_c_did, &macro_s_c_did, 23 18 33 30 31 32)
COMBO(c_waa, &macro_c_waa, 0 19 33)
COMBO(s_c_waa, &macro_s_c_waa, 0 19 33 32)
COMBO(c_wab, &macro_c_wab, 0 19 33 30)
COMBO(s_c_wab, &macro_s_c_wab, 0 19 33 30 32)
COMBO(c_wac, &macro_c_wac, 0 19 33 31)
COMBO(s_c_wac, &macro_s_c_wac, 0 19 33 31 32)
COMBO(c_wad, &macro_c_wad, 0 19 33 30 31)
COMBO(s_c_wad, &macro_s_c_wad, 0 19 33 30 31 32)
COMBO(c_ea, &macro_c_ea, 17 33)
COMBO(s_c_ea, &macro_s_c_ea, 17 33 32)
COMBO(c_ed, &macro_c_ed, 17 33 30 31)
COMBO(s_c_ed, &macro_s_c_ed, 17 33 30 31 32)
COMBO(c_ora, &macro_c_ora, 7 11 33)
COMBO(s_c_ora, &macro_s_c_ora, 7 11 33 32)
COMBO(c_ord, &macro_c_ord, 7 11 33 30 31)
COMBO(s_c_ord, &macro_s_c_ord, 7 11 33 30 31 32)
COMBO(c_yra, &macro_c_yra, 2 11 33)
COMBO(s_c_yra, &macro_s_c_yra, 2 11 33 32)
COMBO(c_yrd, &macro_c_yrd, 2 11 33 30 31)
COMBO(s_c_yrd, &macro_s_c_yrd, 2 11 33 30 31 32)
COMBO(c_bna, &macro_c_bna, 4 16 33)
COMBO(s_c_bna, &macro_s_c_bna, 4 16 33 32)
COMBO(c_bnd, &macro_c_bnd, 4 16 33 30 31)
COMBO(s_c_bnd, &macro_s_c_bnd, 4 16 33 30 31 32)
COMBO(c_tina, &macro_c_tina, 13 18 16 33)
COMBO(s_c_tina, &macro_s_c_tina, 13 18 16 33 32)
COMBO(c_tinb, &macro_c_tinb, 13 18 16 33 30)
COMBO(s_c_tinb, &macro_s_c_tinb, 13 18 16 33 30 32)
COMBO(c_tinc, &macro_c_tinc, 13 18 16 33 31)
COMBO(s_c_tinc, &macro_s_c_tinc, 13 18 16 33 31 32)
COMBO(c_tind, &macro_c_tind, 13 18 16 33 30 31)
COMBO(s_c_tind, &macro_s_c_tind, 13 18 16 33 30 31 32)
COMBO(c_haa, &macro_c_haa, 26 19 33)
COMBO(s_c_haa, &macro_s_c_haa, 26 19 33 32)
COMBO(c_hab, &macro_c_hab, 26 19 33 30)
COMBO(s_c_hab, &macro_s_c_hab, 26 19 33 30 32)
COMBO(c_hac, &macro_c_hac, 26 19 33 31)
COMBO(s_c_hac, &macro_s_c_hac, 26 19 33 31 32)
COMBO(c_had, &macro_c_had, 26 19 33 30 31)
COMBO(s_c_had, &macro_s_c_had, 26 19 33 30 31 32)
COMBO(c_ana, &macro_c_ana, 19 16 33)
COMBO(s_c_ana, &macro_s_c_ana, 19 16 33 32)
COMBO(c_and, &macro_c_and, 19 16 33 30 31)
COMBO(s_c_and, &macro_s_c_and, 19 16 33 30 31 32)
COMBO(c_hda, &macro_c_hda, 26 23 33)
COMBO(s_c_hda, &macro_s_c_hda, 26 23 33 32)
COMBO(c_hdb, &macro_c_hdb, 26 23 33 30)
COMBO(s_c_hdb, &macro_s_c_hdb, 26 23 33 30 32)
COMBO(c_hdc, &macro_c_hdc, 26 23 33 31)
COMBO(s_c_hdc, &macro_s_c_hdc, 26 23 33 31 32)
COMBO(c_hdd, &macro_c_hdd, 26 23 33 30 31)
COMBO(s_c_hdd, &macro_s_c_hdd, 26 23 33 30 31 32)
COMBO(c_wla, &macro_c_wla, 0 1 33)
COMBO(s_c_wla, &macro_s_c_wla, 0 1 33 32)
COMBO(c_wld, &macro_c_wld, 0 1 33 30 31)
COMBO(s_c_wld, &macro_s_c_wld, 0 1 33 30 31 32)
COMBO(c_bea, &macro_c_bea, 4 17 33)
COMBO(s_c_bea, &macro_s_c_bea, 4 17 33 32)
COMBO(c_bed, &macro_c_bed, 4 17 33 30 31)
COMBO(s_c_bed, &macro_s_c_bed, 4 17 33 30 31 32)
COMBO(c_ma, &macro_c_ma, 15 33)
COMBO(s_c_ma, &macro_s_c_ma, 15 33 32)
COMBO(c_md, &macro_c_md, 15 33 30 31)
COMBO(s_c_md, &macro_s_c_md, 15 33 30 31 32)
COMBO(c_ena, &macro_c_ena, 17 16 33)
COMBO(s_c_ena, &macro_s_c_ena, 17 16 33 32)
COMBO(c_end, &macro_c_end, 17 16 33 30 31)
COMBO(s_c_end, &macro_s_c_end, 17 16 33 30 31 32)
COMBO(c_tra, &macro_c_tra, 13 11 33)
COMBO(s_c_tra, &macro_s_c_tra, 13 11 33 32)
COMBO(c_trb, &macro_c_trb, 13 11 33 30)
COMBO(s_c_trb, &macro_s_c_trb, 13 11 33 30 32)
COMBO(c_trc, &macro_c_trc, 13 11 33 31)
COMBO(s_c_trc, &macro_s_c_trc, 13 11 33 31 32)
COMBO(c_trd, &macro_c_trd, 13 11 33 30 31)
COMBO(s_c_trd, &macro_s_c_trd, 13 11 33 30 31 32)
COMBO(c_cea, &macro_c_cea, 10 17 33)
COMBO(s_c_cea, &macro_s_c_cea, 10 17 33 32)
COMBO(c_ceb, &macro_c_ceb, 10 17 33 30)
COMBO(s_c_ceb, &macro_s_c_ceb, 10 17 33 30 32)
COMBO(c_cec, &macro_c_cec, 10 17 33 31)
COMBO(s_c_cec, &macro_s_c_cec, 10 17 33 31 32)
COMBO(c_ced, &macro_c_ced, 10 17 33 30 31)
COMBO(s_c_ced, &macro_s_c_ced, 10 17 33 30 31 32)
COMBO(c_sea, &macro_c_sea, 12 17 33)
COMBO(s_c_sea, &macro_s_c_sea, 12 17 33 32)
COMBO(c_seb, &macro_c_seb, 12 17 33 30)
COMBO(s_c_seb, &macro_s_c_seb, 12 17 33 30 32)
COMBO(c_sec, &macro_c_sec, 12 17 33 31)
COMBO(s_c_sec, &macro_s_c_sec, 12 17 33 31 32)
COMBO(c_sed, &macro_c_sed, 12 17 33 30 31)
COMBO(s_c_sed, &macro_s_c_sed, 12 17 33 30 31 32)
COMBO(c_ra, &macro_c_ra, 11 33)
COMBO(s_c_ra, &macro_s_c_ra, 11 33 32)
COMBO(c_rd, &macro_c_rd, 11 33 30 31)
COMBO(s_c_rd, &macro_s_c_rd, 11 33 30 31 32)
COMBO(c_fea, &macro_c_fea, 6 17 33)
COMBO(s_c_fea, &macro_s_c_fea, 6 17 33 32)
COMBO(c_feb, &macro_c_feb, 6 17 33 30)
COMBO(s_c_feb, &macro_s_c_feb, 6 17 33 30 32)
COMBO(c_fec, &macro_c_fec, 6 17 33 31)
COMBO(s_c_fec, &macro_s_c_fec, 6 17 33 31 32)
COMBO(c_fed, &macro_c_fed, 6 17 33 30 31)
COMBO(s_c_fed, &macro_s_c_fed, 6 17 33 30 31 32)
COMBO(c_ota, &macro_c_ota, 7 13 33)
COMBO(s_c_ota, &macro_s_c_ota, 7 13 33 32)
COMBO(c_otd, &macro_c_otd, 7 13 33 30 31)
COMBO(s_c_otd, &macro_s_c_otd, 7 13 33 30 31 32)
COMBO(c_soa, &macro_c_soa, 12 7 33)
COMBO(s_c_soa, &macro_s_c_soa, 12 7 33 32)
COMBO(c_sod, &macro_c_sod, 12 7 33 30 31)
COMBO(s_c_sod, &macro_s_c_sod, 12 7 33 30 31 32)
COMBO(c_ria, &macro_c_ria, 11 18 33)
COMBO(s_c_ria, &macro_s_c_ria, 11 18 33 32)
COMBO(c_rid, &macro_c_rid, 11 18 33 30 31)
COMBO(s_c_rid, &macro_s_c_rid, 11 18 33 30 31 32)
COMBO(c_teia, &macro_c_teia, 13 17 18 33)
COMBO(s_c_teia, &macro_s_c_teia, 13 17 18 33 32)
COMBO(c_teid, &macro_c_teid, 13 17 18 33 30 31)
COMBO(s_c_teid, &macro_s_c_teid, 13 17 18 33 30 31 32)
COMBO(c_ona, &macro_c_ona, 7 16 33)
COMBO(s_c_ona, &macro_s_c_ona, 7 16 33 32)
COMBO(c_ond, &macro_c_ond, 7 16 33 30 31)
COMBO(s_c_ond, &macro_s_c_ond, 7 16 33 30 31 32)
COMBO(c_mea, &macro_c_mea, 15 17 33)
COMBO(s_c_mea, &macro_s_c_mea, 15 17 33 32)
COMBO(c_meb, &macro_c_meb, 15 17 33 30)
COMBO(s_c_meb, &macro_s_c_meb, 15 17 33 30 32)
COMBO(c_mec, &macro_c_mec, 15 17 33 31)
COMBO(s_c_mec, &macro_s_c_mec, 15 17 33 31 32)
COMBO(c_med, &macro_c_med, 15 17 33 30 31)
COMBO(s_c_med, &macro_s_c_med, 15 17 33 30 31 32)
COMBO(c_sna, &macro_c_sna, 12 16 33)
COMBO(s_c_sna, &macro_s_c_sna, 12 16 33 32)
COMBO(c_snd, &macro_c_snd, 12 16 33 30 31)
COMBO(s_c_snd, &macro_s_c_snd, 12 16 33 30 31 32)
COMBO(c_rma, &macro_c_rma, 11 15 33)
COMBO(s_c_rma, &macro_s_c_rma, 11 15 33 32)
COMBO(c_rmd, &macro_c_rmd, 11 15 33 30 31)
COMBO(s_c_rmd, &macro_s_c_rmd, 11 15 33 30 31 32)
COMBO(c_aia, &macro_c_aia, 19 18 33)
COMBO(s_c_aia, &macro_s_c_aia, 19 18 33 32)
COMBO(c_aid, &macro_c_aid, 19 18 33 30 31)
COMBO(s_c_aid, &macro_s_c_aid, 19 18 33 30 31 32)
COMBO(c_thia, &macro_c_thia, 13 26 18 33)
COMBO(s_c_thia, &macro_s_c_thia, 13 26 18 33 32)
COMBO(c_thid, &macro_c_thid, 13 26 18 33 30 31)
COMBO(s_c_thid, &macro_s_c_thid, 13 26 18 33 30 31 32)
COMBO(c_aea, &macro_c_aea, 19 17 33)
COMBO(s_c_aea, &macro_s_c_aea, 19 17 33 32)
COMBO(c_aed, &macro_c_aed, 19 17 33 30 31)
COMBO(s_c_aed, &macro_s_c_aed, 19 17 33 30 31 32)
COMBO(c_stia, &macro_c_stia, 12 13 18 33)
COMBO(s_c_stia, &macro_s_c_stia, 12 13 18 33 32)
COMBO(c_stid, &macro_c_stid, 12 13 18 33 30 31)
COMBO(s_c_stid, &macro_s_c_stid, 12 13 18 33 30 31 32)
COMBO(c_dra, &macro_c_dra, 23 11 33)
COMBO(s_c_dra, &macro_s_c_dra, 23 11 33 32)
COMBO(c_drd, &macro_c_drd, 23 11 33 30 31)
COMBO(s_c_drd, &macro_s_c_drd, 23 11 33 30 31 32)
COMBO(c_hra, &macro_c_hra, 26 11 33)
COMBO(s_c_hra, &macro_s_c_hra, 26 11 33 32)
COMBO(c_hrd, &macro_c_hrd, 26 11 33 30 31)
COMBO(s_c_hrd, &macro_s_c_hrd, 26 11 33 30 31 32)
COMBO(c_lta, &macro_c_lta, 1 13 33)
COMBO(s_c_lta, &macro_s_c_lta, 1 13 33 32)
COMBO(c_ltd, &macro_c_ltd, 1 13 33 30 31)
COMBO(s_c_ltd, &macro_s_c_ltd, 1 13 33 30 31 32)
COMBO(c_bsa, &macro_c_bsa, 4 12 33)
COMBO(s_c_bsa, &macro_s_c_bsa, 4 12 33 32)
COMBO(c_bsd, &macro_c_bsd, 4 12 33 30 31)
COMBO(s_c_bsd, &macro_s_c_bsd, 4 12 33 30 31 32)
COMBO(c_aya, &macro_c_aya, 19 2 33)
COMBO(s_c_aya, &macro_s_c_aya, 19 2 33 32)
COMBO(c_ayd, &macro_c_ayd, 19 2 33 30 31)
COMBO(s_c_ayd, &macro_s_c_ayd, 19 2 33 30 31 32)
COMBO(c_sra, &macro_c_sra, 12 11 33)
COMBO(s_c_sra, &macro_s_c_sra, 12 11 33 32)
COMBO(c_srb, &macro_c_srb, 12 11 33 30)
COMBO(s_c_srb, &macro_s_c_srb, 12 11 33 30 32)
COMBO(c_src, &macro_c_src, 12 11 33 31)
COMBO(s_c_src, &macro_s_c_src, 12 11 33 31 32)
COMBO(c_srd, &macro_c_srd, 12 11 33 30 31)
COMBO(s_c_srd, &macro_s_c_srd, 12 11 33 30 31 32)
COMBO(c_goa, &macro_c_goa, 14 7 33)
COMBO(s_c_goa, &macro_s_c_goa, 14 7 33 32)
COMBO(c_god, &macro_c_god, 14 7 33 30 31)
COMBO(s_c_god, &macro_s_c_god, 14 7 33 30 31 32)
COMBO(c_wra, &macro_c_wra, 0 11 33)
COMBO(s_c_wra, &macro_s_c_wra, 0 11 33 32)
COMBO(c_wrd, &macro_c_wrd, 0 11 33 30 31)
COMBO(s_c_wrd, &macro_s_c_wrd, 0 11 33 30 31 32)
COMBO(c_nra, &macro_c_nra, 16 11 33)
COMBO(s_c_nra, &macro_s_c_nra, 16 11 33 32)
COMBO(c_nrd, &macro_c_nrd, 16 11 33 30 31)
COMBO(s_c_nrd, &macro_s_c_nrd, 16 11 33 30 31 32)
COMBO(c_tua, &macro_c_tua, 13 8 33)
COMBO(s_c_tua, &macro_s_c_tua, 13 8 33 32)
COMBO(c_tud, &macro_c_tud, 13 8 33 30 31)
COMBO(s_c_tud, &macro_s_c_tud, 13 8 33 30 31 32)
COMBO(c_mca, &macro_c_mca, 15 10 33)
COMBO(s_c_mca, &macro_s_c_mca, 15 10 33 32)
COMBO(c_mcd, &macro_c_mcd, 15 10 33 30 31)
COMBO(s_c_mcd, &macro_s_c_mcd, 15 10 33 30 31 32)
COMBO(c_wsa, &macro_c_wsa, 0 12 33)
COMBO(s_c_wsa, &macro_s_c_wsa, 0 12 33 32)
COMBO(c_wsd, &macro_c_wsd, 0 12 33 30 31)
COMBO(s_c_wsd, &macro_s_c_wsd, 0 12 33 30 31 32)
COMBO(c_gia, &macro_c_gia, 14 18 33)
COMBO(s_c_gia, &macro_s_c_gia, 14 18 33 32)
COMBO(c_gid, &macro_c_gid, 14 18 33 30 31)
COMBO(s_c_gid, &macro_s_c_gid, 14 18 33 30 31 32)
COMBO(c_fla, &macro_c_fla, 6 1 33)
COMBO(s_c_fla, &macro_s_c_fla, 6 1 33 32)
COMBO(c_flb, &macro_c_flb, 6 1 33 30)
COMBO(s_c_flb, &macro_s_c_flb, 6 1 33 30 32)
COMBO(c_flc, &macro_c_flc, 6 1 33 31)
COMBO(s_c_flc, &macro_s_c_flc, 6 1 33 31 32)
COMBO(c_fld, &macro_c_fld, 6 1 33 30 31)
COMBO(s_c_fld, &macro_s_c_fld, 6 1 33 30 31 32)
COMBO(c_yea, &macro_c_yea, 2 17 33)
COMBO(s_c_yea, &macro_s_c_yea, 2 17 33 32)
COMBO(c_yed, &macro_c_yed, 2 17 33 30 31)
COMBO(s_c_yed, &macro_s_c_yed, 2 17 33 30 31 32)
COMBO(c_caa, &macro_c_caa, 10 19 33)
COMBO(s_c_caa, &macro_s_c_caa, 10 19 33 32)
COMBO(c_cab, &macro_c_cab, 10 19 33 30)
COMBO(s_c_cab, &macro_s_c_cab, 10 19 33 30 32)
COMBO(c_cac, &macro_c_cac, 10 19 33 31)
COMBO(s_c_cac, &macro_s_c_cac, 10 19 33 31 32)
COMBO(c_cad, &macro_c_cad, 10 19 33 30 31)
COMBO(s_c_cad, &macro_s_c_cad, 10 19 33 30 31 32)
COMBO(c_wia, &macro_c_wia, 0 18 33)
COMBO(s_c_wia, &macro_s_c_wia, 0 18 33 32)
COMBO(c_wid, &macro_c_wid, 0 18 33 30 31)
COMBO(s_c_wid, &macro_s_c_wid, 0 18 33 30 31 32)
COMBO(c_lna, &macro_c_lna, 1 16 33)
COMBO(s_c_lna, &macro_s_c_lna, 1 16 33 32)
COMBO(c_lnb, &macro_c_lnb, 1 16 33 30)
COMBO(s_c_lnb, &macro_s_c_lnb, 1 16 33 30 32)
COMBO(c_lnc, &macro_c_lnc, 1 16 33 31)
COMBO(s_c_lnc, &macro_s_c_lnc, 1 16 33 31 32)
COMBO(c_lnd, &macro_c_lnd, 1 16 33 30 31)
COMBO(s_c_lnd, &macro_s_c_lnd, 1 16 33 30 31 32)
COMBO(c_fia, &macro_c_fia, 6 18 33)
COMBO(s_c_fia, &macro_s_c_fia, 6 18 33 32)
COMBO(c_fid, &macro_c_fid, 6 18 33 30 31)
COMBO(s_c_fid, &macro_s_c_fid, 6 18 33 30 31 32)
COMBO(c_kna, &macro_c_kna, 24 16 33)
COMBO(s_c_kna, &macro_s_c_kna, 24 16 33 32)
COMBO(c_knd, &macro_c_knd, 24 16 33 30 31)
COMBO(s_c_knd, &macro_s_c_knd, 24 16 33 30 31 32)
COMBO(c_opa, &macro_c_opa, 7 3 33)
COMBO(s_c_opa, &macro_s_c_opa, 7 3 33 32)
COMBO(c_opb, &macro_c_opb, 7 3 33 30)
COMBO(s_c_opb, &macro_s_c_opb, 7 3 33 30 32)
COMBO(c_opc, &macro_c_opc, 7 3 33 31)
COMBO(s_c_opc, &macro_s_c_opc, 7 3 33 31 32)
COMBO(c_opd, &macro_c_opd, 7 3 33 30 31)
COMBO(s_c_opd, &macro_s_c_opd, 7 3 33 30 31 32)
COMBO(c_fta, &macro_c_fta, 6 13 33)
COMBO(s_c_fta, &macro_s_c_fta, 6 13 33 32)
COMBO(c_ftd, &macro_c_ftd, 6 13 33 30 31)
COMBO(s_c_ftd, &macro_s_c_ftd, 6 13 33 30 31 32)
COMBO(c_whia, &macro_c_whia, 0 26 18 33)
COMBO(s_c_whia, &macro_s_c_whia, 0 26 18 33 32)
COMBO(c_whid, &macro_c_whid, 0 26 18 33 30 31)
COMBO(s_c_whid, &macro_s_c_whid, 0 26 18 33 30 31 32)
COMBO(c_pa, &macro_c_pa, 3 33)
COMBO(s_c_pa, &macro_s_c_pa, 3 33 32)
COMBO(c_pd, &macro_c_pd, 3 33 30 31)
COMBO(s_c_pd, &macro_s_c_pd, 3 33 30 31 32)
COMBO(c_thsa, &macro_c_thsa, 13 26 12 33)
COMBO(s_c_thsa, &macro_s_c_thsa, 13 26 12 33 32)
COMBO(c_thsd, &macro_c_thsd, 13 26 12 33 30 31)
COMBO(s_c_thsd, &macro_s_c_thsd, 13 26 12 33 30 31 32)
COMBO(c_sua, &macro_c_sua, 12 8 33)
COMBO(s_c_sua, &macro_s_c_sua, 12 8 33 32)
COMBO(c_sud, &macro_c_sud, 12 8 33 30 31)
COMBO(s_c_sud, &macro_s_c_sud, 12 8 33 30 31 32)
COMBO(c_sma, &macro_c_sma, 12 15 33)
COMBO(s_c_sma, &macro_s_c_sma, 12 15 33 32)
COMBO(c_smd, &macro_c_smd, 12 15 33 30 31)
COMBO(s_c_smd, &macro_s_c_smd, 12 15 33 30 31 32)
COMBO(c_spa, &macro_c_spa, 12 3 33)
COMBO(s_c_spa, &macro_s_c_spa, 12 3 33 32)
COMBO(c_spb, &macro_c_spb, 12 3 33 30)
COMBO(s_c_spb, &macro_s_c_spb, 12 3 33 30 32)
COMBO(c_spc, &macro_c_spc, 12 3 33 31)
COMBO(s_c_spc, &macro_s_c_spc, 12 3 33 31 32)
COMBO(c_spd, &macro_c_spd, 12 3 33 30 31)
COMBO(s_c_spd, &macro_s_c_spd, 12 3 33 30 31 32)
COMBO(c_va, &macro_c_va, 22 33)
COMBO(s_c_va, &macro_s_c_va, 22 33 32)
COMBO(c_vb, &macro_c_vb, 22 33 30)
COMBO(s_c_vb, &macro_s_c_vb, 22 33 30 32)
COMBO(c_vc, &macro_c_vc, 22 33 31)
COMBO(s_c_vc, &macro_s_c_vc, 22 33 31 32)
COMBO(c_vd, &macro_c_vd, 22 33 30 31)
COMBO(s_c_vd, &macro_s_c_vd, 22 33 30 31 32)
COMBO(c_vea, &macro_c_vea, 22 17 33)
COMBO(s_c_vea, &macro_s_c_vea, 22 17 33 32)
COMBO(c_ved, &macro_c_ved, 22 17 33 30 31)
COMBO(s_c_ved, &macro_s_c_ved, 22 17 33 30 31 32)
COMBO(c_pua, &macro_c_pua, 3 8 33)
COMBO(s_c_pua, &macro_s_c_pua, 3 8 33 32)
COMBO(c_pub, &macro_c_pub, 3 8 33 30)
COMBO(s_c_pub, &macro_s_c_pub, 3 8 33 30 32)
COMBO(c_puc, &macro_c_puc, 3 8 33 31)
COMBO(s_c_puc, &macro_s_c_puc, 3 8 33 31 32)
COMBO(c_pud, &macro_c_pud, 3 8 33 30 31)
COMBO(s_c_pud, &macro_s_c_pud, 3 8 33 30 31 32)
COMBO(c_laa, &macro_c_laa, 1 19 33)
COMBO(s_c_laa, &macro_s_c_laa, 1 19 33 32)
COMBO(c_lab, &macro_c_lab, 1 19 33 30)
COMBO(s_c_lab, &macro_s_c_lab, 1 19 33 30 32)
COMBO(c_lac, &macro_c_lac, 1 19 33 31)
COMBO(s_c_lac, &macro_s_c_lac, 1 19 33 31 32)
COMBO(c_lad, &macro_c_lad, 1 19 33 30 31)
COMBO(s_c_lad, &macro_s_c_lad, 1 19 33 30 31 32)
COMBO(c_oaa, &macro_c_oaa, 7 19 33)
COMBO(s_c_oaa, &macro_s_c_oaa, 7 19 33 32)
COMBO(c_oad, &macro_c_oad, 7 19 33 30 31)
COMBO(s_c_oad, &macro_s_c_oad, 7 19 33 30 31 32)
COMBO(c_csa, &macro_c_csa, 10 12 33)
COMBO(s_c_csa, &macro_s_c_csa, 10 12 33 32)
COMBO(c_csb, &macro_c_csb, 10 12 33 30)
COMBO(s_c_csb, &macro_s_c_csb, 10 12 33 30 32)
COMBO(c_csc, &macro_c_csc, 10 12 33 31)
COMBO(s_c_csc, &macro_s_c_csc, 10 12 33 31 32)
COMBO(c_csd, &macro_c_csd, 10 12 33 30 31)
COMBO(s_c_csd, &macro_s_c_csd, 10 12 33 30 31 32)
COMBO(c_loa, &macro_c_loa, 1 7 33)
COMBO(s_c_loa, &macro_s_c_loa, 1 7 33 32)
COMBO(c_lob, &macro_c_lob, 1 7 33 30)
COMBO(s_c_lob, &macro_s_c_lob, 1 7 33 30 32)
COMBO(c_loc, &macro_c_loc, 1 7 33 31)
COMBO(s_c_loc, &macro_s_c_loc, 1 7 33 31 32)
COMBO(c_lod, &macro_c_lod, 1 7 33 30 31)
COMBO(s_c_lod, &macro_s_c_lod, 1 7 33 30 31 32)
COMBO(c_wata, &macro_c_wata, 0 19 13 33)
COMBO(s_c_wata, &macro_s_c_wata, 0 19 13 33 32)
COMBO(c_watb, &macro_c_watb, 0 19 13 33 30)
COMBO(s_c_watb, &macro_s_c_watb, 0 19 13 33 30 32)
COMBO(c_watc, &macro_c_watc, 0 19 13 33 31)
COMBO(s_c_watc, &macro_s_c_watc, 0 19 13 33 31 32)
COMBO(c_watd, &macro_c_watd, 0 19 13 33 30 31)
COMBO(s_c_watd, &macro_s_c_watd, 0 19 13 33 30 31 32)
COMBO(c_anta, &macro_c_anta, 19 16 13 33)
COMBO(s_c_anta, &macro_s_c_anta, 19 16 13 33 32)
COMBO(c_antd, &macro_c_antd, 19 16 13 33 30 31)
COMBO(s_c_antd, &macro_s_c_antd, 19 16 13 33 30 31 32)
COMBO(c_ila, &macro_c_ila, 18 1 33)
COMBO(s_c_ila, &macro_s_c_ila, 18 1 33 32)
COMBO(c_ild, &macro_c_ild, 18 1 33 30 31)
COMBO(s_c_ild, &macro_s_c_ild, 18 1 33 30 31 32)
COMBO(c_toua, &macro_c_toua, 13 7 8 33)
COMBO(s_c_toua, &macro_s_c_toua, 13 7 8 33 32)
COMBO(c_toud, &macro_c_toud, 13 7 8 33 30 31)
COMBO(s_c_toud, &macro_s_c_toud, 13 7 8 33 30 31 32)
COMBO(c_hia, &macro_c_hia, 26 18 33)
COMBO(s_c_hia, &macro_s_c_hia, 26 18 33 32)
COMBO(c_hid, &macro_c_hid, 26 18 33 30 31)
COMBO(s_c_hid, &macro_s_c_hid, 26 18 33 30 31 32)
COMBO(c_cna, &macro_c_cna, 10 16 33)
COMBO(s_c_cna, &macro_s_c_cna, 10 16 33 32)
COMBO(c_cnd, &macro_c_cnd, 10 16 33 30 31)
COMBO(s_c_cnd, &macro_s_c_cnd, 10 16 33 30 31 32)
COMBO(c_yha, &macro_c_yha, 2 26 33)
COMBO(s_c_yha, &macro_s_c_yha, 2 26 33 32)
COMBO(c_yhd, &macro_c_yhd, 2 26 33 30 31)
COMBO(s_c_yhd, &macro_s_c_yhd, 2 26 33 30 31 32)
COMBO(c_wiea, &macro_c_wiea, 0 18 17 33)
COMBO(s_c_wiea, &macro_s_c_wiea, 0 18 17 33 32)
COMBO(c_wied, &macro_c_wied, 0 18 17 33 30 31)
COMBO(s_c_wied, &macro_s_c_wied, 0 18 17 33 30 31 32)
COMBO(c_maa, &macro_c_maa, 15 19 33)
COMBO(s_c_maa, &macro_s_c_maa, 15 19 33 32)
COMBO(c_mab, &macro_c_mab, 15 19 33 30)
COMBO(s_c_mab, &macro_s_c_mab, 15 19 33 30 32)
COMBO(c_mac, &macro_c_mac, 15 19 33 31)
COMBO(s_c_mac, &macro_s_c_mac, 15 19 33 31 32)
COMBO(c_mad, &macro_c_mad, 15 19 33 30 31)
COMBO(s_c_mad, &macro_s_c_mad, 15 19 33 30 31 32)
COMBO(c_pea, &macro_c_pea, 3 17 33)
COMBO(s_c_pea, &macro_s_c_pea, 3 17 33 32)
COMBO(c_peb, &macro_c_peb, 3 17 33 30)
COMBO(s_c_peb, &macro_s_c_peb, 3 17 33 30 32)
COMBO(c_pec, &macro_c_pec, 3 17 33 31)
COMBO(s_c_pec, &macro_s_c_pec, 3 17 33 31 32)
COMBO(c_ped, &macro_c_ped, 3 17 33 30 31)
COMBO(s_c_ped, &macro_s_c_ped, 3 17 33 30 31 32)
COMBO(c_sha, &macro_c_sha, 12 26 33)
COMBO(s_c_sha, &macro_s_c_sha, 12 26 33 32)
COMBO(c_shd, &macro_c_shd, 12 26 33 30 31)
COMBO(s_c_shd, &macro_s_c_shd, 12 26 33 30 31 32)
COMBO(c_hpa, &macro_c_hpa, 26 3 33)
COMBO(s_c_hpa, &macro_s_c_hpa, 26 3 33 32)
COMBO(c_hpb, &macro_c_hpb, 26 3 33 30)
COMBO(s_c_hpb, &macro_s_c_hpb, 26 3 33 30 32)
COMBO(c_hpc, &macro_c_hpc, 26 3 33 31)
COMBO(s_c_hpc, &macro_s_c_hpc, 26 3 33 31 32)
COMBO(c_hpd, &macro_c_hpd, 26 3 33 30 31)
COMBO(s_c_hpd, &macro_s_c_hpd, 26 3 33 30 31 32)
COMBO(c_cta, &macro_c_cta, 10 13 33)
COMBO(s_c_cta, &macro_s_c_cta, 10 13 33 32)
COMBO(c_ctd, &macro_c_ctd, 10 13 33 30 31)
COMBO(s_c_ctd, &macro_s_c_ctd, 10 13 33 30 31 32)
COMBO(c_hsea, &macro_c_hsea, 26 12 17 33)
COMBO(s_c_hsea, &macro_s_c_hsea, 26 12 17 33 32)
COMBO(c_hsed, &macro_c_hsed, 26 12 17 33 30 31)
COMBO(s_c_hsed, &macro_s_c_hsed, 26 12 17 33 30 31 32)
COMBO(c_hena, &macro_c_hena, 26 17 16 33)
COMBO(s_c_hena, &macro_s_c_hena, 26 17 16 33 32)
COMBO(c_henb, &macro_c_henb, 26 17 16 33 30)
COMBO(s_c_henb, &macro_s_c_henb, 26 17 16 33 30 32)
COMBO(c_henc, &macro_c_henc, 26 17 16 33 31)
COMBO(s_c_henc, &macro_s_c_henc, 26 17 16 33 31 32)
COMBO(c_hend, &macro_c_hend, 26 17 16 33 30 31)
COMBO(s_c_hend, &macro_s_c_hend, 26 17 16 33 30 31 32)
COMBO(c_lsa, &macro_c_lsa, 1 12 33)
COMBO(s_c_lsa, &macro_s_c_lsa, 1 12 33 32)
COMBO(c_lsb, &macro_c_lsb, 1 12 33 30)
COMBO(s_c_lsb, &macro_s_c_lsb, 1 12 33 30 32)
COMBO(c_lsc, &macro_c_lsc, 1 12 33 31)
COMBO(s_c_lsc, &macro_s_c_lsc, 1 12 33 31 32)
COMBO(c_lsd, &macro_c_lsd, 1 12 33 30 31)
COMBO(s_c_lsd, &macro_s_c_lsd, 1 12 33 30 31 32)
COMBO(c_asa, &macro_c_asa, 19 12 33)
COMBO(s_c_asa, &macro_s_c_asa, 19 12 33 32)
COMBO(c_asd, &macro_c_asd, 19 12 33 30 31)
COMBO(s_c_asd, &macro_s_c_asd, 19 12 33 30 31 32)
COMBO(c_moa, &macro_c_moa, 15 7 33)
COMBO(s_c_moa, &macro_s_c_moa, 15 7 33 32)
COMBO(c_mob, &macro_c_mob, 15 7 33 30)
COMBO(s_c_mob, &macro_s_c_mob, 15 7 33 30 32)
COMBO(c_moc, &macro_c_moc, 15 7 33 31)
COMBO(s_c_moc, &macro_s_c_moc, 15 7 33 31 32)
COMBO(c_mod, &macro_c_mod, 15 7 33 30 31)
COMBO(s_c_mod, &macro_s_c_mod, 15 7 33 30 31 32)
COMBO(c_nia, &macro_c_nia, 16 18 33)
COMBO(s_c_nia, &macro_s_c_nia, 16 18 33 32)
COMBO(c_nid, &macro_c_nid, 16 18 33 30 31)
COMBO(s_c_nid, &macro_s_c_nid, 16 18 33 30 31 32)
COMBO(c_gea, &macro_c_gea, 14 17 33)
COMBO(s_c_gea, &macro_s_c_gea, 14 17 33 32)
COMBO(c_geb, &macro_c_geb, 14 17 33 30)
COMBO(s_c_geb, &macro_s_c_geb, 14 17 33 30 32)
COMBO(c_gec, &macro_c_gec, 14 17 33 31)
COMBO(s_c_gec, &macro_s_c_gec, 14 17 33 31 32)
COMBO(c_ged, &macro_c_ged, 14 17 33 30 31)
COMBO(s_c_ged, &macro_s_c_ged, 14 17 33 30 31 32)
COMBO(c_stea, &macro_c_stea, 12 13 17 33)
COMBO(s_c_stea, &macro_s_c_stea, 12 13 17 33 32)
COMBO(c_steb, &macro_c_steb, 12 13 17 33 30)
COMBO(s_c_steb, &macro_s_c_steb, 12 13 17 33 30 32)
COMBO(c_stec, &macro_c_stec, 12 13 17 33 31)
COMBO(s_c_stec, &macro_s_c_stec, 12 13 17 33 31 32)
COMBO(c_sted, &macro_c_sted, 12 13 17 33 30 31)
COMBO(s_c_sted, &macro_s_c_sted, 12 13 17 33 30 31 32)
COMBO(c_sda, &macro_c_sda, 12 23 33)
COMBO(s_c_sda, &macro_s_c_sda, 12 23 33 32)
COMBO(c_sdd, &macro_c_sdd, 12 23 33 30 31)
COMBO(s_c_sdd, &macro_s_c_sdd, 12 23 33 30 31 32)
COMBO(c_mta, &macro_c_mta, 15 13 33)
COMBO(s_c_mta, &macro_s_c_mta, 15 13 33 32)
COMBO(c_mtd, &macro_c_mtd, 15 13 33 30 31)
COMBO(s_c_mtd, &macro_s_c_mtd, 15 13 33 30 31 32)
COMBO(c_ara, &macro_c_ara, 19 11 33)
COMBO(s_c_ara, &macro_s_c_ara, 19 11 33 32)
COMBO(c_ard, &macro_c_ard, 19 11 33 30 31)
COMBO(s_c_ard, &macro_s_c_ard, 19 11 33 30 31 32)
COMBO(c_bia, &macro_c_bia, 4 18 33)
COMBO(s_c_bia, &macro_s_c_bia, 4 18 33 32)
COMBO(c_bid, &macro_c_bid, 4 18 33 30 31)
COMBO(s_c_bid, &macro_s_c_bid, 4 18 33 30 31 32)
COMBO(c_snda, &macro_c_snda, 12 16 23 33)
COMBO(s_c_snda, &macro_s_c_snda, 12 16 23 33 32)
COMBO(c_sndb, &macro_c_sndb, 12 16 23 33 30)
COMBO(s_c_sndb, &macro_s_c_sndb, 12 16 23 33 30 32)
COMBO(c_sndc, &macro_c_sndc, 12 16 23 33 31)
COMBO(s_c_sndc, &macro_s_c_sndc, 12 16 23 33 31 32)
COMBO(c_sndd, &macro_c_sndd, 12 16 23 33 30 31)
COMBO(s_c_sndd, &macro_s_c_sndd, 12 16 23 33 30 31 32)
COMBO(c_oca, &macro_c_oca, 7 10 33)
COMBO(s_c_oca, &macro_s_c_oca, 7 10 33 32)
COMBO(c_ocd, &macro_c_ocd, 7 10 33 30 31)
COMBO(s_c_ocd, &macro_s_c_ocd, 7 10 33 30 31 32)
COMBO(c_fda, &macro_c_fda, 6 23 33)
COMBO(s_c_fda, &macro_s_c_fda, 6 23 33 32)
COMBO(c_fdb, &macro_c_fdb, 6 23 33 30)
COMBO(s_c_fdb, &macro_s_c_fdb, 6 23 33 30 32)
COMBO(c_fdc, &macro_c_fdc, 6 23 33 31)
COMBO(s_c_fdc, &macro_s_c_fdc, 6 23 33 31 32)
COMBO(c_fdd, &macro_c_fdd, 6 23 33 30 31)
COMBO(s_c_fdd, &macro_s_c_fdd, 6 23 33 30 31 32)
COMBO(c_trda, &macro_c_trda, 13 11 23 33)
COMBO(s_c_trda, &macro_s_c_trda, 13 11 23 33 32)
COMBO(c_trdd, &macro_c_trdd, 13 11 23 33 30 31)
COMBO(s_c_trdd, &macro_s_c_trdd, 13 11 23 33 30 31 32)
COMBO(c_era, &macro_c_era, 17 11 33)
COMBO(s_c_era, &macro_s_c_era, 17 11 33 32)
COMBO(c_erd, &macro_c_erd, 17 11 33 30 31)
COMBO(s_c_erd, &macro_s_c_erd, 17 11 33 30 31 32)
COMBO(c_ntha, &macro_c_ntha, 16 13 26 33)
COMBO(s_c_ntha, &macro_s_c_ntha, 16 13 26 33 32)
COMBO(c_nthd, &macro_c_nthd, 16 13 26 33 30 31)
COMBO(s_c_nthd, &macro_s_c_nthd, 16 13 26 33 30 31 32)
COMBO(c_foa, &macro_c_foa, 6 7 33)
COMBO(s_c_foa, &macro_s_c_foa, 6 7 33 32)
COMBO(c_fod, &macro_c_fod, 6 7 33 30 31)
COMBO(s_c_fod, &macro_s_c_fod, 6 7 33 30 31 32)
COMBO(c_mtea, &macro_c_mtea, 15 13 17 33)
COMBO(s_c_mtea, &macro_s_c_mtea, 15 13 17 33 32)
COMBO(c_mted, &macro_c_mted, 15 13 17 33 30 31)
COMBO(s_c_mted, &macro_s_c_mted, 15 13 17 33 30 31 32)
COMBO(c_snea, &macro_c_snea, 12 16 17 33)
COMBO(s_c_snea, &macro_s_c_snea, 12 16 17 33 32)
COMBO(c_sned, &macro_c_sned, 12 16 17 33 30 31)
COMBO(s_c_sned, &macro_s_c_sned, 12 16 17 33 30 31 32)
COMBO(c_rpa, &macro_c_rpa, 11 3 33)
COMBO(s_c_rpa, &macro_s_c_rpa, 11 3 33 32)
COMBO(c_rpb, &macro_c_rpb, 11 3 33 30)
COMBO(s_c_rpb, &macro_s_c_rpb, 11 3 33 30 32)
COMBO(c_rpc, &macro_c_rpc, 11 3 33 31)
COMBO(s_c_rpc, &macro_s_c_rpc, 11 3 33 31 32)
COMBO(c_rpd, &macro_c_rpd, 11 3 33 30 31)
COMBO(s_c_rpd, &macro_s_c_rpd, 11 3 33 30 31 32)
COMBO(c_mya, &macro_c_mya, 15 2 33)
COMBO(s_c_mya, &macro_s_c_mya, 15 2 33 32)
COMBO(c_myd, &macro_c_myd, 15 2 33 30 31)
COMBO(s_c_myd, &macro_s_c_myd, 15 2 33 30 31 32)
COMBO(c_leaa, &macro_c_leaa, 1 17 19 33)
COMBO(s_c_leaa, &macro_s_c_leaa, 1 17 19 33 32)
COMBO(c_leab, &macro_c_leab, 1 17 19 33 30)
COMBO(s_c_leab, &macro_s_c_leab, 1 17 19 33 30 32)
COMBO(c_leac, &macro_c_leac, 1 17 19 33 31)
COMBO(s_c_leac, &macro_s_c_leac, 1 17 19 33 31 32)
COMBO(c_lead, &macro_c_lead, 1 17 19 33 30 31)
COMBO(s_c_lead, &macro_s_c_lead, 1 17 19 33 30 31 32)
COMBO(c_ua, &macro_c_ua, 8 33)
COMBO(s_c_ua, &macro_s_c_ua, 8 33 32)
COMBO(c_ub, &macro_c_ub, 8 33 30)
COMBO(s_c_ub, &macro_s_c_ub, 8 33 30 32)
COMBO(c_uc, &macro_c_uc, 8 33 31)
COMBO(s_c_uc, &macro_s_c_uc, 8 33 31 32)
COMBO(c_ud, &macro_c_ud, 8 33 30 31)
COMBO(s_c_ud, &macro_s_c_ud, 8 33 30 31 32)
COMBO(c_mia, &macro_c_mia, 15 18 33)
COMBO(s_c_mia, &macro_s_c_mia, 15 18 33 32)
COMBO(c_mid, &macro_c_mid, 15 18 33 30 31)
COMBO(s_c_mid, &macro_s_c_mid, 15 18 33 30 31 32)
COMBO(c_maea, &macro_c_maea, 15 19 17 33)
COMBO(s_c_maea, &macro_s_c_maea, 15 19 17 33 32)
COMBO(c_maed, &macro_c_maed, 15 19 17 33 30 31)
COMBO(s_c_maed, &macro_s_c_maed, 15 19 17 33 30 31 32)
COMBO(c_hera, &macro_c_hera, 26 17 11 33)
COMBO(s_c_hera, &macro_s_c_hera, 26 17 11 33 32)
COMBO(c_herd, &macro_c_herd, 26 17 11 33 30 31)
COMBO(s_c_herd, &macro_s_c_herd, 26 17 11 33 30 31 32)
COMBO(c_ansa, &macro_c_ansa, 19 16 12 33)
COMBO(s_c_ansa, &macro_s_c_ansa, 19 16 12 33 32)
COMBO(c_ansb, &macro_c_ansb, 19 16 12 33 30)
COMBO(s_c_ansb, &macro_s_c_ansb, 19 16 12 33 30 32)
COMBO(c_ansc, &macro_c_ansc, 19 16 12 33 31)
COMBO(s_c_ansc, &macro_s_c_ansc, 19 16 12 33 31 32)
COMBO(c_ansd, &macro_c_ansd, 19 16 12 33 30 31)
COMBO(s_c_ansd, &macro_s_c_ansd, 19 16 12 33 30 31 32)
COMBO(c_mina, &macro_c_mina, 15 18 16 33)
COMBO(s_c_mina, &macro_s_c_mina, 15 18 16 33 32)
COMBO(c_mind, &macro_c_mind, 15 18 16 33 30 31)
COMBO(s_c_mind, &macro_s_c_mind, 15 18 16 33 30 31 32)
COMBO(c_una, &macro_c_una, 8 16 33)
COMBO(s_c_una, &macro_s_c_una, 8 16 33 32)
COMBO(c_und, &macro_c_und, 8 16 33 30 31)
COMBO(s_c_und, &macro_s_c_und, 8 16 33 30 31 32)
COMBO(c_bha, &macro_c_bha, 4 26 33)
COMBO(s_c_bha, &macro_s_c_bha, 4 26 33 32)
COMBO(c_bhd, &macro_c_bhd, 4 26 33 30 31)
COMBO(s_c_bhd, &macro_s_c_bhd, 4 26 33 30 31 32)
COMBO(c_sala, &macro_c_sala, 12 19 1 33)
COMBO(s_c_sala, &macro_s_c_sala, 12 19 1 33 32)
COMBO(c_sald, &macro_c_sald, 12 19 1 33 30 31)
COMBO(s_c_sald, &macro_s_c_sald, 12 19 1 33 30 31 32)
COMBO(c_sona, &macro_c_sona, 12 7 16 33)
COMBO(s_c_sona, &macro_s_c_sona, 12 7 16 33 32)
COMBO(c_sond, &macro_c_sond, 12 7 16 33 30 31)
COMBO(s_c_sond, &macro_s_c_sond, 12 7 16 33 30 31 32)
COMBO(c_eua, &macro_c_eua, 17 8 33)
COMBO(s_c_eua, &macro_s_c_eua, 17 8 33 32)
COMBO(c_eud, &macro_c_eud, 17 8 33 30 31)
COMBO(s_c_eud, &macro_s_c_eud, 17 8 33 30 31 32)
COMBO(c_bena, &macro_c_bena, 4 17 16 33)
COMBO(s_c_bena, &macro_s_c_bena, 4 17 16 33 32)
COMBO(c_bend, &macro_c_bend, 4 17 16 33 30 31)
COMBO(s_c_bend, &macro_s_c_bend, 4 17 16 33 30 31 32)
COMBO(c_sga, &macro_c_sga, 12 14 33)
COMBO(s_c_sga, &macro_s_c_sga, 12 14 33 32)
COMBO(c_sgb, &macro_c_sgb, 12 14 33 30)
COMBO(s_c_sgb, &macro_s_c_sgb, 12 14 33 30 32)
COMBO(c_sgc, &macro_c_sgc, 12 14 33 31)
COMBO(s_c_sgc, &macro_s_c_sgc, 12 14 33 31 32)
COMBO(c_sgd, &macro_c_sgd, 12 14 33 30 31)
COMBO(s_c_sgd, &macro_s_c_sgd, 12 14 33 30 31 32)
