#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <100>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0>; \
  };

COMBO(c_SEMI, &macro_c_SEMI, 27 33)
COMBO(c_COMMA, &macro_c_COMMA, 28 33)
COMBO(c_DOT, &macro_c_DOT, 29 33)
COMBO(c_th, &macro_c_th, 13 26 33)
COMBO(s_c_th, &macro_s_c_th, 13 26 32 33)
COMBO(c_th___, &macro_c_th___, 13 26 30 31 33)
COMBO(s_c_th___, &macro_s_c_th___, 13 26 30 31 32 33)
COMBO(c_an, &macro_c_an, 16 19 33)
COMBO(s_c_an, &macro_s_c_an, 16 19 32 33)
COMBO(c_an___, &macro_c_an___, 16 19 30 31 33)
COMBO(s_c_an___, &macro_s_c_an___, 16 19 30 31 32 33)
COMBO(c_wa, &macro_c_wa, 0 19 33)
COMBO(s_c_wa, &macro_s_c_wa, 0 19 32 33)
COMBO(c_wa___, &macro_c_wa___, 0 19 30 31 33)
COMBO(s_c_wa___, &macro_s_c_wa___, 0 19 30 31 32 33)
COMBO(c_yo, &macro_c_yo, 2 7 33)
COMBO(s_c_yo, &macro_s_c_yo, 2 7 32 33)
COMBO(c_yo_, &macro_c_yo_, 2 7 30 33)
COMBO(s_c_yo_, &macro_s_c_yo_, 2 7 30 32 33)
COMBO(c_yo__, &macro_c_yo__, 2 7 31 33)
COMBO(s_c_yo__, &macro_s_c_yo__, 2 7 31 32 33)
COMBO(c_yo___, &macro_c_yo___, 2 7 30 31 33)
COMBO(s_c_yo___, &macro_s_c_yo___, 2 7 30 31 32 33)
COMBO(c_sh, &macro_c_sh, 12 26 33)
COMBO(s_c_sh, &macro_s_c_sh, 12 26 32 33)
COMBO(c_sh_, &macro_c_sh_, 12 26 30 33)
COMBO(s_c_sh_, &macro_s_c_sh_, 12 26 30 32 33)
COMBO(c_sh__, &macro_c_sh__, 12 26 31 33)
COMBO(s_c_sh__, &macro_s_c_sh__, 12 26 31 32 33)
COMBO(c_sh___, &macro_c_sh___, 12 26 30 31 33)
COMBO(s_c_sh___, &macro_s_c_sh___, 12 26 30 31 32 33)
COMBO(c_ta, &macro_c_ta, 13 19 33)
COMBO(s_c_ta, &macro_s_c_ta, 13 19 32 33)
COMBO(c_ta___, &macro_c_ta___, 13 19 30 31 33)
COMBO(s_c_ta___, &macro_s_c_ta___, 13 19 30 31 32 33)
COMBO(c_hi, &macro_c_hi, 18 26 33)
COMBO(s_c_hi, &macro_s_c_hi, 18 26 32 33)
COMBO(c_hi___, &macro_c_hi___, 18 26 30 31 33)
COMBO(s_c_hi___, &macro_s_c_hi___, 18 26 30 31 32 33)
COMBO(c_wh, &macro_c_wh, 0 26 33)
COMBO(s_c_wh, &macro_s_c_wh, 0 26 32 33)
COMBO(c_wh___, &macro_c_wh___, 0 26 30 31 33)
COMBO(s_c_wh___, &macro_s_c_wh___, 0 26 30 31 32 33)
COMBO(c_ha, &macro_c_ha, 19 26 33)
COMBO(s_c_ha, &macro_s_c_ha, 19 26 32 33)
COMBO(c_ha___, &macro_c_ha___, 19 26 30 31 33)
COMBO(s_c_ha___, &macro_s_c_ha___, 19 26 30 31 32 33)
COMBO(c_fr, &macro_c_fr, 6 11 33)
COMBO(s_c_fr, &macro_s_c_fr, 6 11 32 33)
COMBO(c_fr___, &macro_c_fr___, 6 11 30 31 33)
COMBO(s_c_fr___, &macro_s_c_fr___, 6 11 30 31 32 33)
COMBO(c_bt, &macro_c_bt, 4 13 33)
COMBO(s_c_bt, &macro_s_c_bt, 4 13 32 33)
COMBO(c_bt___, &macro_c_bt___, 4 13 30 31 33)
COMBO(s_c_bt___, &macro_s_c_bt___, 4 13 30 31 32 33)
COMBO(c_hm, &macro_c_hm, 15 26 33)
COMBO(s_c_hm, &macro_s_c_hm, 15 26 32 33)
COMBO(c_hm___, &macro_c_hm___, 15 26 30 31 33)
COMBO(s_c_hm___, &macro_s_c_hm___, 15 26 30 31 32 33)
COMBO(c_sa, &macro_c_sa, 12 19 33)
COMBO(s_c_sa, &macro_s_c_sa, 12 19 32 33)
COMBO(c_sa___, &macro_c_sa___, 12 19 30 31 33)
COMBO(s_c_sa___, &macro_s_c_sa___, 12 19 30 31 32 33)
COMBO(c_ot, &macro_c_ot, 7 13 33)
COMBO(s_c_ot, &macro_s_c_ot, 7 13 32 33)
COMBO(c_ot___, &macro_c_ot___, 7 13 30 31 33)
COMBO(s_c_ot___, &macro_s_c_ot___, 7 13 30 31 32 33)
COMBO(c_lk, &macro_c_lk, 1 24 33)
COMBO(s_c_lk, &macro_s_c_lk, 1 24 32 33)
COMBO(c_lk_, &macro_c_lk_, 1 24 30 33)
COMBO(s_c_lk_, &macro_s_c_lk_, 1 24 30 32 33)
COMBO(c_lk__, &macro_c_lk__, 1 24 31 33)
COMBO(s_c_lk__, &macro_s_c_lk__, 1 24 31 32 33)
COMBO(c_lk___, &macro_c_lk___, 1 24 30 31 33)
COMBO(s_c_lk___, &macro_s_c_lk___, 1 24 30 31 32 33)
COMBO(c_he, &macro_c_he, 17 26 33)
COMBO(s_c_he, &macro_s_c_he, 17 26 32 33)
COMBO(c_he_, &macro_c_he_, 17 26 30 33)
COMBO(s_c_he_, &macro_s_c_he_, 17 26 30 32 33)
COMBO(c_he__, &macro_c_he__, 17 26 31 33)
COMBO(s_c_he__, &macro_s_c_he__, 17 26 31 32 33)
COMBO(c_he___, &macro_c_he___, 17 26 30 31 33)
COMBO(s_c_he___, &macro_s_c_he___, 17 26 30 31 32 33)
COMBO(c_nt, &macro_c_nt, 13 16 33)
COMBO(s_c_nt, &macro_s_c_nt, 13 16 32 33)
COMBO(c_nt___, &macro_c_nt___, 13 16 30 31 33)
COMBO(s_c_nt___, &macro_s_c_nt___, 13 16 30 31 32 33)
COMBO(c_jt, &macro_c_jt, 13 21 33)
COMBO(s_c_jt, &macro_s_c_jt, 13 21 32 33)
COMBO(c_jt___, &macro_c_jt___, 13 21 30 31 33)
COMBO(s_c_jt___, &macro_s_c_jt___, 13 21 30 31 32 33)
COMBO(c_le, &macro_c_le, 1 17 33)
COMBO(s_c_le, &macro_s_c_le, 1 17 32 33)
COMBO(c_le_, &macro_c_le_, 1 17 30 33)
COMBO(s_c_le_, &macro_s_c_le_, 1 17 30 32 33)
COMBO(c_le__, &macro_c_le__, 1 17 31 33)
COMBO(s_c_le__, &macro_s_c_le__, 1 17 31 32 33)
COMBO(c_le___, &macro_c_le___, 1 17 30 31 33)
COMBO(s_c_le___, &macro_s_c_le___, 1 17 30 31 32 33)
COMBO(c_te, &macro_c_te, 13 17 33)
COMBO(s_c_te, &macro_s_c_te, 13 17 32 33)
COMBO(c_te_, &macro_c_te_, 13 17 30 33)
COMBO(s_c_te_, &macro_s_c_te_, 13 17 30 32 33)
COMBO(c_te__, &macro_c_te__, 13 17 31 33)
COMBO(s_c_te__, &macro_s_c_te__, 13 17 31 32 33)
COMBO(c_te___, &macro_c_te___, 13 17 30 31 33)
COMBO(s_c_te___, &macro_s_c_te___, 13 17 30 31 32 33)
COMBO(c_ti, &macro_c_ti, 13 18 33)
COMBO(s_c_ti, &macro_s_c_ti, 13 18 32 33)
COMBO(c_ti___, &macro_c_ti___, 13 18 30 31 33)
COMBO(s_c_ti___, &macro_s_c_ti___, 13 18 30 31 32 33)
COMBO(c_fo, &macro_c_fo, 6 7 33)
COMBO(s_c_fo, &macro_s_c_fo, 6 7 32 33)
COMBO(c_fo___, &macro_c_fo___, 6 7 30 31 33)
COMBO(s_c_fo___, &macro_s_c_fo___, 6 7 30 31 32 33)
COMBO(c_al, &macro_c_al, 1 19 33)
COMBO(s_c_al, &macro_s_c_al, 1 19 32 33)
COMBO(c_al___, &macro_c_al___, 1 19 30 31 33)
COMBO(s_c_al___, &macro_s_c_al___, 1 19 30 31 32 33)
COMBO(c_we, &macro_c_we, 0 17 33)
COMBO(s_c_we, &macro_s_c_we, 0 17 32 33)
COMBO(c_we___, &macro_c_we___, 0 17 30 31 33)
COMBO(s_c_we___, &macro_s_c_we___, 0 17 30 31 32 33)
COMBO(c_ba, &macro_c_ba, 4 19 33)
COMBO(s_c_ba, &macro_s_c_ba, 4 19 32 33)
COMBO(c_ba_, &macro_c_ba_, 4 19 30 33)
COMBO(s_c_ba_, &macro_s_c_ba_, 4 19 30 32 33)
COMBO(c_ba__, &macro_c_ba__, 4 19 31 33)
COMBO(s_c_ba__, &macro_s_c_ba__, 4 19 31 32 33)
COMBO(c_ba___, &macro_c_ba___, 4 19 30 31 33)
COMBO(s_c_ba___, &macro_s_c_ba___, 4 19 30 31 32 33)
COMBO(c_on, &macro_c_on, 7 16 33)
COMBO(s_c_on, &macro_s_c_on, 7 16 32 33)
COMBO(c_on___, &macro_c_on___, 7 16 30 31 33)
COMBO(s_c_on___, &macro_s_c_on___, 7 16 30 31 32 33)
COMBO(c_ao, &macro_c_ao, 7 19 33)
COMBO(s_c_ao, &macro_s_c_ao, 7 19 32 33)
COMBO(c_ao___, &macro_c_ao___, 7 19 30 31 33)
COMBO(s_c_ao___, &macro_s_c_ao___, 7 19 30 31 32 33)
COMBO(c_kn, &macro_c_kn, 16 24 33)
COMBO(s_c_kn, &macro_s_c_kn, 16 24 32 33)
COMBO(c_kn_, &macro_c_kn_, 16 24 30 33)
COMBO(s_c_kn_, &macro_s_c_kn_, 16 24 30 32 33)
COMBO(c_kn__, &macro_c_kn__, 16 24 31 33)
COMBO(s_c_kn__, &macro_s_c_kn__, 16 24 31 32 33)
COMBO(c_kn___, &macro_c_kn___, 16 24 30 31 33)
COMBO(s_c_kn___, &macro_s_c_kn___, 16 24 30 31 32 33)
COMBO(c_ge, &macro_c_ge, 14 17 33)
COMBO(s_c_ge, &macro_s_c_ge, 14 17 32 33)
COMBO(c_ge_, &macro_c_ge_, 14 17 30 33)
COMBO(s_c_ge_, &macro_s_c_ge_, 14 17 30 32 33)
COMBO(c_ge__, &macro_c_ge__, 14 17 31 33)
COMBO(s_c_ge__, &macro_s_c_ge__, 14 17 31 32 33)
COMBO(c_ge___, &macro_c_ge___, 14 17 30 31 33)
COMBO(s_c_ge___, &macro_s_c_ge___, 14 17 30 31 32 33)
COMBO(c_in, &macro_c_in, 16 18 33)
COMBO(s_c_in, &macro_s_c_in, 16 18 32 33)
COMBO(c_in___, &macro_c_in___, 16 18 30 31 33)
COMBO(s_c_in___, &macro_s_c_in___, 16 18 30 31 32 33)
COMBO(c_wo, &macro_c_wo, 0 7 33)
COMBO(s_c_wo, &macro_s_c_wo, 0 7 32 33)
COMBO(c_wo___, &macro_c_wo___, 0 7 30 31 33)
COMBO(s_c_wo___, &macro_s_c_wo___, 0 7 30 31 32 33)
COMBO(c_tr, &macro_c_tr, 11 13 33)
COMBO(s_c_tr, &macro_s_c_tr, 11 13 32 33)
COMBO(c_tr___, &macro_c_tr___, 11 13 30 31 33)
COMBO(s_c_tr___, &macro_s_c_tr___, 11 13 30 31 32 33)
COMBO(c_im, &macro_c_im, 15 18 33)
COMBO(s_c_im, &macro_s_c_im, 15 18 32 33)
COMBO(c_im___, &macro_c_im___, 15 18 30 31 33)
COMBO(s_c_im___, &macro_s_c_im___, 15 18 30 31 32 33)
COMBO(c_co, &macro_c_co, 7 10 33)
COMBO(s_c_co, &macro_s_c_co, 7 10 32 33)
COMBO(c_co___, &macro_c_co___, 7 10 30 31 33)
COMBO(s_c_co___, &macro_s_c_co___, 7 10 30 31 32 33)
COMBO(c_dn, &macro_c_dn, 16 23 33)
COMBO(s_c_dn, &macro_s_c_dn, 16 23 32 33)
COMBO(c_dn_, &macro_c_dn_, 16 23 30 33)
COMBO(s_c_dn_, &macro_s_c_dn_, 16 23 30 32 33)
COMBO(c_dn__, &macro_c_dn__, 16 23 31 33)
COMBO(s_c_dn__, &macro_s_c_dn__, 16 23 31 32 33)
COMBO(c_dn___, &macro_c_dn___, 16 23 30 31 33)
COMBO(s_c_dn___, &macro_s_c_dn___, 16 23 30 31 32 33)
COMBO(c_do, &macro_c_do, 7 23 33)
COMBO(s_c_do, &macro_s_c_do, 7 23 32 33)
COMBO(c_do___, &macro_c_do___, 7 23 30 31 33)
COMBO(s_c_do___, &macro_s_c_do___, 7 23 30 31 32 33)
COMBO(c_ey, &macro_c_ey, 2 17 33)
COMBO(s_c_ey, &macro_s_c_ey, 2 17 32 33)
COMBO(c_ey___, &macro_c_ey___, 2 17 30 31 33)
COMBO(s_c_ey___, &macro_s_c_ey___, 2 17 30 31 32 33)
COMBO(c_or, &macro_c_or, 7 11 33)
COMBO(s_c_or, &macro_s_c_or, 7 11 32 33)
COMBO(c_or___, &macro_c_or___, 7 11 30 31 33)
COMBO(s_c_or___, &macro_s_c_or___, 7 11 30 31 32 33)
COMBO(c_ae, &macro_c_ae, 17 19 33)
COMBO(s_c_ae, &macro_s_c_ae, 17 19 32 33)
COMBO(c_ae___, &macro_c_ae___, 17 19 30 31 33)
COMBO(s_c_ae___, &macro_s_c_ae___, 17 19 30 31 32 33)
COMBO(c_bn, &macro_c_bn, 4 16 33)
COMBO(s_c_bn, &macro_s_c_bn, 4 16 32 33)
COMBO(c_bn___, &macro_c_bn___, 4 16 30 31 33)
COMBO(s_c_bn___, &macro_s_c_bn___, 4 16 30 31 32 33)
COMBO(c_tk, &macro_c_tk, 13 24 33)
COMBO(s_c_tk, &macro_s_c_tk, 13 24 32 33)
COMBO(c_tk_, &macro_c_tk_, 13 24 30 33)
COMBO(s_c_tk_, &macro_s_c_tk_, 13 24 30 32 33)
COMBO(c_tk__, &macro_c_tk__, 13 24 31 33)
COMBO(s_c_tk__, &macro_s_c_tk__, 13 24 31 32 33)
COMBO(c_tk___, &macro_c_tk___, 13 24 30 31 33)
COMBO(s_c_tk___, &macro_s_c_tk___, 13 24 30 31 32 33)
COMBO(c_se, &macro_c_se, 12 17 33)
COMBO(s_c_se, &macro_s_c_se, 12 17 32 33)
COMBO(c_se_, &macro_c_se_, 12 17 30 33)
COMBO(s_c_se_, &macro_s_c_se_, 12 17 30 32 33)
COMBO(c_se__, &macro_c_se__, 12 17 31 33)
COMBO(s_c_se__, &macro_s_c_se__, 12 17 31 32 33)
COMBO(c_se___, &macro_c_se___, 12 17 30 31 33)
COMBO(s_c_se___, &macro_s_c_se___, 12 17 30 31 32 33)
COMBO(c_hn, &macro_c_hn, 16 26 33)
COMBO(s_c_hn, &macro_s_c_hn, 16 26 32 33)
COMBO(c_hn_, &macro_c_hn_, 16 26 30 33)
COMBO(s_c_hn_, &macro_s_c_hn_, 16 26 30 32 33)
COMBO(c_hn__, &macro_c_hn__, 16 26 31 33)
COMBO(s_c_hn__, &macro_s_c_hn__, 16 26 31 32 33)
COMBO(c_hn___, &macro_c_hn___, 16 26 30 31 33)
COMBO(s_c_hn___, &macro_s_c_hn___, 16 26 30 31 32 33)
COMBO(c_is, &macro_c_is, 12 18 33)
COMBO(s_c_is, &macro_s_c_is, 12 18 32 33)
COMBO(c_is___, &macro_c_is___, 12 18 30 31 33)
COMBO(s_c_is___, &macro_s_c_is___, 12 18 30 31 32 33)
COMBO(c_sy, &macro_c_sy, 2 12 33)
COMBO(s_c_sy, &macro_s_c_sy, 2 12 32 33)
COMBO(c_sy_, &macro_c_sy_, 2 12 30 33)
COMBO(s_c_sy_, &macro_s_c_sy_, 2 12 30 32 33)
COMBO(c_sy__, &macro_c_sy__, 2 12 31 33)
COMBO(s_c_sy__, &macro_s_c_sy__, 2 12 31 32 33)
COMBO(c_sy___, &macro_c_sy___, 2 12 30 31 33)
COMBO(s_c_sy___, &macro_s_c_sy___, 2 12 30 31 32 33)
COMBO(c_ho, &macro_c_ho, 7 26 33)
COMBO(s_c_ho, &macro_s_c_ho, 7 26 32 33)
COMBO(c_ho___, &macro_c_ho___, 7 26 30 31 33)
COMBO(s_c_ho___, &macro_s_c_ho___, 7 26 30 31 32 33)
COMBO(c_ar, &macro_c_ar, 11 19 33)
COMBO(s_c_ar, &macro_s_c_ar, 11 19 32 33)
COMBO(c_ar___, &macro_c_ar___, 11 19 30 31 33)
COMBO(s_c_ar___, &macro_s_c_ar___, 11 19 30 31 32 33)
COMBO(c_hd, &macro_c_hd, 23 26 33)
COMBO(s_c_hd, &macro_s_c_hd, 23 26 32 33)
COMBO(c_hd_, &macro_c_hd_, 23 26 30 33)
COMBO(s_c_hd_, &macro_s_c_hd_, 23 26 30 32 33)
COMBO(c_hd__, &macro_c_hd__, 23 26 31 33)
COMBO(s_c_hd__, &macro_s_c_hd__, 23 26 31 32 33)
COMBO(c_hd___, &macro_c_hd___, 23 26 30 31 33)
COMBO(s_c_hd___, &macro_s_c_hd___, 23 26 30 31 32 33)
COMBO(c_di, &macro_c_di, 18 23 33)
COMBO(s_c_di, &macro_s_c_di, 18 23 32 33)
COMBO(c_di___, &macro_c_di___, 18 23 30 31 33)
COMBO(s_c_di___, &macro_s_c_di___, 18 23 30 31 32 33)
COMBO(c_wl, &macro_c_wl, 0 1 33)
COMBO(s_c_wl, &macro_s_c_wl, 0 1 32 33)
COMBO(c_wl___, &macro_c_wl___, 0 1 30 31 33)
COMBO(s_c_wl___, &macro_s_c_wl___, 0 1 30 31 32 33)
COMBO(c_br, &macro_c_br, 4 11 33)
COMBO(s_c_br, &macro_s_c_br, 4 11 32 33)
COMBO(c_br___, &macro_c_br___, 4 11 30 31 33)
COMBO(s_c_br___, &macro_s_c_br___, 4 11 30 31 32 33)
COMBO(c_me, &macro_c_me, 15 17 33)
COMBO(s_c_me, &macro_s_c_me, 15 17 32 33)
COMBO(c_me___, &macro_c_me___, 15 17 30 31 33)
COMBO(s_c_me___, &macro_s_c_me___, 15 17 30 31 32 33)
COMBO(c_en, &macro_c_en, 16 17 33)
COMBO(s_c_en, &macro_s_c_en, 16 17 32 33)
COMBO(c_en___, &macro_c_en___, 16 17 30 31 33)
COMBO(s_c_en___, &macro_s_c_en___, 16 17 30 31 32 33)
COMBO(c_tu, &macro_c_tu, 8 13 33)
COMBO(s_c_tu, &macro_s_c_tu, 8 13 32 33)
COMBO(c_tu_, &macro_c_tu_, 8 13 30 33)
COMBO(s_c_tu_, &macro_s_c_tu_, 8 13 30 32 33)
COMBO(c_tu__, &macro_c_tu__, 8 13 31 33)
COMBO(s_c_tu__, &macro_s_c_tu__, 8 13 31 32 33)
COMBO(c_tu___, &macro_c_tu___, 8 13 30 31 33)
COMBO(s_c_tu___, &macro_s_c_tu___, 8 13 30 31 32 33)
COMBO(c_ce, &macro_c_ce, 10 17 33)
COMBO(s_c_ce, &macro_s_c_ce, 10 17 32 33)
COMBO(c_ce_, &macro_c_ce_, 10 17 30 33)
COMBO(s_c_ce_, &macro_s_c_ce_, 10 17 30 32 33)
COMBO(c_ce__, &macro_c_ce__, 10 17 31 33)
COMBO(s_c_ce__, &macro_s_c_ce__, 10 17 31 32 33)
COMBO(c_ce___, &macro_c_ce___, 10 17 30 31 33)
COMBO(s_c_ce___, &macro_s_c_ce___, 10 17 30 31 32 33)
COMBO(c_sl, &macro_c_sl, 1 12 33)
COMBO(s_c_sl, &macro_s_c_sl, 1 12 32 33)
COMBO(c_sl_, &macro_c_sl_, 1 12 30 33)
COMBO(s_c_sl_, &macro_s_c_sl_, 1 12 30 32 33)
COMBO(c_sl__, &macro_c_sl__, 1 12 31 33)
COMBO(s_c_sl__, &macro_s_c_sl__, 1 12 31 32 33)
COMBO(c_sl___, &macro_c_sl___, 1 12 30 31 33)
COMBO(s_c_sl___, &macro_s_c_sl___, 1 12 30 31 32 33)
COMBO(c_wy, &macro_c_wy, 0 2 33)
COMBO(s_c_wy, &macro_s_c_wy, 0 2 32 33)
COMBO(c_wy___, &macro_c_wy___, 0 2 30 31 33)
COMBO(s_c_wy___, &macro_s_c_wy___, 0 2 30 31 32 33)
COMBO(c_re, &macro_c_re, 11 17 33)
COMBO(s_c_re, &macro_s_c_re, 11 17 32 33)
COMBO(c_re___, &macro_c_re___, 11 17 30 31 33)
COMBO(s_c_re___, &macro_s_c_re___, 11 17 30 31 32 33)
COMBO(c_ca, &macro_c_ca, 10 19 33)
COMBO(s_c_ca, &macro_s_c_ca, 10 19 32 33)
COMBO(c_ca___, &macro_c_ca___, 10 19 30 31 33)
COMBO(s_c_ca___, &macro_s_c_ca___, 10 19 30 31 32 33)
COMBO(c_fa, &macro_c_fa, 6 19 33)
COMBO(s_c_fa, &macro_s_c_fa, 6 19 32 33)
COMBO(c_fa_, &macro_c_fa_, 6 19 30 33)
COMBO(s_c_fa_, &macro_s_c_fa_, 6 19 30 32 33)
COMBO(c_fa__, &macro_c_fa__, 6 19 31 33)
COMBO(s_c_fa__, &macro_s_c_fa__, 6 19 31 32 33)
COMBO(c_fa___, &macro_c_fa___, 6 19 30 31 33)
COMBO(s_c_fa___, &macro_s_c_fa___, 6 19 30 31 32 33)
COMBO(c_oth, &macro_c_oth, 7 13 26 33)
COMBO(s_c_oth, &macro_s_c_oth, 7 13 26 32 33)
COMBO(c_oth___, &macro_c_oth___, 7 13 26 30 31 33)
COMBO(s_c_oth___, &macro_s_c_oth___, 7 13 26 30 31 32 33)
COMBO(c_so, &macro_c_so, 7 12 33)
COMBO(s_c_so, &macro_s_c_so, 7 12 32 33)
COMBO(c_so___, &macro_c_so___, 7 12 30 31 33)
COMBO(s_c_so___, &macro_s_c_so___, 7 12 30 31 32 33)
COMBO(c_ri, &macro_c_ri, 11 18 33)
COMBO(s_c_ri, &macro_s_c_ri, 11 18 32 33)
COMBO(c_ri___, &macro_c_ri___, 11 18 30 31 33)
COMBO(s_c_ri___, &macro_s_c_ri___, 11 18 30 31 32 33)
COMBO(c_ol, &macro_c_ol, 1 7 33)
COMBO(s_c_ol, &macro_s_c_ol, 1 7 32 33)
COMBO(c_ol___, &macro_c_ol___, 1 7 30 31 33)
COMBO(s_c_ol___, &macro_s_c_ol___, 1 7 30 31 32 33)
COMBO(c_wk, &macro_c_wk, 0 24 33)
COMBO(s_c_wk, &macro_s_c_wk, 0 24 32 33)
COMBO(c_wk_, &macro_c_wk_, 0 24 30 33)
COMBO(s_c_wk_, &macro_s_c_wk_, 0 24 30 32 33)
COMBO(c_wk__, &macro_c_wk__, 0 24 31 33)
COMBO(s_c_wk__, &macro_s_c_wk__, 0 24 31 32 33)
COMBO(c_wk___, &macro_c_wk___, 0 24 30 31 33)
COMBO(s_c_wk___, &macro_s_c_wk___, 0 24 30 31 32 33)
COMBO(c_ma, &macro_c_ma, 15 19 33)
COMBO(s_c_ma, &macro_s_c_ma, 15 19 32 33)
COMBO(c_ma_, &macro_c_ma_, 15 19 30 33)
COMBO(s_c_ma_, &macro_s_c_ma_, 15 19 30 32 33)
COMBO(c_ma__, &macro_c_ma__, 15 19 31 33)
COMBO(s_c_ma__, &macro_s_c_ma__, 15 19 31 32 33)
COMBO(c_ma___, &macro_c_ma___, 15 19 30 31 33)
COMBO(s_c_ma___, &macro_s_c_ma___, 15 19 30 31 32 33)
COMBO(c_ty, &macro_c_ty, 2 13 33)
COMBO(s_c_ty, &macro_s_c_ty, 2 13 32 33)
COMBO(c_ty_, &macro_c_ty_, 2 13 30 33)
COMBO(s_c_ty_, &macro_s_c_ty_, 2 13 30 32 33)
COMBO(c_ty__, &macro_c_ty__, 2 13 31 33)
COMBO(s_c_ty__, &macro_s_c_ty__, 2 13 31 32 33)
COMBO(c_ty___, &macro_c_ty___, 2 13 30 31 33)
COMBO(s_c_ty___, &macro_s_c_ty___, 2 13 30 31 32 33)
COMBO(c_st, &macro_c_st, 12 13 33)
COMBO(s_c_st, &macro_s_c_st, 12 13 32 33)
COMBO(c_st___, &macro_c_st___, 12 13 30 31 33)
COMBO(s_c_st___, &macro_s_c_st___, 12 13 30 31 32 33)
COMBO(c_rm, &macro_c_rm, 11 15 33)
COMBO(s_c_rm, &macro_s_c_rm, 11 15 32 33)
COMBO(c_rm___, &macro_c_rm___, 11 15 30 31 33)
COMBO(s_c_rm___, &macro_s_c_rm___, 11 15 30 31 32 33)
COMBO(c_ai, &macro_c_ai, 18 19 33)
COMBO(s_c_ai, &macro_s_c_ai, 18 19 32 33)
COMBO(c_ai___, &macro_c_ai___, 18 19 30 31 33)
COMBO(s_c_ai___, &macro_s_c_ai___, 18 19 30 31 32 33)
COMBO(c_thi, &macro_c_thi, 13 18 26 33)
COMBO(s_c_thi, &macro_s_c_thi, 13 18 26 32 33)
COMBO(c_thi___, &macro_c_thi___, 13 18 26 30 31 33)
COMBO(s_c_thi___, &macro_s_c_thi___, 13 18 26 30 31 32 33)
COMBO(c_ate, &macro_c_ate, 13 17 19 33)
COMBO(s_c_ate, &macro_s_c_ate, 13 17 19 32 33)
COMBO(c_ate___, &macro_c_ate___, 13 17 19 30 31 33)
COMBO(s_c_ate___, &macro_s_c_ate___, 13 17 19 30 31 32 33)
COMBO(c_sti, &macro_c_sti, 12 13 18 33)
COMBO(s_c_sti, &macro_s_c_sti, 12 13 18 32 33)
COMBO(c_sti___, &macro_c_sti___, 12 13 18 30 31 33)
COMBO(s_c_sti___, &macro_s_c_sti___, 12 13 18 30 31 32 33)
COMBO(c_lt, &macro_c_lt, 1 13 33)
COMBO(s_c_lt, &macro_s_c_lt, 1 13 32 33)
COMBO(c_lt___, &macro_c_lt___, 1 13 30 31 33)
COMBO(s_c_lt___, &macro_s_c_lt___, 1 13 30 31 32 33)
COMBO(c_bs, &macro_c_bs, 4 12 33)
COMBO(s_c_bs, &macro_s_c_bs, 4 12 32 33)
COMBO(c_bs___, &macro_c_bs___, 4 12 30 31 33)
COMBO(s_c_bs___, &macro_s_c_bs___, 4 12 30 31 32 33)
COMBO(c_ay, &macro_c_ay, 2 19 33)
COMBO(s_c_ay, &macro_s_c_ay, 2 19 32 33)
COMBO(c_ay___, &macro_c_ay___, 2 19 30 31 33)
COMBO(s_c_ay___, &macro_s_c_ay___, 2 19 30 31 32 33)
COMBO(c_sr, &macro_c_sr, 11 12 33)
COMBO(s_c_sr, &macro_s_c_sr, 11 12 32 33)
COMBO(c_sr_, &macro_c_sr_, 11 12 30 33)
COMBO(s_c_sr_, &macro_s_c_sr_, 11 12 30 32 33)
COMBO(c_sr__, &macro_c_sr__, 11 12 31 33)
COMBO(s_c_sr__, &macro_s_c_sr__, 11 12 31 32 33)
COMBO(c_sr___, &macro_c_sr___, 11 12 30 31 33)
COMBO(s_c_sr___, &macro_s_c_sr___, 11 12 30 31 32 33)
COMBO(c_gd, &macro_c_gd, 14 23 33)
COMBO(s_c_gd, &macro_s_c_gd, 14 23 32 33)
COMBO(c_gd___, &macro_c_gd___, 14 23 30 31 33)
COMBO(s_c_gd___, &macro_s_c_gd___, 14 23 30 31 32 33)
COMBO(c_whe, &macro_c_whe, 0 17 26 33)
COMBO(s_c_whe, &macro_s_c_whe, 0 17 26 32 33)
COMBO(c_whe___, &macro_c_whe___, 0 17 26 30 31 33)
COMBO(s_c_whe___, &macro_s_c_whe___, 0 17 26 30 31 32 33)
COMBO(c_nr, &macro_c_nr, 11 16 33)
COMBO(s_c_nr, &macro_s_c_nr, 11 16 32 33)
COMBO(c_nr___, &macro_c_nr___, 11 16 30 31 33)
COMBO(s_c_nr___, &macro_s_c_nr___, 11 16 30 31 32 33)
COMBO(c_tg, &macro_c_tg, 13 14 33)
COMBO(s_c_tg, &macro_s_c_tg, 13 14 32 33)
COMBO(c_tg___, &macro_c_tg___, 13 14 30 31 33)
COMBO(s_c_tg___, &macro_s_c_tg___, 13 14 30 31 32 33)
COMBO(c_da, &macro_c_da, 19 23 33)
COMBO(s_c_da, &macro_s_c_da, 19 23 32 33)
COMBO(c_da___, &macro_c_da___, 19 23 30 31 33)
COMBO(s_c_da___, &macro_s_c_da___, 19 23 30 31 32 33)
COMBO(c_mc, &macro_c_mc, 10 15 33)
COMBO(s_c_mc, &macro_s_c_mc, 10 15 32 33)
COMBO(c_mc___, &macro_c_mc___, 10 15 30 31 33)
COMBO(s_c_mc___, &macro_s_c_mc___, 10 15 30 31 32 33)
COMBO(c_gi, &macro_c_gi, 14 18 33)
COMBO(s_c_gi, &macro_s_c_gi, 14 18 32 33)
COMBO(c_gi___, &macro_c_gi___, 14 18 30 31 33)
COMBO(s_c_gi___, &macro_s_c_gi___, 14 18 30 31 32 33)
COMBO(c_fe, &macro_c_fe, 6 17 33)
COMBO(s_c_fe, &macro_s_c_fe, 6 17 32 33)
COMBO(c_fe_, &macro_c_fe_, 6 17 30 33)
COMBO(s_c_fe_, &macro_s_c_fe_, 6 17 30 32 33)
COMBO(c_fe__, &macro_c_fe__, 6 17 31 33)
COMBO(s_c_fe__, &macro_s_c_fe__, 6 17 31 32 33)
COMBO(c_fe___, &macro_c_fe___, 6 17 30 31 33)
COMBO(s_c_fe___, &macro_s_c_fe___, 6 17 30 31 32 33)
COMBO(c_yr, &macro_c_yr, 2 11 33)
COMBO(s_c_yr, &macro_s_c_yr, 2 11 32 33)
COMBO(c_yr___, &macro_c_yr___, 2 11 30 31 33)
COMBO(s_c_yr___, &macro_s_c_yr___, 2 11 30 31 32 33)
COMBO(c_cl, &macro_c_cl, 1 10 33)
COMBO(s_c_cl, &macro_s_c_cl, 1 10 32 33)
COMBO(c_cl_, &macro_c_cl_, 1 10 30 33)
COMBO(s_c_cl_, &macro_s_c_cl_, 1 10 30 32 33)
COMBO(c_cl__, &macro_c_cl__, 1 10 31 33)
COMBO(s_c_cl__, &macro_s_c_cl__, 1 10 31 32 33)
COMBO(c_cl___, &macro_c_cl___, 1 10 30 31 33)
COMBO(s_c_cl___, &macro_s_c_cl___, 1 10 30 31 32 33)
COMBO(c_wi, &macro_c_wi, 0 18 33)
COMBO(s_c_wi, &macro_s_c_wi, 0 18 32 33)
COMBO(c_wi___, &macro_c_wi___, 0 18 30 31 33)
COMBO(s_c_wi___, &macro_s_c_wi___, 0 18 30 31 32 33)
COMBO(c_ln, &macro_c_ln, 1 16 33)
COMBO(s_c_ln, &macro_s_c_ln, 1 16 32 33)
COMBO(c_ln_, &macro_c_ln_, 1 16 30 33)
COMBO(s_c_ln_, &macro_s_c_ln_, 1 16 30 32 33)
COMBO(c_ln__, &macro_c_ln__, 1 16 31 33)
COMBO(s_c_ln__, &macro_s_c_ln__, 1 16 31 32 33)
COMBO(c_ln___, &macro_c_ln___, 1 16 30 31 33)
COMBO(s_c_ln___, &macro_s_c_ln___, 1 16 30 31 32 33)
COMBO(c_fi, &macro_c_fi, 6 18 33)
COMBO(s_c_fi, &macro_s_c_fi, 6 18 32 33)
COMBO(c_fi___, &macro_c_fi___, 6 18 30 31 33)
COMBO(s_c_fi___, &macro_s_c_fi___, 6 18 30 31 32 33)
COMBO(c_op, &macro_c_op, 3 7 33)
COMBO(s_c_op, &macro_s_c_op, 3 7 32 33)
COMBO(c_op_, &macro_c_op_, 3 7 30 33)
COMBO(s_c_op_, &macro_s_c_op_, 3 7 30 32 33)
COMBO(c_op__, &macro_c_op__, 3 7 31 33)
COMBO(s_c_op__, &macro_s_c_op__, 3 7 31 32 33)
COMBO(c_op___, &macro_c_op___, 3 7 30 31 33)
COMBO(s_c_op___, &macro_s_c_op___, 3 7 30 31 32 33)
COMBO(c_ft, &macro_c_ft, 6 13 33)
COMBO(s_c_ft, &macro_s_c_ft, 6 13 32 33)
COMBO(c_ft___, &macro_c_ft___, 6 13 30 31 33)
COMBO(s_c_ft___, &macro_s_c_ft___, 6 13 30 31 32 33)
COMBO(c_wc, &macro_c_wc, 0 10 33)
COMBO(s_c_wc, &macro_s_c_wc, 0 10 32 33)
COMBO(c_wc___, &macro_c_wc___, 0 10 30 31 33)
COMBO(s_c_wc___, &macro_s_c_wc___, 0 10 30 31 32 33)
COMBO(c_pe, &macro_c_pe, 3 17 33)
COMBO(s_c_pe, &macro_s_c_pe, 3 17 32 33)
COMBO(c_pe___, &macro_c_pe___, 3 17 30 31 33)
COMBO(s_c_pe___, &macro_s_c_pe___, 3 17 30 31 32 33)
COMBO(c_tha, &macro_c_tha, 13 19 26 33)
COMBO(s_c_tha, &macro_s_c_tha, 13 19 26 32 33)
COMBO(c_tha___, &macro_c_tha___, 13 19 26 30 31 33)
COMBO(s_c_tha___, &macro_s_c_tha___, 13 19 26 30 31 32 33)
COMBO(c_su, &macro_c_su, 8 12 33)
COMBO(s_c_su, &macro_s_c_su, 8 12 32 33)
COMBO(c_su___, &macro_c_su___, 8 12 30 31 33)
COMBO(s_c_su___, &macro_s_c_su___, 8 12 30 31 32 33)
COMBO(c_sm, &macro_c_sm, 12 15 33)
COMBO(s_c_sm, &macro_s_c_sm, 12 15 32 33)
COMBO(c_sm___, &macro_c_sm___, 12 15 30 31 33)
COMBO(s_c_sm___, &macro_s_c_sm___, 12 15 30 31 32 33)
COMBO(c_sp, &macro_c_sp, 3 12 33)
COMBO(s_c_sp, &macro_s_c_sp, 3 12 32 33)
COMBO(c_sp_, &macro_c_sp_, 3 12 30 33)
COMBO(s_c_sp_, &macro_s_c_sp_, 3 12 30 32 33)
COMBO(c_sp__, &macro_c_sp__, 3 12 31 33)
COMBO(s_c_sp__, &macro_s_c_sp__, 3 12 31 32 33)
COMBO(c_sp___, &macro_c_sp___, 3 12 30 31 33)
COMBO(s_c_sp___, &macro_s_c_sp___, 3 12 30 31 32 33)
COMBO(c_ve, &macro_c_ve, 17 22 33)
COMBO(s_c_ve, &macro_s_c_ve, 17 22 32 33)
COMBO(c_ve_, &macro_c_ve_, 17 22 30 33)
COMBO(s_c_ve_, &macro_s_c_ve_, 17 22 30 32 33)
COMBO(c_ve__, &macro_c_ve__, 17 22 31 33)
COMBO(s_c_ve__, &macro_s_c_ve__, 17 22 31 32 33)
COMBO(c_ve___, &macro_c_ve___, 17 22 30 31 33)
COMBO(s_c_ve___, &macro_s_c_ve___, 17 22 30 31 32 33)
COMBO(c_vy, &macro_c_vy, 2 22 33)
COMBO(s_c_vy, &macro_s_c_vy, 2 22 32 33)
COMBO(c_vy___, &macro_c_vy___, 2 22 30 31 33)
COMBO(s_c_vy___, &macro_s_c_vy___, 2 22 30 31 32 33)
