#define MACRO(NAME, BINDINGS) \
  macro_##NAME: macro_##NAME { \
      compatible = "zmk,behavior-macro"; \
      #binding-cells = <0>; \
      wait-ms = <0>; \
      tap-ms = <10>; \
      bindings = <BINDINGS>; \
  };

MACRO(c_SEMI, &kp BSPC &kp SEMI &kp SPC)
MACRO(c_COMMA, &kp BSPC &kp COMMA &kp SPC)
MACRO(c_DOT, &kp BSPC &kp DOT &kp SPC)
MACRO(c_t, &kp T &kp H &kp E &kp SPC)
MACRO(s_c_t, &kp LS(T) &kp H &kp E &kp SPC)
MACRO(c_t___, &kp T &kp H &kp E &kp S &kp SPC)
MACRO(s_c_t___, &kp LS(T) &kp H &kp E &kp S &kp SPC)
MACRO(c_a, &kp A &kp N &kp D &kp SPC)
MACRO(s_c_a, &kp LS(A) &kp N &kp D &kp SPC)
MACRO(c_a___, &kp A &kp N &kp D &kp S &kp SPC)
MACRO(s_c_a___, &kp LS(A) &kp N &kp D &kp S &kp SPC)
MACRO(c_w, &kp W &kp A &kp S &kp SPC)
MACRO(s_c_w, &kp LS(W) &kp A &kp S &kp SPC)
MACRO(c_w___, &kp W &kp A &kp S &kp S &kp SPC)
MACRO(s_c_w___, &kp LS(W) &kp A &kp S &kp S &kp SPC)
MACRO(c_y, &kp Y &kp O &kp U &kp SPC)
MACRO(s_c_y, &kp LS(Y) &kp O &kp U &kp SPC)
MACRO(c_y___, &kp Y &kp O &kp U &kp SPC)
MACRO(s_c_y___, &kp LS(Y) &kp O &kp U &kp SPC)
MACRO(c_h, &kp H &kp E &kp R &kp SPC)
MACRO(s_c_h, &kp LS(H) &kp E &kp R &kp SPC)
MACRO(c_h___, &kp T &kp H &kp E &kp M &kp SPC)
MACRO(s_c_h___, &kp LS(T) &kp H &kp E &kp M &kp SPC)
MACRO(c_s, &kp S &kp H &kp E &kp SPC)
MACRO(s_c_s, &kp LS(S) &kp H &kp E &kp SPC)
MACRO(c_s___, &kp T &kp H &kp E &kp Y &kp SPC)
MACRO(s_c_s___, &kp LS(T) &kp H &kp E &kp Y &kp SPC)
MACRO(c_th, &kp T &kp H &kp A &kp T &kp SPC)
MACRO(s_c_th, &kp LS(T) &kp H &kp A &kp T &kp SPC)
MACRO(c_th___, &kp T &kp H &kp A &kp T &kp S &kp SPC)
MACRO(s_c_th___, &kp LS(T) &kp H &kp A &kp T &kp S &kp SPC)
MACRO(c_wt, &kp W &kp I &kp T &kp H &kp SPC)
MACRO(s_c_wt, &kp LS(W) &kp I &kp T &kp H &kp SPC)
MACRO(c_wt___, &kp W &kp I &kp T &kp H &kp S &kp SPC)
MACRO(s_c_wt___, &kp LS(W) &kp I &kp T &kp H &kp S &kp SPC)
MACRO(c_f, &kp F &kp O &kp R &kp SPC)
MACRO(s_c_f, &kp LS(F) &kp O &kp R &kp SPC)
MACRO(c_f___, &kp F &kp O &kp R &kp S &kp SPC)
MACRO(s_c_f___, &kp LS(F) &kp O &kp R &kp S &kp SPC)
MACRO(c_b, &kp B &kp U &kp T &kp SPC)
MACRO(s_c_b, &kp LS(B) &kp U &kp T &kp SPC)
MACRO(c_b___, &kp B &kp U &kp T &kp S &kp SPC)
MACRO(s_c_b___, &kp LS(B) &kp U &kp T &kp S &kp SPC)
MACRO(c_si, &kp S &kp A &kp I &kp D &kp SPC)
MACRO(s_c_si, &kp LS(S) &kp A &kp I &kp D &kp SPC)
MACRO(c_si___, &kp S &kp A &kp I &kp D &kp S &kp SPC)
MACRO(s_c_si___, &kp LS(S) &kp A &kp I &kp D &kp S &kp SPC)
MACRO(c_o, &kp O &kp U &kp T &kp SPC)
MACRO(s_c_o, &kp LS(O) &kp U &kp T &kp SPC)
MACRO(c_o___, &kp O &kp U &kp T &kp S &kp SPC)
MACRO(s_c_o___, &kp LS(O) &kp U &kp T &kp S &kp SPC)
MACRO(c_l, &kp L &kp O &kp O &kp K &kp SPC)
MACRO(s_c_l, &kp LS(L) &kp O &kp O &kp K &kp SPC)
MACRO(c_l_, &kp L &kp O &kp O &kp K &kp E &kp D &kp SPC)
MACRO(s_c_l_, &kp LS(L) &kp O &kp O &kp K &kp E &kp D &kp SPC)
MACRO(c_l__, &kp L &kp O &kp O &kp K &kp I &kp N &kp G &kp SPC)
MACRO(s_c_l__, &kp LS(L) &kp O &kp O &kp K &kp I &kp N &kp G &kp SPC)
MACRO(c_l___, &kp L &kp O &kp O &kp K &kp S &kp SPC)
MACRO(s_c_l___, &kp LS(L) &kp O &kp O &kp K &kp S &kp SPC)
MACRO(c_he, &kp H &kp A &kp V &kp E &kp SPC)
MACRO(s_c_he, &kp LS(H) &kp A &kp V &kp E &kp SPC)
MACRO(c_he_, &kp H &kp A &kp D &kp SPC)
MACRO(s_c_he_, &kp LS(H) &kp A &kp D &kp SPC)
MACRO(c_he__, &kp H &kp A &kp V &kp I &kp N &kp G &kp SPC)
MACRO(s_c_he__, &kp LS(H) &kp A &kp V &kp I &kp N &kp G &kp SPC)
MACRO(c_he___, &kp H &kp A &kp V &kp E &kp S &kp SPC)
MACRO(s_c_he___, &kp LS(H) &kp A &kp V &kp E &kp S &kp SPC)
MACRO(c_wh, &kp W &kp H &kp A &kp T &kp SPC)
MACRO(s_c_wh, &kp LS(W) &kp H &kp A &kp T &kp SPC)
MACRO(c_wh___, &kp W &kp H &kp A &kp T &kp S &kp SPC)
MACRO(s_c_wh___, &kp LS(W) &kp H &kp A &kp T &kp S &kp SPC)
MACRO(c_n, &kp N &kp O &kp T &kp SPC)
MACRO(s_c_n, &kp LS(N) &kp O &kp T &kp SPC)
MACRO(c_n___, &kp N &kp O &kp T &kp S &kp SPC)
MACRO(s_c_n___, &kp LS(N) &kp O &kp T &kp S &kp SPC)
MACRO(c_j, &kp J &kp U &kp S &kp T &kp SPC)
MACRO(s_c_j, &kp LS(J) &kp U &kp S &kp T &kp SPC)
MACRO(c_j___, &kp J &kp U &kp S &kp T &kp S &kp SPC)
MACRO(s_c_j___, &kp LS(J) &kp U &kp S &kp T &kp S &kp SPC)
MACRO(c_le, &kp L &kp I &kp K &kp E &kp SPC)
MACRO(s_c_le, &kp LS(L) &kp I &kp K &kp E &kp SPC)
MACRO(c_le_, &kp L &kp I &kp K &kp E &kp D &kp SPC)
MACRO(s_c_le_, &kp LS(L) &kp I &kp K &kp E &kp D &kp SPC)
MACRO(c_le__, &kp L &kp I &kp K &kp I &kp N &kp G &kp SPC)
MACRO(s_c_le__, &kp LS(L) &kp I &kp K &kp I &kp N &kp G &kp SPC)
MACRO(c_le___, &kp L &kp I &kp K &kp E &kp S &kp SPC)
MACRO(s_c_le___, &kp LS(L) &kp I &kp K &kp E &kp S &kp SPC)
MACRO(c_ts, &kp T &kp H &kp I &kp S &kp SPC)
MACRO(s_c_ts, &kp LS(T) &kp H &kp I &kp S &kp SPC)
MACRO(c_ts___, &kp T &kp H &kp I &kp S &kp S &kp SPC)
MACRO(s_c_ts___, &kp LS(T) &kp H &kp I &kp S &kp S &kp SPC)
MACRO(c_fr, &kp F &kp R &kp O &kp M &kp SPC)
MACRO(s_c_fr, &kp LS(F) &kp R &kp O &kp M &kp SPC)
MACRO(c_fr___, &kp F &kp R &kp O &kp M &kp S &kp SPC)
MACRO(s_c_fr___, &kp LS(F) &kp R &kp O &kp M &kp S &kp SPC)
MACRO(c_we, &kp W &kp E &kp R &kp E &kp SPC)
MACRO(s_c_we, &kp LS(W) &kp E &kp R &kp E &kp SPC)
MACRO(c_we___, &kp W &kp E &kp R &kp E &kp S &kp SPC)
MACRO(s_c_we___, &kp LS(W) &kp E &kp R &kp E &kp S &kp SPC)
MACRO(c_ba, &kp B &kp A &kp C &kp K &kp SPC)
MACRO(s_c_ba, &kp LS(B) &kp A &kp C &kp K &kp SPC)
MACRO(c_ba_, &kp B &kp A &kp C &kp K &kp E &kp D &kp SPC)
MACRO(s_c_ba_, &kp LS(B) &kp A &kp C &kp K &kp E &kp D &kp SPC)
MACRO(c_ba__, &kp B &kp A &kp C &kp K &kp I &kp N &kp G &kp SPC)
MACRO(s_c_ba__, &kp LS(B) &kp A &kp C &kp K &kp I &kp N &kp G &kp SPC)
MACRO(c_ba___, &kp B &kp A &kp C &kp K &kp S &kp SPC)
MACRO(s_c_ba___, &kp LS(B) &kp A &kp C &kp K &kp S &kp SPC)
MACRO(c_at, &kp A &kp B &kp O &kp U &kp T &kp SPC)
MACRO(s_c_at, &kp LS(A) &kp B &kp O &kp U &kp T &kp SPC)
MACRO(c_at___, &kp A &kp B &kp O &kp U &kp T &kp S &kp SPC)
MACRO(s_c_at___, &kp LS(A) &kp B &kp O &kp U &kp T &kp S &kp SPC)
MACRO(c_k, &kp K &kp N &kp O &kp W &kp SPC)
MACRO(s_c_k, &kp LS(K) &kp N &kp O &kp W &kp SPC)
MACRO(c_k_, &kp K &kp N &kp O &kp W &kp N &kp SPC)
MACRO(s_c_k_, &kp LS(K) &kp N &kp O &kp W &kp N &kp SPC)
MACRO(c_k__, &kp K &kp N &kp O &kp W &kp I &kp N &kp G &kp SPC)
MACRO(s_c_k__, &kp LS(K) &kp N &kp O &kp W &kp I &kp N &kp G &kp SPC)
MACRO(c_k___, &kp K &kp N &kp O &kp W &kp S &kp SPC)
MACRO(s_c_k___, &kp LS(K) &kp N &kp O &kp W &kp S &kp SPC)
MACRO(c_wn, &kp W &kp H &kp E &kp N &kp SPC)
MACRO(s_c_wn, &kp LS(W) &kp H &kp E &kp N &kp SPC)
MACRO(c_wn___, &kp W &kp H &kp E &kp N &kp S &kp SPC)
MACRO(s_c_wn___, &kp LS(W) &kp H &kp E &kp N &kp S &kp SPC)
MACRO(c_g, &kp G &kp E &kp T &kp SPC)
MACRO(s_c_g, &kp LS(G) &kp E &kp T &kp SPC)
MACRO(c_g_, &kp G &kp O &kp T &kp SPC)
MACRO(s_c_g_, &kp LS(G) &kp O &kp T &kp SPC)
MACRO(c_g__, &kp G &kp E &kp T &kp T &kp I &kp N &kp G &kp SPC)
MACRO(s_c_g__, &kp LS(G) &kp E &kp T &kp T &kp I &kp N &kp G &kp SPC)
MACRO(c_g___, &kp G &kp E &kp T &kp S &kp SPC)
MACRO(s_c_g___, &kp LS(G) &kp E &kp T &kp S &kp SPC)
MACRO(c_tn, &kp T &kp H &kp E &kp N &kp SPC)
MACRO(s_c_tn, &kp LS(T) &kp H &kp E &kp N &kp SPC)
MACRO(c_tn___, &kp T &kp H &kp E &kp N &kp S &kp SPC)
MACRO(s_c_tn___, &kp LS(T) &kp H &kp E &kp N &kp S &kp SPC)
MACRO(c_i, &kp I &kp N &kp T &kp O &kp SPC)
MACRO(s_c_i, &kp LS(I) &kp N &kp T &kp O &kp SPC)
MACRO(c_i___, &kp I &kp N &kp T &kp O &kp E &kp S &kp SPC)
MACRO(s_c_i___, &kp LS(I) &kp N &kp T &kp O &kp E &kp S &kp SPC)
MACRO(c_wo, &kp W &kp O &kp U &kp L &kp D &kp SPC)
MACRO(s_c_wo, &kp LS(W) &kp O &kp U &kp L &kp D &kp SPC)
MACRO(c_wo___, &kp W &kp O &kp U &kp L &kp D &kp S &kp SPC)
MACRO(s_c_wo___, &kp LS(W) &kp O &kp U &kp L &kp D &kp S &kp SPC)
MACRO(c_te, &kp T &kp H &kp E &kp R &kp E &kp SPC)
MACRO(s_c_te, &kp LS(T) &kp H &kp E &kp R &kp E &kp SPC)
MACRO(c_te___, &kp T &kp H &kp E &kp R &kp E &kp S &kp SPC)
MACRO(s_c_te___, &kp LS(T) &kp H &kp E &kp R &kp E &kp S &kp SPC)
MACRO(c_c, &kp C &kp O &kp U &kp L &kp D &kp SPC)
MACRO(s_c_c, &kp LS(C) &kp O &kp U &kp L &kp D &kp SPC)
MACRO(c_c___, &kp C &kp O &kp U &kp L &kp D &kp S &kp SPC)
MACRO(s_c_c___, &kp LS(C) &kp O &kp U &kp L &kp D &kp S &kp SPC)
MACRO(c_d, &kp D &kp O &kp N &kp QUOT &kp T &kp SPC)
MACRO(s_c_d, &kp LS(D) &kp O &kp N &kp QUOT &kp T &kp SPC)
MACRO(c_d___, &kp D &kp O &kp N &kp QUOT &kp T &kp S &kp SPC)
MACRO(s_c_d___, &kp LS(D) &kp O &kp N &kp QUOT &kp T &kp S &kp SPC)
MACRO(c_dn, &kp D &kp O &kp W &kp N &kp SPC)
MACRO(s_c_dn, &kp LS(D) &kp O &kp W &kp N &kp SPC)
MACRO(c_dn___, &kp D &kp O &kp W &kp N &kp S &kp SPC)
MACRO(s_c_dn___, &kp LS(D) &kp O &kp W &kp N &kp S &kp SPC)
MACRO(c_ti, &kp T &kp I &kp M &kp E &kp SPC)
MACRO(s_c_ti, &kp LS(T) &kp I &kp M &kp E &kp SPC)
MACRO(c_ti_, &kp T &kp I &kp M &kp E &kp D &kp SPC)
MACRO(s_c_ti_, &kp LS(T) &kp I &kp M &kp E &kp D &kp SPC)
MACRO(c_ti__, &kp T &kp I &kp M &kp I &kp N &kp G &kp SPC)
MACRO(s_c_ti__, &kp LS(T) &kp I &kp M &kp I &kp N &kp G &kp SPC)
MACRO(c_ti___, &kp T &kp I &kp M &kp E &kp S &kp SPC)
MACRO(s_c_ti___, &kp LS(T) &kp I &kp M &kp E &kp S &kp SPC)
MACRO(c_di, &kp D &kp I &kp D &kp N &kp QUOT &kp T &kp SPC)
MACRO(s_c_di, &kp LS(D) &kp I &kp D &kp N &kp QUOT &kp T &kp SPC)
MACRO(c_di___, &kp D &kp I &kp D &kp N &kp QUOT &kp T &kp S &kp SPC)
MACRO(s_c_di___, &kp LS(D) &kp I &kp D &kp N &kp QUOT &kp T &kp S &kp SPC)
MACRO(c_wa, &kp W &kp A &kp N &kp T &kp SPC)
MACRO(s_c_wa, &kp LS(W) &kp A &kp N &kp T &kp SPC)
MACRO(c_wa_, &kp W &kp A &kp N &kp T &kp E &kp D &kp SPC)
MACRO(s_c_wa_, &kp LS(W) &kp A &kp N &kp T &kp E &kp D &kp SPC)
MACRO(c_wa__, &kp W &kp A &kp N &kp T &kp I &kp N &kp G &kp SPC)
MACRO(s_c_wa__, &kp LS(W) &kp A &kp N &kp T &kp I &kp N &kp G &kp SPC)
MACRO(c_wa___, &kp W &kp A &kp N &kp T &kp S &kp SPC)
MACRO(s_c_wa___, &kp LS(W) &kp A &kp N &kp T &kp S &kp SPC)
MACRO(c_e, &kp E &kp Y &kp E &kp SPC)
MACRO(s_c_e, &kp LS(E) &kp Y &kp E &kp SPC)
MACRO(c_e___, &kp E &kp Y &kp E &kp S &kp SPC)
MACRO(s_c_e___, &kp LS(E) &kp Y &kp E &kp S &kp SPC)
MACRO(c_or, &kp O &kp V &kp E &kp R &kp SPC)
MACRO(s_c_or, &kp LS(O) &kp V &kp E &kp R &kp SPC)
MACRO(c_or___, &kp O &kp V &kp E &kp R &kp S &kp SPC)
MACRO(s_c_or___, &kp LS(O) &kp V &kp E &kp R &kp S &kp SPC)
MACRO(c_yr, &kp Y &kp O &kp U &kp R &kp SPC)
MACRO(s_c_yr, &kp LS(Y) &kp O &kp U &kp R &kp SPC)
MACRO(c_yr___, &kp Y &kp O &kp U &kp R &kp S &kp SPC)
MACRO(s_c_yr___, &kp LS(Y) &kp O &kp U &kp R &kp S &kp SPC)
MACRO(c_bn, &kp B &kp E &kp E &kp N &kp SPC)
MACRO(s_c_bn, &kp LS(B) &kp E &kp E &kp N &kp SPC)
MACRO(c_bn___, &kp B &kp E &kp E &kp N &kp S &kp SPC)
MACRO(s_c_bn___, &kp LS(B) &kp E &kp E &kp N &kp S &kp SPC)
MACRO(c_tin, &kp T &kp H &kp I &kp N &kp K &kp SPC)
MACRO(s_c_tin, &kp LS(T) &kp H &kp I &kp N &kp K &kp SPC)
MACRO(c_tin_, &kp T &kp H &kp O &kp U &kp G &kp H &kp T &kp SPC)
MACRO(s_c_tin_, &kp LS(T) &kp H &kp O &kp U &kp G &kp H &kp T &kp SPC)
MACRO(c_tin__, &kp T &kp H &kp I &kp N &kp K &kp I &kp N &kp G &kp SPC)
MACRO(s_c_tin__, &kp LS(T) &kp H &kp I &kp N &kp K &kp I &kp N &kp G &kp SPC)
MACRO(c_tin___, &kp T &kp H &kp I &kp N &kp K &kp S &kp SPC)
MACRO(s_c_tin___, &kp LS(T) &kp H &kp I &kp N &kp K &kp S &kp SPC)
MACRO(c_ha, &kp H &kp A &kp N &kp D &kp SPC)
MACRO(s_c_ha, &kp LS(H) &kp A &kp N &kp D &kp SPC)
MACRO(c_ha_, &kp H &kp A &kp N &kp D &kp E &kp D &kp SPC)
MACRO(s_c_ha_, &kp LS(H) &kp A &kp N &kp D &kp E &kp D &kp SPC)
MACRO(c_ha__, &kp H &kp A &kp N &kp D &kp I &kp N &kp G &kp SPC)
MACRO(s_c_ha__, &kp LS(H) &kp A &kp N &kp D &kp I &kp N &kp G &kp SPC)
MACRO(c_ha___, &kp H &kp A &kp N &kp D &kp S &kp SPC)
MACRO(s_c_ha___, &kp LS(H) &kp A &kp N &kp D &kp S &kp SPC)
MACRO(c_an, &kp A &kp R &kp O &kp U &kp N &kp D &kp SPC)
MACRO(s_c_an, &kp LS(A) &kp R &kp O &kp U &kp N &kp D &kp SPC)
MACRO(c_an___, &kp A &kp R &kp O &kp U &kp N &kp D &kp S &kp SPC)
MACRO(s_c_an___, &kp LS(A) &kp R &kp O &kp U &kp N &kp D &kp S &kp SPC)
MACRO(c_hd, &kp H &kp E &kp A &kp D &kp SPC)
MACRO(s_c_hd, &kp LS(H) &kp E &kp A &kp D &kp SPC)
MACRO(c_hd_, &kp H &kp E &kp A &kp D &kp E &kp D &kp SPC)
MACRO(s_c_hd_, &kp LS(H) &kp E &kp A &kp D &kp E &kp D &kp SPC)
MACRO(c_hd__, &kp H &kp E &kp A &kp D &kp I &kp N &kp G &kp SPC)
MACRO(s_c_hd__, &kp LS(H) &kp E &kp A &kp D &kp I &kp N &kp G &kp SPC)
MACRO(c_hd___, &kp H &kp E &kp A &kp D &kp S &kp SPC)
MACRO(s_c_hd___, &kp LS(H) &kp E &kp A &kp D &kp S &kp SPC)
MACRO(c_wl, &kp W &kp E &kp L &kp L &kp SPC)
MACRO(s_c_wl, &kp LS(W) &kp E &kp L &kp L &kp SPC)
MACRO(c_wl___, &kp W &kp E &kp L &kp L &kp S &kp SPC)
MACRO(s_c_wl___, &kp LS(W) &kp E &kp L &kp L &kp S &kp SPC)
MACRO(c_be, &kp B &kp E &kp F &kp O &kp R &kp E &kp SPC)
MACRO(s_c_be, &kp LS(B) &kp E &kp F &kp O &kp R &kp E &kp SPC)
MACRO(c_be___, &kp B &kp E &kp F &kp O &kp R &kp E &kp S &kp SPC)
MACRO(s_c_be___, &kp LS(B) &kp E &kp F &kp O &kp R &kp E &kp S &kp SPC)
MACRO(c_m, &kp M &kp O &kp R &kp E &kp SPC)
MACRO(s_c_m, &kp LS(M) &kp O &kp R &kp E &kp SPC)
MACRO(c_m___, &kp M &kp O &kp R &kp E &kp S &kp SPC)
MACRO(s_c_m___, &kp LS(M) &kp O &kp R &kp E &kp S &kp SPC)
MACRO(c_en, &kp E &kp V &kp E &kp N &kp SPC)
MACRO(s_c_en, &kp LS(E) &kp V &kp E &kp N &kp SPC)
MACRO(c_en___, &kp E &kp V &kp E &kp N &kp S &kp SPC)
MACRO(s_c_en___, &kp LS(E) &kp V &kp E &kp N &kp S &kp SPC)
MACRO(c_tr, &kp T &kp U &kp R &kp N &kp SPC)
MACRO(s_c_tr, &kp LS(T) &kp U &kp R &kp N &kp SPC)
MACRO(c_tr_, &kp T &kp U &kp R &kp N &kp E &kp D &kp SPC)
MACRO(s_c_tr_, &kp LS(T) &kp U &kp R &kp N &kp E &kp D &kp SPC)
MACRO(c_tr__, &kp T &kp U &kp R &kp N &kp I &kp N &kp G &kp SPC)
MACRO(s_c_tr__, &kp LS(T) &kp U &kp R &kp N &kp I &kp N &kp G &kp SPC)
MACRO(c_tr___, &kp T &kp U &kp R &kp N &kp S &kp SPC)
MACRO(s_c_tr___, &kp LS(T) &kp U &kp R &kp N &kp S &kp SPC)
MACRO(c_ce, &kp C &kp O &kp M &kp E &kp SPC)
MACRO(s_c_ce, &kp LS(C) &kp O &kp M &kp E &kp SPC)
MACRO(c_ce_, &kp C &kp O &kp M &kp E &kp SPC)
MACRO(s_c_ce_, &kp LS(C) &kp O &kp M &kp E &kp SPC)
MACRO(c_ce__, &kp C &kp O &kp M &kp I &kp N &kp G &kp SPC)
MACRO(s_c_ce__, &kp LS(C) &kp O &kp M &kp I &kp N &kp G &kp SPC)
MACRO(c_ce___, &kp C &kp O &kp M &kp E &kp S &kp SPC)
MACRO(s_c_ce___, &kp LS(C) &kp O &kp M &kp E &kp S &kp SPC)
MACRO(c_se, &kp S &kp M &kp I &kp L &kp E &kp SPC)
MACRO(s_c_se, &kp LS(S) &kp M &kp I &kp L &kp E &kp SPC)
MACRO(c_se_, &kp S &kp M &kp I &kp L &kp E &kp D &kp SPC)
MACRO(s_c_se_, &kp LS(S) &kp M &kp I &kp L &kp E &kp D &kp SPC)
MACRO(c_se__, &kp S &kp M &kp I &kp L &kp I &kp N &kp G &kp SPC)
MACRO(s_c_se__, &kp LS(S) &kp M &kp I &kp L &kp I &kp N &kp G &kp SPC)
MACRO(c_se___, &kp S &kp M &kp I &kp L &kp E &kp S &kp SPC)
MACRO(s_c_se___, &kp LS(S) &kp M &kp I &kp L &kp E &kp S &kp SPC)
MACRO(c_r, &kp R &kp E &kp A &kp L &kp L &kp Y &kp SPC)
MACRO(s_c_r, &kp LS(R) &kp E &kp A &kp L &kp L &kp Y &kp SPC)
MACRO(c_r___, &kp R &kp E &kp A &kp L &kp L &kp I &kp E &kp S &kp SPC)
MACRO(s_c_r___, &kp LS(R) &kp E &kp A &kp L &kp L &kp I &kp E &kp S &kp SPC)
MACRO(c_fe, &kp F &kp A &kp C &kp E &kp SPC)
MACRO(s_c_fe, &kp LS(F) &kp A &kp C &kp E &kp SPC)
MACRO(c_fe_, &kp F &kp A &kp C &kp E &kp D &kp SPC)
MACRO(s_c_fe_, &kp LS(F) &kp A &kp C &kp E &kp D &kp SPC)
MACRO(c_fe__, &kp F &kp A &kp C &kp I &kp N &kp G &kp SPC)
MACRO(s_c_fe__, &kp LS(F) &kp A &kp C &kp I &kp N &kp G &kp SPC)
MACRO(c_fe___, &kp F &kp A &kp C &kp E &kp S &kp SPC)
MACRO(s_c_fe___, &kp LS(F) &kp A &kp C &kp E &kp S &kp SPC)
MACRO(c_ot, &kp O &kp T &kp H &kp E &kp R &kp SPC)
MACRO(s_c_ot, &kp LS(O) &kp T &kp H &kp E &kp R &kp SPC)
MACRO(c_ot___, &kp O &kp T &kp H &kp E &kp R &kp S &kp SPC)
MACRO(s_c_ot___, &kp LS(O) &kp T &kp H &kp E &kp R &kp S &kp SPC)
MACRO(c_so, &kp S &kp O &kp M &kp E &kp SPC)
MACRO(s_c_so, &kp LS(S) &kp O &kp M &kp E &kp SPC)
MACRO(c_so___, &kp S &kp O &kp M &kp E &kp S &kp SPC)
MACRO(s_c_so___, &kp LS(S) &kp O &kp M &kp E &kp S &kp SPC)
MACRO(c_ri, &kp R &kp I &kp G &kp H &kp T &kp SPC)
MACRO(s_c_ri, &kp LS(R) &kp I &kp G &kp H &kp T &kp SPC)
MACRO(c_ri___, &kp R &kp I &kp G &kp H &kp T &kp S &kp SPC)
MACRO(s_c_ri___, &kp LS(R) &kp I &kp G &kp H &kp T &kp S &kp SPC)
MACRO(c_tei, &kp T &kp H &kp E &kp I &kp R &kp SPC)
MACRO(s_c_tei, &kp LS(T) &kp H &kp E &kp I &kp R &kp SPC)
MACRO(c_tei___, &kp T &kp H &kp E &kp I &kp R &kp S &kp SPC)
MACRO(s_c_tei___, &kp LS(T) &kp H &kp E &kp I &kp R &kp S &kp SPC)
MACRO(c_on, &kp O &kp N &kp L &kp Y &kp SPC)
MACRO(s_c_on, &kp LS(O) &kp N &kp L &kp Y &kp SPC)
MACRO(c_on___, &kp O &kp N &kp L &kp I &kp E &kp S &kp SPC)
MACRO(s_c_on___, &kp LS(O) &kp N &kp L &kp I &kp E &kp S &kp SPC)
MACRO(c_me, &kp M &kp A &kp K &kp E &kp SPC)
MACRO(s_c_me, &kp LS(M) &kp A &kp K &kp E &kp SPC)
MACRO(c_me_, &kp M &kp A &kp D &kp E &kp SPC)
MACRO(s_c_me_, &kp LS(M) &kp A &kp D &kp E &kp SPC)
MACRO(c_me__, &kp M &kp A &kp K &kp I &kp N &kp G &kp SPC)
MACRO(s_c_me__, &kp LS(M) &kp A &kp K &kp I &kp N &kp G &kp SPC)
MACRO(c_me___, &kp M &kp A &kp K &kp E &kp S &kp SPC)
MACRO(s_c_me___, &kp LS(M) &kp A &kp K &kp E &kp S &kp SPC)
MACRO(c_sn, &kp S &kp O &kp M &kp E &kp T &kp H &kp I &kp N &kp G &kp SPC)
MACRO(s_c_sn, &kp LS(S) &kp O &kp M &kp E &kp T &kp H &kp I &kp N &kp G &kp SPC)
MACRO(c_sn___, &kp S &kp O &kp M &kp E &kp T &kp H &kp I &kp N &kp G &kp S &kp SPC)
MACRO(s_c_sn___, &kp LS(S) &kp O &kp M &kp E &kp T &kp H &kp I &kp N &kp G &kp S &kp SPC)
MACRO(c_rm, &kp R &kp O &kp O &kp M &kp SPC)
MACRO(s_c_rm, &kp LS(R) &kp O &kp O &kp M &kp SPC)
MACRO(c_rm___, &kp R &kp O &kp O &kp M &kp S &kp SPC)
MACRO(s_c_rm___, &kp LS(R) &kp O &kp O &kp M &kp S &kp SPC)
MACRO(c_ai, &kp A &kp G &kp A &kp I &kp N &kp SPC)
MACRO(s_c_ai, &kp LS(A) &kp G &kp A &kp I &kp N &kp SPC)
MACRO(c_ai___, &kp A &kp G &kp A &kp I &kp N &kp S &kp SPC)
MACRO(s_c_ai___, &kp LS(A) &kp G &kp A &kp I &kp N &kp S &kp SPC)
MACRO(c_thi, &kp T &kp H &kp I &kp N &kp G &kp SPC)
MACRO(s_c_thi, &kp LS(T) &kp H &kp I &kp N &kp G &kp SPC)
MACRO(c_thi___, &kp T &kp H &kp I &kp N &kp G &kp S &kp SPC)
MACRO(s_c_thi___, &kp LS(T) &kp H &kp I &kp N &kp G &kp S &kp SPC)
MACRO(c_ae, &kp A &kp F &kp T &kp E &kp R &kp SPC)
MACRO(s_c_ae, &kp LS(A) &kp F &kp T &kp E &kp R &kp SPC)
MACRO(c_ae___, &kp A &kp F &kp T &kp E &kp R &kp S &kp SPC)
MACRO(s_c_ae___, &kp LS(A) &kp F &kp T &kp E &kp R &kp S &kp SPC)
MACRO(c_sti, &kp S &kp T &kp I &kp L &kp L &kp SPC)
MACRO(s_c_sti, &kp LS(S) &kp T &kp I &kp L &kp L &kp SPC)
MACRO(c_sti___, &kp S &kp T &kp I &kp L &kp L &kp S &kp SPC)
MACRO(s_c_sti___, &kp LS(S) &kp T &kp I &kp L &kp L &kp S &kp SPC)
MACRO(c_dr, &kp D &kp O &kp O &kp R &kp SPC)
MACRO(s_c_dr, &kp LS(D) &kp O &kp O &kp R &kp SPC)
MACRO(c_dr___, &kp D &kp O &kp O &kp R &kp S &kp SPC)
MACRO(s_c_dr___, &kp LS(D) &kp O &kp O &kp R &kp S &kp SPC)
MACRO(c_hr, &kp H &kp E &kp R &kp E &kp SPC)
MACRO(s_c_hr, &kp LS(H) &kp E &kp R &kp E &kp SPC)
MACRO(c_hr___, &kp H &kp E &kp R &kp E &kp S &kp SPC)
MACRO(s_c_hr___, &kp LS(H) &kp E &kp R &kp E &kp S &kp SPC)
MACRO(c_lt, &kp L &kp I &kp T &kp T &kp L &kp E &kp SPC)
MACRO(s_c_lt, &kp LS(L) &kp I &kp T &kp T &kp L &kp E &kp SPC)
MACRO(c_lt___, &kp L &kp I &kp T &kp T &kp L &kp E &kp S &kp SPC)
MACRO(s_c_lt___, &kp LS(L) &kp I &kp T &kp T &kp L &kp E &kp S &kp SPC)
MACRO(c_bs, &kp B &kp E &kp C &kp A &kp U &kp S &kp E &kp SPC)
MACRO(s_c_bs, &kp LS(B) &kp E &kp C &kp A &kp U &kp S &kp E &kp SPC)
MACRO(c_bs___, &kp B &kp E &kp C &kp A &kp U &kp S &kp E &kp S &kp SPC)
MACRO(s_c_bs___, &kp LS(B) &kp E &kp C &kp A &kp U &kp S &kp E &kp S &kp SPC)
MACRO(c_ay, &kp A &kp W &kp A &kp Y &kp SPC)
MACRO(s_c_ay, &kp LS(A) &kp W &kp A &kp Y &kp SPC)
MACRO(c_ay___, &kp A &kp W &kp A &kp Y &kp S &kp SPC)
MACRO(s_c_ay___, &kp LS(A) &kp W &kp A &kp Y &kp S &kp SPC)
MACRO(c_sr, &kp S &kp T &kp A &kp R &kp T &kp SPC)
MACRO(s_c_sr, &kp LS(S) &kp T &kp A &kp R &kp T &kp SPC)
MACRO(c_sr_, &kp S &kp T &kp A &kp R &kp T &kp E &kp D &kp SPC)
MACRO(s_c_sr_, &kp LS(S) &kp T &kp A &kp R &kp T &kp E &kp D &kp SPC)
MACRO(c_sr__, &kp S &kp T &kp A &kp R &kp T &kp I &kp N &kp G &kp SPC)
MACRO(s_c_sr__, &kp LS(S) &kp T &kp A &kp R &kp T &kp I &kp N &kp G &kp SPC)
MACRO(c_sr___, &kp S &kp T &kp A &kp R &kp T &kp S &kp SPC)
MACRO(s_c_sr___, &kp LS(S) &kp T &kp A &kp R &kp T &kp S &kp SPC)
MACRO(c_go, &kp G &kp O &kp O &kp D &kp SPC)
MACRO(s_c_go, &kp LS(G) &kp O &kp O &kp D &kp SPC)
MACRO(c_go___, &kp G &kp O &kp O &kp D &kp S &kp SPC)
MACRO(s_c_go___, &kp LS(G) &kp O &kp O &kp D &kp S &kp SPC)
MACRO(c_wr, &kp W &kp H &kp E &kp R &kp E &kp SPC)
MACRO(s_c_wr, &kp LS(W) &kp H &kp E &kp R &kp E &kp SPC)
MACRO(c_wr___, &kp W &kp H &kp E &kp R &kp E &kp S &kp SPC)
MACRO(s_c_wr___, &kp LS(W) &kp H &kp E &kp R &kp E &kp S &kp SPC)
MACRO(c_nr, &kp N &kp E &kp V &kp E &kp R &kp SPC)
MACRO(s_c_nr, &kp LS(N) &kp E &kp V &kp E &kp R &kp SPC)
MACRO(c_nr___, &kp N &kp E &kp V &kp E &kp R &kp S &kp SPC)
MACRO(s_c_nr___, &kp LS(N) &kp E &kp V &kp E &kp R &kp S &kp SPC)
MACRO(c_tu, &kp T &kp H &kp R &kp O &kp U &kp G &kp H &kp SPC)
MACRO(s_c_tu, &kp LS(T) &kp H &kp R &kp O &kp U &kp G &kp H &kp SPC)
MACRO(c_tu___, &kp T &kp H &kp R &kp O &kp U &kp G &kp H &kp S &kp SPC)
MACRO(s_c_tu___, &kp LS(T) &kp H &kp R &kp O &kp U &kp G &kp H &kp S &kp SPC)
MACRO(c_mc, &kp M &kp U &kp C &kp H &kp SPC)
MACRO(s_c_mc, &kp LS(M) &kp U &kp C &kp H &kp SPC)
MACRO(c_mc___, &kp M &kp U &kp C &kp H &kp E &kp S &kp SPC)
MACRO(s_c_mc___, &kp LS(M) &kp U &kp C &kp H &kp E &kp S &kp SPC)
MACRO(c_ws, &kp W &kp A &kp S &kp N &kp QUOT &kp T &kp SPC)
MACRO(s_c_ws, &kp LS(W) &kp A &kp S &kp N &kp QUOT &kp T &kp SPC)
MACRO(c_ws___, &kp W &kp A &kp S &kp N &kp QUOT &kp T &kp S &kp SPC)
MACRO(s_c_ws___, &kp LS(W) &kp A &kp S &kp N &kp QUOT &kp T &kp S &kp SPC)
MACRO(c_gi, &kp G &kp I &kp R &kp L &kp SPC)
MACRO(s_c_gi, &kp LS(G) &kp I &kp R &kp L &kp SPC)
MACRO(c_gi___, &kp G &kp I &kp R &kp L &kp S &kp SPC)
MACRO(s_c_gi___, &kp LS(G) &kp I &kp R &kp L &kp S &kp SPC)
MACRO(c_fl, &kp F &kp E &kp E &kp L &kp SPC)
MACRO(s_c_fl, &kp LS(F) &kp E &kp E &kp L &kp SPC)
MACRO(c_fl_, &kp F &kp E &kp L &kp T &kp SPC)
MACRO(s_c_fl_, &kp LS(F) &kp E &kp L &kp T &kp SPC)
MACRO(c_fl__, &kp F &kp E &kp E &kp L &kp I &kp N &kp G &kp SPC)
MACRO(s_c_fl__, &kp LS(F) &kp E &kp E &kp L &kp I &kp N &kp G &kp SPC)
MACRO(c_fl___, &kp F &kp E &kp E &kp L &kp S &kp SPC)
MACRO(s_c_fl___, &kp LS(F) &kp E &kp E &kp L &kp S &kp SPC)
MACRO(c_ye, &kp Y &kp O &kp U &kp QUOT &kp R &kp E &kp SPC)
MACRO(s_c_ye, &kp LS(Y) &kp O &kp U &kp QUOT &kp R &kp E &kp SPC)
MACRO(c_ye___, &kp Y &kp O &kp U &kp QUOT &kp R &kp E &kp S &kp SPC)
MACRO(s_c_ye___, &kp LS(Y) &kp O &kp U &kp QUOT &kp R &kp E &kp S &kp SPC)
MACRO(c_ca, &kp C &kp A &kp L &kp L &kp SPC)
MACRO(s_c_ca, &kp LS(C) &kp A &kp L &kp L &kp SPC)
MACRO(c_ca_, &kp C &kp A &kp L &kp L &kp E &kp D &kp SPC)
MACRO(s_c_ca_, &kp LS(C) &kp A &kp L &kp L &kp E &kp D &kp SPC)
MACRO(c_ca__, &kp C &kp A &kp L &kp L &kp I &kp N &kp G &kp SPC)
MACRO(s_c_ca__, &kp LS(C) &kp A &kp L &kp L &kp I &kp N &kp G &kp SPC)
MACRO(c_ca___, &kp C &kp A &kp L &kp L &kp S &kp SPC)
MACRO(s_c_ca___, &kp LS(C) &kp A &kp L &kp L &kp S &kp SPC)
MACRO(c_wi, &kp W &kp I &kp L &kp L &kp SPC)
MACRO(s_c_wi, &kp LS(W) &kp I &kp L &kp L &kp SPC)
MACRO(c_wi___, &kp W &kp I &kp L &kp L &kp S &kp SPC)
MACRO(s_c_wi___, &kp LS(W) &kp I &kp L &kp L &kp S &kp SPC)
MACRO(c_ln, &kp L &kp O &kp N &kp G &kp SPC)
MACRO(s_c_ln, &kp LS(L) &kp O &kp N &kp G &kp SPC)
MACRO(c_ln_, &kp L &kp O &kp N &kp G &kp E &kp D &kp SPC)
MACRO(s_c_ln_, &kp LS(L) &kp O &kp N &kp G &kp E &kp D &kp SPC)
MACRO(c_ln__, &kp L &kp O &kp N &kp G &kp I &kp N &kp G &kp SPC)
MACRO(s_c_ln__, &kp LS(L) &kp O &kp N &kp G &kp I &kp N &kp G &kp SPC)
MACRO(c_ln___, &kp L &kp O &kp N &kp G &kp S &kp SPC)
MACRO(s_c_ln___, &kp LS(L) &kp O &kp N &kp G &kp S &kp SPC)
MACRO(c_fi, &kp F &kp R &kp I &kp E &kp N &kp D &kp SPC)
MACRO(s_c_fi, &kp LS(F) &kp R &kp I &kp E &kp N &kp D &kp SPC)
MACRO(c_fi___, &kp F &kp R &kp I &kp E &kp N &kp D &kp S &kp SPC)
MACRO(s_c_fi___, &kp LS(F) &kp R &kp I &kp E &kp N &kp D &kp S &kp SPC)
MACRO(c_kn, &kp K &kp N &kp E &kp W &kp SPC)
MACRO(s_c_kn, &kp LS(K) &kp N &kp E &kp W &kp SPC)
MACRO(c_kn___, &kp K &kp N &kp E &kp W &kp S &kp SPC)
MACRO(s_c_kn___, &kp LS(K) &kp N &kp E &kp W &kp S &kp SPC)
MACRO(c_op, &kp O &kp P &kp E &kp N &kp SPC)
MACRO(s_c_op, &kp LS(O) &kp P &kp E &kp N &kp SPC)
MACRO(c_op_, &kp O &kp P &kp E &kp N &kp E &kp D &kp SPC)
MACRO(s_c_op_, &kp LS(O) &kp P &kp E &kp N &kp E &kp D &kp SPC)
MACRO(c_op__, &kp O &kp P &kp E &kp N &kp I &kp N &kp G &kp SPC)
MACRO(s_c_op__, &kp LS(O) &kp P &kp E &kp N &kp I &kp N &kp G &kp SPC)
MACRO(c_op___, &kp O &kp P &kp E &kp N &kp S &kp SPC)
MACRO(s_c_op___, &kp LS(O) &kp P &kp E &kp N &kp S &kp SPC)
MACRO(c_ft, &kp F &kp I &kp R &kp S &kp T &kp SPC)
MACRO(s_c_ft, &kp LS(F) &kp I &kp R &kp S &kp T &kp SPC)
MACRO(c_ft___, &kp F &kp I &kp R &kp S &kp T &kp S &kp SPC)
MACRO(s_c_ft___, &kp LS(F) &kp I &kp R &kp S &kp T &kp S &kp SPC)
MACRO(c_whi, &kp W &kp H &kp I &kp C &kp H &kp SPC)
MACRO(s_c_whi, &kp LS(W) &kp H &kp I &kp C &kp H &kp SPC)
MACRO(c_whi___, &kp W &kp H &kp I &kp C &kp H &kp E &kp S &kp SPC)
MACRO(s_c_whi___, &kp LS(W) &kp H &kp I &kp C &kp H &kp E &kp S &kp SPC)
MACRO(c_p, &kp P &kp E &kp O &kp P &kp L &kp E &kp SPC)
MACRO(s_c_p, &kp LS(P) &kp E &kp O &kp P &kp L &kp E &kp SPC)
MACRO(c_p___, &kp P &kp E &kp O &kp P &kp L &kp E &kp S &kp SPC)
MACRO(s_c_p___, &kp LS(P) &kp E &kp O &kp P &kp L &kp E &kp S &kp SPC)
MACRO(c_ths, &kp T &kp H &kp A &kp T &kp QUOT &kp S &kp SPC)
MACRO(s_c_ths, &kp LS(T) &kp H &kp A &kp T &kp QUOT &kp S &kp SPC)
MACRO(c_ths___, &kp T &kp H &kp A &kp T &kp QUOT &kp S &kp S &kp SPC)
MACRO(s_c_ths___, &kp LS(T) &kp H &kp A &kp T &kp QUOT &kp S &kp S &kp SPC)
MACRO(c_su, &kp S &kp U &kp R &kp E &kp SPC)
MACRO(s_c_su, &kp LS(S) &kp U &kp R &kp E &kp SPC)
MACRO(c_su___, &kp S &kp U &kp R &kp E &kp S &kp SPC)
MACRO(s_c_su___, &kp LS(S) &kp U &kp R &kp E &kp S &kp SPC)
MACRO(c_sm, &kp S &kp E &kp E &kp M &kp SPC)
MACRO(s_c_sm, &kp LS(S) &kp E &kp E &kp M &kp SPC)
MACRO(c_sm___, &kp S &kp E &kp E &kp M &kp S &kp SPC)
MACRO(s_c_sm___, &kp LS(S) &kp E &kp E &kp M &kp S &kp SPC)
MACRO(c_sp, &kp S &kp T &kp O &kp P &kp SPC)
MACRO(s_c_sp, &kp LS(S) &kp T &kp O &kp P &kp SPC)
MACRO(c_sp_, &kp S &kp T &kp O &kp P &kp P &kp E &kp D &kp SPC)
MACRO(s_c_sp_, &kp LS(S) &kp T &kp O &kp P &kp P &kp E &kp D &kp SPC)
MACRO(c_sp__, &kp S &kp T &kp O &kp P &kp P &kp I &kp N &kp G &kp SPC)
MACRO(s_c_sp__, &kp LS(S) &kp T &kp O &kp P &kp P &kp I &kp N &kp G &kp SPC)
MACRO(c_sp___, &kp S &kp T &kp O &kp P &kp S &kp SPC)
MACRO(s_c_sp___, &kp LS(S) &kp T &kp O &kp P &kp S &kp SPC)
MACRO(c_v, &kp V &kp O &kp I &kp C &kp E &kp SPC)
MACRO(s_c_v, &kp LS(V) &kp O &kp I &kp C &kp E &kp SPC)
MACRO(c_v_, &kp V &kp O &kp I &kp C &kp E &kp D &kp SPC)
MACRO(s_c_v_, &kp LS(V) &kp O &kp I &kp C &kp E &kp D &kp SPC)
MACRO(c_v__, &kp V &kp O &kp I &kp C &kp I &kp N &kp G &kp SPC)
MACRO(s_c_v__, &kp LS(V) &kp O &kp I &kp C &kp I &kp N &kp G &kp SPC)
MACRO(c_v___, &kp V &kp O &kp I &kp C &kp E &kp S &kp SPC)
MACRO(s_c_v___, &kp LS(V) &kp O &kp I &kp C &kp E &kp S &kp SPC)
MACRO(c_ve, &kp V &kp E &kp R &kp Y &kp SPC)
MACRO(s_c_ve, &kp LS(V) &kp E &kp R &kp Y &kp SPC)
MACRO(c_ve___, &kp V &kp E &kp R &kp I &kp E &kp S &kp SPC)
MACRO(s_c_ve___, &kp LS(V) &kp E &kp R &kp I &kp E &kp S &kp SPC)
MACRO(c_pu, &kp P &kp U &kp L &kp L &kp SPC)
MACRO(s_c_pu, &kp LS(P) &kp U &kp L &kp L &kp SPC)
MACRO(c_pu_, &kp P &kp U &kp L &kp L &kp E &kp D &kp SPC)
MACRO(s_c_pu_, &kp LS(P) &kp U &kp L &kp L &kp E &kp D &kp SPC)
MACRO(c_pu__, &kp P &kp U &kp L &kp L &kp I &kp N &kp G &kp SPC)
MACRO(s_c_pu__, &kp LS(P) &kp U &kp L &kp L &kp I &kp N &kp G &kp SPC)
MACRO(c_pu___, &kp P &kp U &kp L &kp L &kp S &kp SPC)
MACRO(s_c_pu___, &kp LS(P) &kp U &kp L &kp L &kp S &kp SPC)
MACRO(c_la, &kp L &kp A &kp U &kp G &kp H &kp SPC)
MACRO(s_c_la, &kp LS(L) &kp A &kp U &kp G &kp H &kp SPC)
MACRO(c_la_, &kp L &kp A &kp U &kp G &kp H &kp E &kp D &kp SPC)
MACRO(s_c_la_, &kp LS(L) &kp A &kp U &kp G &kp H &kp E &kp D &kp SPC)
MACRO(c_la__, &kp L &kp A &kp U &kp G &kp H &kp I &kp N &kp G &kp SPC)
MACRO(s_c_la__, &kp LS(L) &kp A &kp U &kp G &kp H &kp I &kp N &kp G &kp SPC)
MACRO(c_la___, &kp L &kp A &kp U &kp G &kp H &kp S &kp SPC)
MACRO(s_c_la___, &kp LS(L) &kp A &kp U &kp G &kp H &kp S &kp SPC)
MACRO(c_oa, &kp O &kp K &kp A &kp Y &kp SPC)
MACRO(s_c_oa, &kp LS(O) &kp K &kp A &kp Y &kp SPC)
MACRO(c_oa___, &kp O &kp K &kp A &kp Y &kp S &kp SPC)
MACRO(s_c_oa___, &kp LS(O) &kp K &kp A &kp Y &kp S &kp SPC)
MACRO(c_cs, &kp C &kp L &kp O &kp S &kp E &kp SPC)
MACRO(s_c_cs, &kp LS(C) &kp L &kp O &kp S &kp E &kp SPC)
MACRO(c_cs_, &kp C &kp L &kp O &kp S &kp E &kp D &kp SPC)
MACRO(s_c_cs_, &kp LS(C) &kp L &kp O &kp S &kp E &kp D &kp SPC)
MACRO(c_cs__, &kp C &kp L &kp O &kp S &kp I &kp N &kp G &kp SPC)
MACRO(s_c_cs__, &kp LS(C) &kp L &kp O &kp S &kp I &kp N &kp G &kp SPC)
MACRO(c_cs___, &kp C &kp L &kp O &kp S &kp E &kp S &kp SPC)
MACRO(s_c_cs___, &kp LS(C) &kp L &kp O &kp S &kp E &kp S &kp SPC)
MACRO(c_lo, &kp L &kp O &kp V &kp E &kp SPC)
MACRO(s_c_lo, &kp LS(L) &kp O &kp V &kp E &kp SPC)
MACRO(c_lo_, &kp L &kp O &kp V &kp E &kp D &kp SPC)
MACRO(s_c_lo_, &kp LS(L) &kp O &kp V &kp E &kp D &kp SPC)
MACRO(c_lo__, &kp L &kp O &kp V &kp I &kp N &kp G &kp SPC)
MACRO(s_c_lo__, &kp LS(L) &kp O &kp V &kp I &kp N &kp G &kp SPC)
MACRO(c_lo___, &kp L &kp O &kp V &kp E &kp S &kp SPC)
MACRO(s_c_lo___, &kp LS(L) &kp O &kp V &kp E &kp S &kp SPC)
