#define str(s) #s
#define MACRO(NAME, BINDINGS) \
  macro_##NAME: macro_##NAME { \
      compatible = "zmk,behavior-macro"; \
      #binding-cells = <0>; \
      wait-ms = <0>; \
      tap-ms = <10>; \
      bindings = <BINDINGS>; \
  };

MACRO(c_t, &kp T &kp H &kp E &kp SPC)
MACRO(s_c_t, &kp LS(T) &kp H &kp E &kp SPC)
MACRO(c_t___, &kp T &kp H &kp E &kp S &kp SPC)
MACRO(s_c_t___, &kp LS(T) &kp H &kp E &kp S &kp SPC)
MACRO(c_a, &kp A &kp N &kp D &kp SPC)
MACRO(s_c_a, &kp LS(A) &kp N &kp D &kp SPC)
MACRO(c_a___, &kp A &kp N &kp D &kp S &kp SPC)
MACRO(s_c_a___, &kp LS(A) &kp N &kp D &kp S &kp SPC)
MACRO(c_w, &kp W &kp A &kp S &kp SPC)
MACRO(s_c_w, &kp LS(W) &kp A &kp S &kp SPC)
MACRO(c_w___, &kp W &kp A &kp S &kp S &kp SPC)
MACRO(s_c_w___, &kp LS(W) &kp A &kp S &kp S &kp SPC)
MACRO(c_y, &kp Y &kp O &kp U &kp SPC)
MACRO(s_c_y, &kp LS(Y) &kp O &kp U &kp SPC)
MACRO(c_y___, &kp Y &kp O &kp U &kp SPC)
MACRO(s_c_y___, &kp LS(Y) &kp O &kp U &kp SPC)
MACRO(c_h, &kp H &kp E &kp R &kp SPC)
MACRO(s_c_h, &kp LS(H) &kp E &kp R &kp SPC)
MACRO(c_h___, &kp T &kp H &kp E &kp M &kp SPC)
MACRO(s_c_h___, &kp LS(T) &kp H &kp E &kp M &kp SPC)
MACRO(c_s, &kp S &kp H &kp E &kp SPC)
MACRO(s_c_s, &kp LS(S) &kp H &kp E &kp SPC)
MACRO(c_s___, &kp T &kp H &kp E &kp Y &kp SPC)
MACRO(s_c_s___, &kp LS(T) &kp H &kp E &kp Y &kp SPC)
MACRO(c_th, &kp T &kp H &kp A &kp T &kp SPC)
MACRO(s_c_th, &kp LS(T) &kp H &kp A &kp T &kp SPC)
MACRO(c_th___, &kp T &kp H &kp A &kp T &kp S &kp SPC)
MACRO(s_c_th___, &kp LS(T) &kp H &kp A &kp T &kp S &kp SPC)
MACRO(c_wt, &kp W &kp I &kp T &kp H &kp SPC)
MACRO(s_c_wt, &kp LS(W) &kp I &kp T &kp H &kp SPC)
MACRO(c_wt___, &kp W &kp I &kp T &kp H &kp S &kp SPC)
MACRO(s_c_wt___, &kp LS(W) &kp I &kp T &kp H &kp S &kp SPC)
MACRO(c_f, &kp F &kp O &kp R &kp SPC)
MACRO(s_c_f, &kp LS(F) &kp O &kp R &kp SPC)
MACRO(c_f___, &kp F &kp O &kp R &kp S &kp SPC)
MACRO(s_c_f___, &kp LS(F) &kp O &kp R &kp S &kp SPC)
MACRO(c_b, &kp B &kp U &kp T &kp SPC)
MACRO(s_c_b, &kp LS(B) &kp U &kp T &kp SPC)
MACRO(c_b___, &kp B &kp U &kp T &kp S &kp SPC)
MACRO(s_c_b___, &kp LS(B) &kp U &kp T &kp S &kp SPC)
MACRO(c_si, &kp S &kp A &kp I &kp D &kp SPC)
MACRO(s_c_si, &kp LS(S) &kp A &kp I &kp D &kp SPC)
MACRO(c_si___, &kp S &kp A &kp I &kp D &kp S &kp SPC)
MACRO(s_c_si___, &kp LS(S) &kp A &kp I &kp D &kp S &kp SPC)
MACRO(c_o, &kp O &kp U &kp T &kp SPC)
MACRO(s_c_o, &kp LS(O) &kp U &kp T &kp SPC)
MACRO(c_o___, &kp O &kp U &kp T &kp S &kp SPC)
MACRO(s_c_o___, &kp LS(O) &kp U &kp T &kp S &kp SPC)
MACRO(c_l, &kp L &kp O &kp O &kp K &kp SPC)
MACRO(s_c_l, &kp LS(L) &kp O &kp O &kp K &kp SPC)
MACRO(c_l_, &kp L &kp O &kp O &kp K &kp E &kp D &kp SPC)
MACRO(s_c_l_, &kp LS(L) &kp O &kp O &kp K &kp E &kp D &kp SPC)
MACRO(c_l__, &kp L &kp O &kp O &kp K &kp I &kp N &kp G &kp SPC)
MACRO(s_c_l__, &kp LS(L) &kp O &kp O &kp K &kp I &kp N &kp G &kp SPC)
MACRO(c_l___, &kp L &kp O &kp O &kp K &kp S &kp SPC)
MACRO(s_c_l___, &kp LS(L) &kp O &kp O &kp K &kp S &kp SPC)
MACRO(c_he, &kp H &kp A &kp V &kp E &kp SPC)
MACRO(s_c_he, &kp LS(H) &kp A &kp V &kp E &kp SPC)
MACRO(c_he_, &kp H &kp A &kp D &kp SPC)
MACRO(s_c_he_, &kp LS(H) &kp A &kp D &kp SPC)
MACRO(c_he__, &kp H &kp A &kp V &kp I &kp N &kp G &kp SPC)
MACRO(s_c_he__, &kp LS(H) &kp A &kp V &kp I &kp N &kp G &kp SPC)
MACRO(c_he___, &kp H &kp A &kp V &kp E &kp S &kp SPC)
MACRO(s_c_he___, &kp LS(H) &kp A &kp V &kp E &kp S &kp SPC)
MACRO(c_wh, &kp W &kp H &kp A &kp T &kp SPC)
MACRO(s_c_wh, &kp LS(W) &kp H &kp A &kp T &kp SPC)
MACRO(c_wh___, &kp W &kp H &kp A &kp T &kp S &kp SPC)
MACRO(s_c_wh___, &kp LS(W) &kp H &kp A &kp T &kp S &kp SPC)
MACRO(c_n, &kp N &kp O &kp T &kp SPC)
MACRO(s_c_n, &kp LS(N) &kp O &kp T &kp SPC)
MACRO(c_n___, &kp N &kp O &kp T &kp S &kp SPC)
MACRO(s_c_n___, &kp LS(N) &kp O &kp T &kp S &kp SPC)
MACRO(c_j, &kp J &kp U &kp S &kp T &kp SPC)
MACRO(s_c_j, &kp LS(J) &kp U &kp S &kp T &kp SPC)
MACRO(c_j___, &kp J &kp U &kp S &kp T &kp S &kp SPC)
MACRO(s_c_j___, &kp LS(J) &kp U &kp S &kp T &kp S &kp SPC)
MACRO(c_le, &kp L &kp I &kp K &kp E &kp SPC)
MACRO(s_c_le, &kp LS(L) &kp I &kp K &kp E &kp SPC)
MACRO(c_le_, &kp L &kp I &kp K &kp E &kp D &kp SPC)
MACRO(s_c_le_, &kp LS(L) &kp I &kp K &kp E &kp D &kp SPC)
MACRO(c_le__, &kp L &kp I &kp K &kp I &kp N &kp G &kp SPC)
MACRO(s_c_le__, &kp LS(L) &kp I &kp K &kp I &kp N &kp G &kp SPC)
MACRO(c_le___, &kp L &kp I &kp K &kp E &kp S &kp SPC)
MACRO(s_c_le___, &kp LS(L) &kp I &kp K &kp E &kp S &kp SPC)
MACRO(c_ts, &kp T &kp H &kp I &kp S &kp SPC)
MACRO(s_c_ts, &kp LS(T) &kp H &kp I &kp S &kp SPC)
MACRO(c_ts___, &kp T &kp H &kp I &kp S &kp S &kp SPC)
MACRO(s_c_ts___, &kp LS(T) &kp H &kp I &kp S &kp S &kp SPC)
MACRO(c_fr, &kp F &kp R &kp O &kp M &kp SPC)
MACRO(s_c_fr, &kp LS(F) &kp R &kp O &kp M &kp SPC)
MACRO(c_fr___, &kp F &kp R &kp O &kp M &kp S &kp SPC)
MACRO(s_c_fr___, &kp LS(F) &kp R &kp O &kp M &kp S &kp SPC)
MACRO(c_we, &kp W &kp E &kp R &kp E &kp SPC)
MACRO(s_c_we, &kp LS(W) &kp E &kp R &kp E &kp SPC)
MACRO(c_we___, &kp W &kp E &kp R &kp E &kp S &kp SPC)
MACRO(s_c_we___, &kp LS(W) &kp E &kp R &kp E &kp S &kp SPC)
MACRO(c_ba, &kp B &kp A &kp C &kp K &kp SPC)
MACRO(s_c_ba, &kp LS(B) &kp A &kp C &kp K &kp SPC)
MACRO(c_ba_, &kp B &kp A &kp C &kp K &kp E &kp D &kp SPC)
MACRO(s_c_ba_, &kp LS(B) &kp A &kp C &kp K &kp E &kp D &kp SPC)
MACRO(c_ba__, &kp B &kp A &kp C &kp K &kp I &kp N &kp G &kp SPC)
MACRO(s_c_ba__, &kp LS(B) &kp A &kp C &kp K &kp I &kp N &kp G &kp SPC)
MACRO(c_ba___, &kp B &kp A &kp C &kp K &kp S &kp SPC)
MACRO(s_c_ba___, &kp LS(B) &kp A &kp C &kp K &kp S &kp SPC)
MACRO(c_at, &kp A &kp B &kp O &kp U &kp T &kp SPC)
MACRO(s_c_at, &kp LS(A) &kp B &kp O &kp U &kp T &kp SPC)
MACRO(c_at___, &kp A &kp B &kp O &kp U &kp T &kp S &kp SPC)
MACRO(s_c_at___, &kp LS(A) &kp B &kp O &kp U &kp T &kp S &kp SPC)
MACRO(c_k, &kp K &kp N &kp O &kp W &kp SPC)
MACRO(s_c_k, &kp LS(K) &kp N &kp O &kp W &kp SPC)
MACRO(c_k_, &kp K &kp N &kp O &kp W &kp N &kp SPC)
MACRO(s_c_k_, &kp LS(K) &kp N &kp O &kp W &kp N &kp SPC)
MACRO(c_k__, &kp K &kp N &kp O &kp W &kp I &kp N &kp G &kp SPC)
MACRO(s_c_k__, &kp LS(K) &kp N &kp O &kp W &kp I &kp N &kp G &kp SPC)
MACRO(c_k___, &kp K &kp N &kp O &kp W &kp S &kp SPC)
MACRO(s_c_k___, &kp LS(K) &kp N &kp O &kp W &kp S &kp SPC)
MACRO(c_wn, &kp W &kp H &kp E &kp N &kp SPC)
MACRO(s_c_wn, &kp LS(W) &kp H &kp E &kp N &kp SPC)
MACRO(c_wn___, &kp W &kp H &kp E &kp N &kp S &kp SPC)
MACRO(s_c_wn___, &kp LS(W) &kp H &kp E &kp N &kp S &kp SPC)
MACRO(c_g, &kp G &kp E &kp T &kp SPC)
MACRO(s_c_g, &kp LS(G) &kp E &kp T &kp SPC)
MACRO(c_g_, &kp G &kp O &kp T &kp SPC)
MACRO(s_c_g_, &kp LS(G) &kp O &kp T &kp SPC)
MACRO(c_g__, &kp G &kp E &kp T &kp T &kp I &kp N &kp G &kp SPC)
MACRO(s_c_g__, &kp LS(G) &kp E &kp T &kp T &kp I &kp N &kp G &kp SPC)
MACRO(c_g___, &kp G &kp E &kp T &kp S &kp SPC)
MACRO(s_c_g___, &kp LS(G) &kp E &kp T &kp S &kp SPC)
MACRO(c_tn, &kp T &kp H &kp E &kp N &kp SPC)
MACRO(s_c_tn, &kp LS(T) &kp H &kp E &kp N &kp SPC)
MACRO(c_tn___, &kp T &kp H &kp E &kp N &kp S &kp SPC)
MACRO(s_c_tn___, &kp LS(T) &kp H &kp E &kp N &kp S &kp SPC)
