#define str(s) #s
#define MACRO(NAME, BINDINGS) \
  macro_##NAME: macro_##NAME { \
      compatible = "zmk,behavior-macro"; \
      #binding-cells = <0>; \
      wait-ms = <0>; \
      tap-ms = <10>; \
      bindings = <BINDINGS>; \
  };

MACRO(c_ta, &kp T &kp H &kp E &kp SPC)
MACRO(s_c_ta, &sk LSHIFT &kp T &kp H &kp E &kp SPC)
MACRO(c_td, &kp T &kp H &kp E &kp S &kp SPC)
MACRO(s_c_td, &sk LSHIFT &kp T &kp H &kp E &kp S &kp SPC)
MACRO(c_aa, &kp A &kp N &kp D &kp SPC)
MACRO(s_c_aa, &sk LSHIFT &kp A &kp N &kp D &kp SPC)
MACRO(c_ad, &kp A &kp N &kp D &kp S &kp SPC)
MACRO(s_c_ad, &sk LSHIFT &kp A &kp N &kp D &kp S &kp SPC)
MACRO(c_wa, &kp W &kp A &kp S &kp SPC)
MACRO(s_c_wa, &sk LSHIFT &kp W &kp A &kp S &kp SPC)
MACRO(c_wd, &kp W &kp A &kp S &kp S &kp SPC)
MACRO(s_c_wd, &sk LSHIFT &kp W &kp A &kp S &kp S &kp SPC)
MACRO(c_ya, &kp Y &kp O &kp U &kp SPC)
MACRO(s_c_ya, &sk LSHIFT &kp Y &kp O &kp U &kp SPC)
MACRO(c_yd, &kp Y &kp O &kp U &kp SPC)
MACRO(s_c_yd, &sk LSHIFT &kp Y &kp O &kp U &kp SPC)
MACRO(c_ha, &kp H &kp E &kp R &kp SPC)
MACRO(s_c_ha, &sk LSHIFT &kp H &kp E &kp R &kp SPC)
MACRO(c_hd, &kp T &kp H &kp E &kp M &kp SPC)
MACRO(s_c_hd, &sk LSHIFT &kp T &kp H &kp E &kp M &kp SPC)
MACRO(c_sa, &kp S &kp H &kp E &kp SPC)
MACRO(s_c_sa, &sk LSHIFT &kp S &kp H &kp E &kp SPC)
MACRO(c_sd, &kp T &kp H &kp E &kp Y &kp SPC)
MACRO(s_c_sd, &sk LSHIFT &kp T &kp H &kp E &kp Y &kp SPC)
MACRO(c_tha, &kp T &kp H &kp A &kp T &kp SPC)
MACRO(s_c_tha, &sk LSHIFT &kp T &kp H &kp A &kp T &kp SPC)
MACRO(c_thd, &kp T &kp H &kp A &kp T &kp S &kp SPC)
MACRO(s_c_thd, &sk LSHIFT &kp T &kp H &kp A &kp T &kp S &kp SPC)
MACRO(c_wta, &kp W &kp I &kp T &kp H &kp SPC)
MACRO(s_c_wta, &sk LSHIFT &kp W &kp I &kp T &kp H &kp SPC)
MACRO(c_wtd, &kp W &kp I &kp T &kp H &kp S &kp SPC)
MACRO(s_c_wtd, &sk LSHIFT &kp W &kp I &kp T &kp H &kp S &kp SPC)
MACRO(c_fa, &kp F &kp O &kp R &kp SPC)
MACRO(s_c_fa, &sk LSHIFT &kp F &kp O &kp R &kp SPC)
MACRO(c_fd, &kp F &kp O &kp R &kp S &kp SPC)
MACRO(s_c_fd, &sk LSHIFT &kp F &kp O &kp R &kp S &kp SPC)
MACRO(c_ba, &kp B &kp U &kp T &kp SPC)
MACRO(s_c_ba, &sk LSHIFT &kp B &kp U &kp T &kp SPC)
MACRO(c_bd, &kp B &kp U &kp T &kp S &kp SPC)
MACRO(s_c_bd, &sk LSHIFT &kp B &kp U &kp T &kp S &kp SPC)
MACRO(c_sia, &kp S &kp A &kp I &kp D &kp SPC)
MACRO(s_c_sia, &sk LSHIFT &kp S &kp A &kp I &kp D &kp SPC)
MACRO(c_sid, &kp S &kp A &kp I &kp D &kp S &kp SPC)
MACRO(s_c_sid, &sk LSHIFT &kp S &kp A &kp I &kp D &kp S &kp SPC)
MACRO(c_oa, &kp O &kp U &kp T &kp SPC)
MACRO(s_c_oa, &sk LSHIFT &kp O &kp U &kp T &kp SPC)
MACRO(c_od, &kp O &kp U &kp T &kp S &kp SPC)
MACRO(s_c_od, &sk LSHIFT &kp O &kp U &kp T &kp S &kp SPC)
MACRO(c_la, &kp L &kp O &kp O &kp K &kp SPC)
MACRO(s_c_la, &sk LSHIFT &kp L &kp O &kp O &kp K &kp SPC)
MACRO(c_lb, &kp L &kp O &kp O &kp K &kp E &kp D &kp SPC)
MACRO(s_c_lb, &sk LSHIFT &kp L &kp O &kp O &kp K &kp E &kp D &kp SPC)
MACRO(c_lc, &kp L &kp O &kp O &kp K &kp I &kp N &kp G &kp SPC)
MACRO(s_c_lc, &sk LSHIFT &kp L &kp O &kp O &kp K &kp I &kp N &kp G &kp SPC)
MACRO(c_ld, &kp L &kp O &kp O &kp K &kp S &kp SPC)
MACRO(s_c_ld, &sk LSHIFT &kp L &kp O &kp O &kp K &kp S &kp SPC)
MACRO(c_hea, &kp H &kp A &kp V &kp E &kp SPC)
MACRO(s_c_hea, &sk LSHIFT &kp H &kp A &kp V &kp E &kp SPC)
MACRO(c_heb, &kp H &kp A &kp D &kp SPC)
MACRO(s_c_heb, &sk LSHIFT &kp H &kp A &kp D &kp SPC)
MACRO(c_hec, &kp H &kp A &kp V &kp I &kp N &kp G &kp SPC)
MACRO(s_c_hec, &sk LSHIFT &kp H &kp A &kp V &kp I &kp N &kp G &kp SPC)
MACRO(c_hed, &kp H &kp A &kp V &kp E &kp S &kp SPC)
MACRO(s_c_hed, &sk LSHIFT &kp H &kp A &kp V &kp E &kp S &kp SPC)
MACRO(c_wha, &kp W &kp H &kp A &kp T &kp SPC)
MACRO(s_c_wha, &sk LSHIFT &kp W &kp H &kp A &kp T &kp SPC)
MACRO(c_whd, &kp W &kp H &kp A &kp T &kp S &kp SPC)
MACRO(s_c_whd, &sk LSHIFT &kp W &kp H &kp A &kp T &kp S &kp SPC)
MACRO(c_na, &kp N &kp O &kp T &kp SPC)
MACRO(s_c_na, &sk LSHIFT &kp N &kp O &kp T &kp SPC)
MACRO(c_nd, &kp N &kp O &kp T &kp S &kp SPC)
MACRO(s_c_nd, &sk LSHIFT &kp N &kp O &kp T &kp S &kp SPC)
MACRO(c_ja, &kp J &kp U &kp S &kp T &kp SPC)
MACRO(s_c_ja, &sk LSHIFT &kp J &kp U &kp S &kp T &kp SPC)
MACRO(c_jd, &kp J &kp U &kp S &kp T &kp S &kp SPC)
MACRO(s_c_jd, &sk LSHIFT &kp J &kp U &kp S &kp T &kp S &kp SPC)
MACRO(c_lea, &kp L &kp I &kp K &kp E &kp SPC)
MACRO(s_c_lea, &sk LSHIFT &kp L &kp I &kp K &kp E &kp SPC)
MACRO(c_leb, &kp L &kp I &kp K &kp E &kp D &kp SPC)
MACRO(s_c_leb, &sk LSHIFT &kp L &kp I &kp K &kp E &kp D &kp SPC)
MACRO(c_lec, &kp L &kp I &kp K &kp I &kp N &kp G &kp SPC)
MACRO(s_c_lec, &sk LSHIFT &kp L &kp I &kp K &kp I &kp N &kp G &kp SPC)
MACRO(c_led, &kp L &kp I &kp K &kp E &kp S &kp SPC)
MACRO(s_c_led, &sk LSHIFT &kp L &kp I &kp K &kp E &kp S &kp SPC)
MACRO(c_tsa, &kp T &kp H &kp I &kp S &kp SPC)
MACRO(s_c_tsa, &sk LSHIFT &kp T &kp H &kp I &kp S &kp SPC)
MACRO(c_tsd, &kp T &kp H &kp I &kp S &kp S &kp SPC)
MACRO(s_c_tsd, &sk LSHIFT &kp T &kp H &kp I &kp S &kp S &kp SPC)
MACRO(c_fra, &kp F &kp R &kp O &kp M &kp SPC)
MACRO(s_c_fra, &sk LSHIFT &kp F &kp R &kp O &kp M &kp SPC)
MACRO(c_frd, &kp F &kp R &kp O &kp M &kp S &kp SPC)
MACRO(s_c_frd, &sk LSHIFT &kp F &kp R &kp O &kp M &kp S &kp SPC)
MACRO(c_wea, &kp W &kp E &kp R &kp E &kp SPC)
MACRO(s_c_wea, &sk LSHIFT &kp W &kp E &kp R &kp E &kp SPC)
MACRO(c_wed, &kp W &kp E &kp R &kp E &kp S &kp SPC)
MACRO(s_c_wed, &sk LSHIFT &kp W &kp E &kp R &kp E &kp S &kp SPC)
MACRO(c_baa, &kp B &kp A &kp C &kp K &kp SPC)
MACRO(s_c_baa, &sk LSHIFT &kp B &kp A &kp C &kp K &kp SPC)
MACRO(c_bab, &kp B &kp A &kp C &kp K &kp E &kp D &kp SPC)
MACRO(s_c_bab, &sk LSHIFT &kp B &kp A &kp C &kp K &kp E &kp D &kp SPC)
MACRO(c_bac, &kp B &kp A &kp C &kp K &kp I &kp N &kp G &kp SPC)
MACRO(s_c_bac, &sk LSHIFT &kp B &kp A &kp C &kp K &kp I &kp N &kp G &kp SPC)
MACRO(c_bad, &kp B &kp A &kp C &kp K &kp S &kp SPC)
MACRO(s_c_bad, &sk LSHIFT &kp B &kp A &kp C &kp K &kp S &kp SPC)
MACRO(c_ata, &kp A &kp B &kp O &kp U &kp T &kp SPC)
MACRO(s_c_ata, &sk LSHIFT &kp A &kp B &kp O &kp U &kp T &kp SPC)
MACRO(c_atd, &kp A &kp B &kp O &kp U &kp T &kp S &kp SPC)
MACRO(s_c_atd, &sk LSHIFT &kp A &kp B &kp O &kp U &kp T &kp S &kp SPC)
MACRO(c_ka, &kp K &kp N &kp O &kp W &kp SPC)
MACRO(s_c_ka, &sk LSHIFT &kp K &kp N &kp O &kp W &kp SPC)
MACRO(c_kb, &kp K &kp N &kp O &kp W &kp N &kp SPC)
MACRO(s_c_kb, &sk LSHIFT &kp K &kp N &kp O &kp W &kp N &kp SPC)
MACRO(c_kc, &kp K &kp N &kp O &kp W &kp I &kp N &kp G &kp SPC)
MACRO(s_c_kc, &sk LSHIFT &kp K &kp N &kp O &kp W &kp I &kp N &kp G &kp SPC)
MACRO(c_kd, &kp K &kp N &kp O &kp W &kp S &kp SPC)
MACRO(s_c_kd, &sk LSHIFT &kp K &kp N &kp O &kp W &kp S &kp SPC)
MACRO(c_wna, &kp W &kp H &kp E &kp N &kp SPC)
MACRO(s_c_wna, &sk LSHIFT &kp W &kp H &kp E &kp N &kp SPC)
MACRO(c_wnd, &kp W &kp H &kp E &kp N &kp S &kp SPC)
MACRO(s_c_wnd, &sk LSHIFT &kp W &kp H &kp E &kp N &kp S &kp SPC)
MACRO(c_ga, &kp G &kp E &kp T &kp SPC)
MACRO(s_c_ga, &sk LSHIFT &kp G &kp E &kp T &kp SPC)
MACRO(c_gb, &kp G &kp O &kp T &kp SPC)
MACRO(s_c_gb, &sk LSHIFT &kp G &kp O &kp T &kp SPC)
MACRO(c_gc, &kp G &kp E &kp T &kp T &kp I &kp N &kp G &kp SPC)
MACRO(s_c_gc, &sk LSHIFT &kp G &kp E &kp T &kp T &kp I &kp N &kp G &kp SPC)
MACRO(c_gd, &kp G &kp E &kp T &kp S &kp SPC)
MACRO(s_c_gd, &sk LSHIFT &kp G &kp E &kp T &kp S &kp SPC)
MACRO(c_tna, &kp T &kp H &kp E &kp N &kp SPC)
MACRO(s_c_tna, &sk LSHIFT &kp T &kp H &kp E &kp N &kp SPC)
MACRO(c_tnd, &kp T &kp H &kp E &kp N &kp S &kp SPC)
MACRO(s_c_tnd, &sk LSHIFT &kp T &kp H &kp E &kp N &kp S &kp SPC)
MACRO(c_ia, &kp I &kp N &kp T &kp O &kp SPC)
MACRO(s_c_ia, &sk LSHIFT &kp I &kp N &kp T &kp O &kp SPC)
MACRO(c_id, &kp I &kp N &kp T &kp O &kp E &kp S &kp SPC)
MACRO(s_c_id, &sk LSHIFT &kp I &kp N &kp T &kp O &kp E &kp S &kp SPC)
MACRO(c_woa, &kp W &kp O &kp U &kp L &kp D &kp SPC)
MACRO(s_c_woa, &sk LSHIFT &kp W &kp O &kp U &kp L &kp D &kp SPC)
MACRO(c_wod, &kp W &kp O &kp U &kp L &kp D &kp S &kp SPC)
MACRO(s_c_wod, &sk LSHIFT &kp W &kp O &kp U &kp L &kp D &kp S &kp SPC)
MACRO(c_tea, &kp T &kp H &kp E &kp R &kp E &kp SPC)
MACRO(s_c_tea, &sk LSHIFT &kp T &kp H &kp E &kp R &kp E &kp SPC)
MACRO(c_ted, &kp T &kp H &kp E &kp R &kp E &kp S &kp SPC)
MACRO(s_c_ted, &sk LSHIFT &kp T &kp H &kp E &kp R &kp E &kp S &kp SPC)
MACRO(c_ca, &kp C &kp O &kp U &kp L &kp D &kp SPC)
MACRO(s_c_ca, &sk LSHIFT &kp C &kp O &kp U &kp L &kp D &kp SPC)
MACRO(c_cd, &kp C &kp O &kp U &kp L &kp D &kp S &kp SPC)
MACRO(s_c_cd, &sk LSHIFT &kp C &kp O &kp U &kp L &kp D &kp S &kp SPC)
MACRO(c_da, &kp D &kp O &kp N &kp QUOT &kp T &kp SPC)
MACRO(s_c_da, &sk LSHIFT &kp D &kp O &kp N &kp QUOT &kp T &kp SPC)
MACRO(c_dd, &kp D &kp O &kp N &kp QUOT &kp T &kp S &kp SPC)
MACRO(s_c_dd, &sk LSHIFT &kp D &kp O &kp N &kp QUOT &kp T &kp S &kp SPC)
MACRO(c_dna, &kp D &kp O &kp W &kp N &kp SPC)
MACRO(s_c_dna, &sk LSHIFT &kp D &kp O &kp W &kp N &kp SPC)
MACRO(c_dnd, &kp D &kp O &kp W &kp N &kp S &kp SPC)
MACRO(s_c_dnd, &sk LSHIFT &kp D &kp O &kp W &kp N &kp S &kp SPC)
MACRO(c_tia, &kp T &kp I &kp M &kp E &kp SPC)
MACRO(s_c_tia, &sk LSHIFT &kp T &kp I &kp M &kp E &kp SPC)
MACRO(c_tib, &kp T &kp I &kp M &kp E &kp D &kp SPC)
MACRO(s_c_tib, &sk LSHIFT &kp T &kp I &kp M &kp E &kp D &kp SPC)
MACRO(c_tic, &kp T &kp I &kp M &kp I &kp N &kp G &kp SPC)
MACRO(s_c_tic, &sk LSHIFT &kp T &kp I &kp M &kp I &kp N &kp G &kp SPC)
MACRO(c_tid, &kp T &kp I &kp M &kp E &kp S &kp SPC)
MACRO(s_c_tid, &sk LSHIFT &kp T &kp I &kp M &kp E &kp S &kp SPC)
MACRO(c_dia, &kp D &kp I &kp D &kp N &kp QUOT &kp T &kp SPC)
MACRO(s_c_dia, &sk LSHIFT &kp D &kp I &kp D &kp N &kp QUOT &kp T &kp SPC)
MACRO(c_did, &kp D &kp I &kp D &kp N &kp QUOT &kp T &kp S &kp SPC)
MACRO(s_c_did, &sk LSHIFT &kp D &kp I &kp D &kp N &kp QUOT &kp T &kp S &kp SPC)
MACRO(c_waa, &kp W &kp A &kp N &kp T &kp SPC)
MACRO(s_c_waa, &sk LSHIFT &kp W &kp A &kp N &kp T &kp SPC)
MACRO(c_wab, &kp W &kp A &kp N &kp T &kp E &kp D &kp SPC)
MACRO(s_c_wab, &sk LSHIFT &kp W &kp A &kp N &kp T &kp E &kp D &kp SPC)
MACRO(c_wac, &kp W &kp A &kp N &kp T &kp I &kp N &kp G &kp SPC)
MACRO(s_c_wac, &sk LSHIFT &kp W &kp A &kp N &kp T &kp I &kp N &kp G &kp SPC)
MACRO(c_wad, &kp W &kp A &kp N &kp T &kp S &kp SPC)
MACRO(s_c_wad, &sk LSHIFT &kp W &kp A &kp N &kp T &kp S &kp SPC)
MACRO(c_ea, &kp E &kp Y &kp E &kp SPC)
MACRO(s_c_ea, &sk LSHIFT &kp E &kp Y &kp E &kp SPC)
MACRO(c_ed, &kp E &kp Y &kp E &kp S &kp SPC)
MACRO(s_c_ed, &sk LSHIFT &kp E &kp Y &kp E &kp S &kp SPC)
MACRO(c_ora, &kp O &kp V &kp E &kp R &kp SPC)
MACRO(s_c_ora, &sk LSHIFT &kp O &kp V &kp E &kp R &kp SPC)
MACRO(c_ord, &kp O &kp V &kp E &kp R &kp S &kp SPC)
MACRO(s_c_ord, &sk LSHIFT &kp O &kp V &kp E &kp R &kp S &kp SPC)
MACRO(c_yra, &kp Y &kp O &kp U &kp R &kp SPC)
MACRO(s_c_yra, &sk LSHIFT &kp Y &kp O &kp U &kp R &kp SPC)
MACRO(c_yrd, &kp Y &kp O &kp U &kp R &kp S &kp SPC)
MACRO(s_c_yrd, &sk LSHIFT &kp Y &kp O &kp U &kp R &kp S &kp SPC)
MACRO(c_bna, &kp B &kp E &kp E &kp N &kp SPC)
MACRO(s_c_bna, &sk LSHIFT &kp B &kp E &kp E &kp N &kp SPC)
MACRO(c_bnd, &kp B &kp E &kp E &kp N &kp S &kp SPC)
MACRO(s_c_bnd, &sk LSHIFT &kp B &kp E &kp E &kp N &kp S &kp SPC)
MACRO(c_tina, &kp T &kp H &kp I &kp N &kp K &kp SPC)
MACRO(s_c_tina, &sk LSHIFT &kp T &kp H &kp I &kp N &kp K &kp SPC)
MACRO(c_tinb, &kp T &kp H &kp O &kp U &kp G &kp H &kp T &kp SPC)
MACRO(s_c_tinb, &sk LSHIFT &kp T &kp H &kp O &kp U &kp G &kp H &kp T &kp SPC)
MACRO(c_tinc, &kp T &kp H &kp I &kp N &kp K &kp I &kp N &kp G &kp SPC)
MACRO(s_c_tinc, &sk LSHIFT &kp T &kp H &kp I &kp N &kp K &kp I &kp N &kp G &kp SPC)
MACRO(c_tind, &kp T &kp H &kp I &kp N &kp K &kp S &kp SPC)
MACRO(s_c_tind, &sk LSHIFT &kp T &kp H &kp I &kp N &kp K &kp S &kp SPC)
MACRO(c_haa, &kp H &kp A &kp N &kp D &kp SPC)
MACRO(s_c_haa, &sk LSHIFT &kp H &kp A &kp N &kp D &kp SPC)
MACRO(c_hab, &kp H &kp A &kp N &kp D &kp E &kp D &kp SPC)
MACRO(s_c_hab, &sk LSHIFT &kp H &kp A &kp N &kp D &kp E &kp D &kp SPC)
MACRO(c_hac, &kp H &kp A &kp N &kp D &kp I &kp N &kp G &kp SPC)
MACRO(s_c_hac, &sk LSHIFT &kp H &kp A &kp N &kp D &kp I &kp N &kp G &kp SPC)
MACRO(c_had, &kp H &kp A &kp N &kp D &kp S &kp SPC)
MACRO(s_c_had, &sk LSHIFT &kp H &kp A &kp N &kp D &kp S &kp SPC)
MACRO(c_ana, &kp A &kp R &kp O &kp U &kp N &kp D &kp SPC)
MACRO(s_c_ana, &sk LSHIFT &kp A &kp R &kp O &kp U &kp N &kp D &kp SPC)
MACRO(c_and, &kp A &kp R &kp O &kp U &kp N &kp D &kp S &kp SPC)
MACRO(s_c_and, &sk LSHIFT &kp A &kp R &kp O &kp U &kp N &kp D &kp S &kp SPC)
MACRO(c_hda, &kp H &kp E &kp A &kp D &kp SPC)
MACRO(s_c_hda, &sk LSHIFT &kp H &kp E &kp A &kp D &kp SPC)
MACRO(c_hdb, &kp H &kp E &kp A &kp D &kp E &kp D &kp SPC)
MACRO(s_c_hdb, &sk LSHIFT &kp H &kp E &kp A &kp D &kp E &kp D &kp SPC)
MACRO(c_hdc, &kp H &kp E &kp A &kp D &kp I &kp N &kp G &kp SPC)
MACRO(s_c_hdc, &sk LSHIFT &kp H &kp E &kp A &kp D &kp I &kp N &kp G &kp SPC)
MACRO(c_hdd, &kp H &kp E &kp A &kp D &kp S &kp SPC)
MACRO(s_c_hdd, &sk LSHIFT &kp H &kp E &kp A &kp D &kp S &kp SPC)
MACRO(c_wla, &kp W &kp E &kp L &kp L &kp SPC)
MACRO(s_c_wla, &sk LSHIFT &kp W &kp E &kp L &kp L &kp SPC)
MACRO(c_wld, &kp W &kp E &kp L &kp L &kp S &kp SPC)
MACRO(s_c_wld, &sk LSHIFT &kp W &kp E &kp L &kp L &kp S &kp SPC)
MACRO(c_bea, &kp B &kp E &kp F &kp O &kp R &kp E &kp SPC)
MACRO(s_c_bea, &sk LSHIFT &kp B &kp E &kp F &kp O &kp R &kp E &kp SPC)
MACRO(c_bed, &kp B &kp E &kp F &kp O &kp R &kp E &kp S &kp SPC)
MACRO(s_c_bed, &sk LSHIFT &kp B &kp E &kp F &kp O &kp R &kp E &kp S &kp SPC)
MACRO(c_ma, &kp M &kp O &kp R &kp E &kp SPC)
MACRO(s_c_ma, &sk LSHIFT &kp M &kp O &kp R &kp E &kp SPC)
MACRO(c_md, &kp M &kp O &kp R &kp E &kp S &kp SPC)
MACRO(s_c_md, &sk LSHIFT &kp M &kp O &kp R &kp E &kp S &kp SPC)
MACRO(c_ena, &kp E &kp V &kp E &kp N &kp SPC)
MACRO(s_c_ena, &sk LSHIFT &kp E &kp V &kp E &kp N &kp SPC)
MACRO(c_end, &kp E &kp V &kp E &kp N &kp S &kp SPC)
MACRO(s_c_end, &sk LSHIFT &kp E &kp V &kp E &kp N &kp S &kp SPC)
MACRO(c_tra, &kp T &kp U &kp R &kp N &kp SPC)
MACRO(s_c_tra, &sk LSHIFT &kp T &kp U &kp R &kp N &kp SPC)
MACRO(c_trb, &kp T &kp U &kp R &kp N &kp E &kp D &kp SPC)
MACRO(s_c_trb, &sk LSHIFT &kp T &kp U &kp R &kp N &kp E &kp D &kp SPC)
MACRO(c_trc, &kp T &kp U &kp R &kp N &kp I &kp N &kp G &kp SPC)
MACRO(s_c_trc, &sk LSHIFT &kp T &kp U &kp R &kp N &kp I &kp N &kp G &kp SPC)
MACRO(c_trd, &kp T &kp U &kp R &kp N &kp S &kp SPC)
MACRO(s_c_trd, &sk LSHIFT &kp T &kp U &kp R &kp N &kp S &kp SPC)
MACRO(c_cea, &kp C &kp O &kp M &kp E &kp SPC)
MACRO(s_c_cea, &sk LSHIFT &kp C &kp O &kp M &kp E &kp SPC)
MACRO(c_ceb, &kp C &kp O &kp M &kp E &kp SPC)
MACRO(s_c_ceb, &sk LSHIFT &kp C &kp O &kp M &kp E &kp SPC)
MACRO(c_cec, &kp C &kp O &kp M &kp I &kp N &kp G &kp SPC)
MACRO(s_c_cec, &sk LSHIFT &kp C &kp O &kp M &kp I &kp N &kp G &kp SPC)
MACRO(c_ced, &kp C &kp O &kp M &kp E &kp S &kp SPC)
MACRO(s_c_ced, &sk LSHIFT &kp C &kp O &kp M &kp E &kp S &kp SPC)
MACRO(c_sea, &kp S &kp M &kp I &kp L &kp E &kp SPC)
MACRO(s_c_sea, &sk LSHIFT &kp S &kp M &kp I &kp L &kp E &kp SPC)
MACRO(c_seb, &kp S &kp M &kp I &kp L &kp E &kp D &kp SPC)
MACRO(s_c_seb, &sk LSHIFT &kp S &kp M &kp I &kp L &kp E &kp D &kp SPC)
MACRO(c_sec, &kp S &kp M &kp I &kp L &kp I &kp N &kp G &kp SPC)
MACRO(s_c_sec, &sk LSHIFT &kp S &kp M &kp I &kp L &kp I &kp N &kp G &kp SPC)
MACRO(c_sed, &kp S &kp M &kp I &kp L &kp E &kp S &kp SPC)
MACRO(s_c_sed, &sk LSHIFT &kp S &kp M &kp I &kp L &kp E &kp S &kp SPC)
MACRO(c_ra, &kp R &kp E &kp A &kp L &kp L &kp Y &kp SPC)
MACRO(s_c_ra, &sk LSHIFT &kp R &kp E &kp A &kp L &kp L &kp Y &kp SPC)
MACRO(c_rd, &kp R &kp E &kp A &kp L &kp L &kp I &kp E &kp S &kp SPC)
MACRO(s_c_rd, &sk LSHIFT &kp R &kp E &kp A &kp L &kp L &kp I &kp E &kp S &kp SPC)
MACRO(c_fea, &kp F &kp A &kp C &kp E &kp SPC)
MACRO(s_c_fea, &sk LSHIFT &kp F &kp A &kp C &kp E &kp SPC)
MACRO(c_feb, &kp F &kp A &kp C &kp E &kp D &kp SPC)
MACRO(s_c_feb, &sk LSHIFT &kp F &kp A &kp C &kp E &kp D &kp SPC)
MACRO(c_fec, &kp F &kp A &kp C &kp I &kp N &kp G &kp SPC)
MACRO(s_c_fec, &sk LSHIFT &kp F &kp A &kp C &kp I &kp N &kp G &kp SPC)
MACRO(c_fed, &kp F &kp A &kp C &kp E &kp S &kp SPC)
MACRO(s_c_fed, &sk LSHIFT &kp F &kp A &kp C &kp E &kp S &kp SPC)
MACRO(c_ota, &kp O &kp T &kp H &kp E &kp R &kp SPC)
MACRO(s_c_ota, &sk LSHIFT &kp O &kp T &kp H &kp E &kp R &kp SPC)
MACRO(c_otd, &kp O &kp T &kp H &kp E &kp R &kp S &kp SPC)
MACRO(s_c_otd, &sk LSHIFT &kp O &kp T &kp H &kp E &kp R &kp S &kp SPC)
MACRO(c_soa, &kp S &kp O &kp M &kp E &kp SPC)
MACRO(s_c_soa, &sk LSHIFT &kp S &kp O &kp M &kp E &kp SPC)
MACRO(c_sod, &kp S &kp O &kp M &kp E &kp S &kp SPC)
MACRO(s_c_sod, &sk LSHIFT &kp S &kp O &kp M &kp E &kp S &kp SPC)
MACRO(c_ria, &kp R &kp I &kp G &kp H &kp T &kp SPC)
MACRO(s_c_ria, &sk LSHIFT &kp R &kp I &kp G &kp H &kp T &kp SPC)
MACRO(c_rid, &kp R &kp I &kp G &kp H &kp T &kp S &kp SPC)
MACRO(s_c_rid, &sk LSHIFT &kp R &kp I &kp G &kp H &kp T &kp S &kp SPC)
MACRO(c_teia, &kp T &kp H &kp E &kp I &kp R &kp SPC)
MACRO(s_c_teia, &sk LSHIFT &kp T &kp H &kp E &kp I &kp R &kp SPC)
MACRO(c_teid, &kp T &kp H &kp E &kp I &kp R &kp S &kp SPC)
MACRO(s_c_teid, &sk LSHIFT &kp T &kp H &kp E &kp I &kp R &kp S &kp SPC)
MACRO(c_ona, &kp O &kp N &kp L &kp Y &kp SPC)
MACRO(s_c_ona, &sk LSHIFT &kp O &kp N &kp L &kp Y &kp SPC)
MACRO(c_ond, &kp O &kp N &kp L &kp I &kp E &kp S &kp SPC)
MACRO(s_c_ond, &sk LSHIFT &kp O &kp N &kp L &kp I &kp E &kp S &kp SPC)
MACRO(c_mea, &kp M &kp A &kp K &kp E &kp SPC)
MACRO(s_c_mea, &sk LSHIFT &kp M &kp A &kp K &kp E &kp SPC)
MACRO(c_meb, &kp M &kp A &kp D &kp E &kp SPC)
MACRO(s_c_meb, &sk LSHIFT &kp M &kp A &kp D &kp E &kp SPC)
MACRO(c_mec, &kp M &kp A &kp K &kp I &kp N &kp G &kp SPC)
MACRO(s_c_mec, &sk LSHIFT &kp M &kp A &kp K &kp I &kp N &kp G &kp SPC)
MACRO(c_med, &kp M &kp A &kp K &kp E &kp S &kp SPC)
MACRO(s_c_med, &sk LSHIFT &kp M &kp A &kp K &kp E &kp S &kp SPC)
MACRO(c_sna, &kp S &kp O &kp M &kp E &kp T &kp H &kp I &kp N &kp G &kp SPC)
MACRO(s_c_sna, &sk LSHIFT &kp S &kp O &kp M &kp E &kp T &kp H &kp I &kp N &kp G &kp SPC)
MACRO(c_snd, &kp S &kp O &kp M &kp E &kp T &kp H &kp I &kp N &kp G &kp S &kp SPC)
MACRO(s_c_snd, &sk LSHIFT &kp S &kp O &kp M &kp E &kp T &kp H &kp I &kp N &kp G &kp S &kp SPC)
MACRO(c_rma, &kp R &kp O &kp O &kp M &kp SPC)
MACRO(s_c_rma, &sk LSHIFT &kp R &kp O &kp O &kp M &kp SPC)
MACRO(c_rmd, &kp R &kp O &kp O &kp M &kp S &kp SPC)
MACRO(s_c_rmd, &sk LSHIFT &kp R &kp O &kp O &kp M &kp S &kp SPC)
MACRO(c_aia, &kp A &kp G &kp A &kp I &kp N &kp SPC)
MACRO(s_c_aia, &sk LSHIFT &kp A &kp G &kp A &kp I &kp N &kp SPC)
MACRO(c_aid, &kp A &kp G &kp A &kp I &kp N &kp S &kp SPC)
MACRO(s_c_aid, &sk LSHIFT &kp A &kp G &kp A &kp I &kp N &kp S &kp SPC)
MACRO(c_thia, &kp T &kp H &kp I &kp N &kp G &kp SPC)
MACRO(s_c_thia, &sk LSHIFT &kp T &kp H &kp I &kp N &kp G &kp SPC)
MACRO(c_thid, &kp T &kp H &kp I &kp N &kp G &kp S &kp SPC)
MACRO(s_c_thid, &sk LSHIFT &kp T &kp H &kp I &kp N &kp G &kp S &kp SPC)
MACRO(c_aea, &kp A &kp F &kp T &kp E &kp R &kp SPC)
MACRO(s_c_aea, &sk LSHIFT &kp A &kp F &kp T &kp E &kp R &kp SPC)
MACRO(c_aed, &kp A &kp F &kp T &kp E &kp R &kp S &kp SPC)
MACRO(s_c_aed, &sk LSHIFT &kp A &kp F &kp T &kp E &kp R &kp S &kp SPC)
MACRO(c_stia, &kp S &kp T &kp I &kp L &kp L &kp SPC)
MACRO(s_c_stia, &sk LSHIFT &kp S &kp T &kp I &kp L &kp L &kp SPC)
MACRO(c_stid, &kp S &kp T &kp I &kp L &kp L &kp S &kp SPC)
MACRO(s_c_stid, &sk LSHIFT &kp S &kp T &kp I &kp L &kp L &kp S &kp SPC)
MACRO(c_dra, &kp D &kp O &kp O &kp R &kp SPC)
MACRO(s_c_dra, &sk LSHIFT &kp D &kp O &kp O &kp R &kp SPC)
MACRO(c_drd, &kp D &kp O &kp O &kp R &kp S &kp SPC)
MACRO(s_c_drd, &sk LSHIFT &kp D &kp O &kp O &kp R &kp S &kp SPC)
MACRO(c_hra, &kp H &kp E &kp R &kp E &kp SPC)
MACRO(s_c_hra, &sk LSHIFT &kp H &kp E &kp R &kp E &kp SPC)
MACRO(c_hrd, &kp H &kp E &kp R &kp E &kp S &kp SPC)
MACRO(s_c_hrd, &sk LSHIFT &kp H &kp E &kp R &kp E &kp S &kp SPC)
MACRO(c_lta, &kp L &kp I &kp T &kp T &kp L &kp E &kp SPC)
MACRO(s_c_lta, &sk LSHIFT &kp L &kp I &kp T &kp T &kp L &kp E &kp SPC)
MACRO(c_ltd, &kp L &kp I &kp T &kp T &kp L &kp E &kp S &kp SPC)
MACRO(s_c_ltd, &sk LSHIFT &kp L &kp I &kp T &kp T &kp L &kp E &kp S &kp SPC)
MACRO(c_bsa, &kp B &kp E &kp C &kp A &kp U &kp S &kp E &kp SPC)
MACRO(s_c_bsa, &sk LSHIFT &kp B &kp E &kp C &kp A &kp U &kp S &kp E &kp SPC)
MACRO(c_bsd, &kp B &kp E &kp C &kp A &kp U &kp S &kp E &kp S &kp SPC)
MACRO(s_c_bsd, &sk LSHIFT &kp B &kp E &kp C &kp A &kp U &kp S &kp E &kp S &kp SPC)
MACRO(c_aya, &kp A &kp W &kp A &kp Y &kp SPC)
MACRO(s_c_aya, &sk LSHIFT &kp A &kp W &kp A &kp Y &kp SPC)
MACRO(c_ayd, &kp A &kp W &kp A &kp Y &kp S &kp SPC)
MACRO(s_c_ayd, &sk LSHIFT &kp A &kp W &kp A &kp Y &kp S &kp SPC)
MACRO(c_sra, &kp S &kp T &kp A &kp R &kp T &kp SPC)
MACRO(s_c_sra, &sk LSHIFT &kp S &kp T &kp A &kp R &kp T &kp SPC)
MACRO(c_srb, &kp S &kp T &kp A &kp R &kp T &kp E &kp D &kp SPC)
MACRO(s_c_srb, &sk LSHIFT &kp S &kp T &kp A &kp R &kp T &kp E &kp D &kp SPC)
MACRO(c_src, &kp S &kp T &kp A &kp R &kp T &kp I &kp N &kp G &kp SPC)
MACRO(s_c_src, &sk LSHIFT &kp S &kp T &kp A &kp R &kp T &kp I &kp N &kp G &kp SPC)
MACRO(c_srd, &kp S &kp T &kp A &kp R &kp T &kp S &kp SPC)
MACRO(s_c_srd, &sk LSHIFT &kp S &kp T &kp A &kp R &kp T &kp S &kp SPC)
MACRO(c_goa, &kp G &kp O &kp O &kp D &kp SPC)
MACRO(s_c_goa, &sk LSHIFT &kp G &kp O &kp O &kp D &kp SPC)
MACRO(c_god, &kp G &kp O &kp O &kp D &kp S &kp SPC)
MACRO(s_c_god, &sk LSHIFT &kp G &kp O &kp O &kp D &kp S &kp SPC)
MACRO(c_wra, &kp W &kp H &kp E &kp R &kp E &kp SPC)
MACRO(s_c_wra, &sk LSHIFT &kp W &kp H &kp E &kp R &kp E &kp SPC)
MACRO(c_wrd, &kp W &kp H &kp E &kp R &kp E &kp S &kp SPC)
MACRO(s_c_wrd, &sk LSHIFT &kp W &kp H &kp E &kp R &kp E &kp S &kp SPC)
MACRO(c_nra, &kp N &kp E &kp V &kp E &kp R &kp SPC)
MACRO(s_c_nra, &sk LSHIFT &kp N &kp E &kp V &kp E &kp R &kp SPC)
MACRO(c_nrd, &kp N &kp E &kp V &kp E &kp R &kp S &kp SPC)
MACRO(s_c_nrd, &sk LSHIFT &kp N &kp E &kp V &kp E &kp R &kp S &kp SPC)
MACRO(c_tua, &kp T &kp H &kp R &kp O &kp U &kp G &kp H &kp SPC)
MACRO(s_c_tua, &sk LSHIFT &kp T &kp H &kp R &kp O &kp U &kp G &kp H &kp SPC)
MACRO(c_tud, &kp T &kp H &kp R &kp O &kp U &kp G &kp H &kp S &kp SPC)
MACRO(s_c_tud, &sk LSHIFT &kp T &kp H &kp R &kp O &kp U &kp G &kp H &kp S &kp SPC)
MACRO(c_mca, &kp M &kp U &kp C &kp H &kp SPC)
MACRO(s_c_mca, &sk LSHIFT &kp M &kp U &kp C &kp H &kp SPC)
MACRO(c_mcd, &kp M &kp U &kp C &kp H &kp E &kp S &kp SPC)
MACRO(s_c_mcd, &sk LSHIFT &kp M &kp U &kp C &kp H &kp E &kp S &kp SPC)
MACRO(c_wsa, &kp W &kp A &kp S &kp N &kp QUOT &kp T &kp SPC)
MACRO(s_c_wsa, &sk LSHIFT &kp W &kp A &kp S &kp N &kp QUOT &kp T &kp SPC)
MACRO(c_wsd, &kp W &kp A &kp S &kp N &kp QUOT &kp T &kp S &kp SPC)
MACRO(s_c_wsd, &sk LSHIFT &kp W &kp A &kp S &kp N &kp QUOT &kp T &kp S &kp SPC)
MACRO(c_gia, &kp G &kp I &kp R &kp L &kp SPC)
MACRO(s_c_gia, &sk LSHIFT &kp G &kp I &kp R &kp L &kp SPC)
MACRO(c_gid, &kp G &kp I &kp R &kp L &kp S &kp SPC)
MACRO(s_c_gid, &sk LSHIFT &kp G &kp I &kp R &kp L &kp S &kp SPC)
MACRO(c_fla, &kp F &kp E &kp E &kp L &kp SPC)
MACRO(s_c_fla, &sk LSHIFT &kp F &kp E &kp E &kp L &kp SPC)
MACRO(c_flb, &kp F &kp E &kp L &kp T &kp SPC)
MACRO(s_c_flb, &sk LSHIFT &kp F &kp E &kp L &kp T &kp SPC)
MACRO(c_flc, &kp F &kp E &kp E &kp L &kp I &kp N &kp G &kp SPC)
MACRO(s_c_flc, &sk LSHIFT &kp F &kp E &kp E &kp L &kp I &kp N &kp G &kp SPC)
MACRO(c_fld, &kp F &kp E &kp E &kp L &kp S &kp SPC)
MACRO(s_c_fld, &sk LSHIFT &kp F &kp E &kp E &kp L &kp S &kp SPC)
MACRO(c_yea, &kp Y &kp O &kp U &kp QUOT &kp R &kp E &kp SPC)
MACRO(s_c_yea, &sk LSHIFT &kp Y &kp O &kp U &kp QUOT &kp R &kp E &kp SPC)
MACRO(c_yed, &kp Y &kp O &kp U &kp QUOT &kp R &kp E &kp S &kp SPC)
MACRO(s_c_yed, &sk LSHIFT &kp Y &kp O &kp U &kp QUOT &kp R &kp E &kp S &kp SPC)
MACRO(c_caa, &kp C &kp A &kp L &kp L &kp SPC)
MACRO(s_c_caa, &sk LSHIFT &kp C &kp A &kp L &kp L &kp SPC)
MACRO(c_cab, &kp C &kp A &kp L &kp L &kp E &kp D &kp SPC)
MACRO(s_c_cab, &sk LSHIFT &kp C &kp A &kp L &kp L &kp E &kp D &kp SPC)
MACRO(c_cac, &kp C &kp A &kp L &kp L &kp I &kp N &kp G &kp SPC)
MACRO(s_c_cac, &sk LSHIFT &kp C &kp A &kp L &kp L &kp I &kp N &kp G &kp SPC)
MACRO(c_cad, &kp C &kp A &kp L &kp L &kp S &kp SPC)
MACRO(s_c_cad, &sk LSHIFT &kp C &kp A &kp L &kp L &kp S &kp SPC)
MACRO(c_wia, &kp W &kp I &kp L &kp L &kp SPC)
MACRO(s_c_wia, &sk LSHIFT &kp W &kp I &kp L &kp L &kp SPC)
MACRO(c_wid, &kp W &kp I &kp L &kp L &kp S &kp SPC)
MACRO(s_c_wid, &sk LSHIFT &kp W &kp I &kp L &kp L &kp S &kp SPC)
MACRO(c_lna, &kp L &kp O &kp N &kp G &kp SPC)
MACRO(s_c_lna, &sk LSHIFT &kp L &kp O &kp N &kp G &kp SPC)
MACRO(c_lnb, &kp L &kp O &kp N &kp G &kp E &kp D &kp SPC)
MACRO(s_c_lnb, &sk LSHIFT &kp L &kp O &kp N &kp G &kp E &kp D &kp SPC)
MACRO(c_lnc, &kp L &kp O &kp N &kp G &kp I &kp N &kp G &kp SPC)
MACRO(s_c_lnc, &sk LSHIFT &kp L &kp O &kp N &kp G &kp I &kp N &kp G &kp SPC)
MACRO(c_lnd, &kp L &kp O &kp N &kp G &kp S &kp SPC)
MACRO(s_c_lnd, &sk LSHIFT &kp L &kp O &kp N &kp G &kp S &kp SPC)
MACRO(c_fia, &kp F &kp R &kp I &kp E &kp N &kp D &kp SPC)
MACRO(s_c_fia, &sk LSHIFT &kp F &kp R &kp I &kp E &kp N &kp D &kp SPC)
MACRO(c_fid, &kp F &kp R &kp I &kp E &kp N &kp D &kp S &kp SPC)
MACRO(s_c_fid, &sk LSHIFT &kp F &kp R &kp I &kp E &kp N &kp D &kp S &kp SPC)
MACRO(c_kna, &kp K &kp N &kp E &kp W &kp SPC)
MACRO(s_c_kna, &sk LSHIFT &kp K &kp N &kp E &kp W &kp SPC)
MACRO(c_knd, &kp K &kp N &kp E &kp W &kp S &kp SPC)
MACRO(s_c_knd, &sk LSHIFT &kp K &kp N &kp E &kp W &kp S &kp SPC)
MACRO(c_opa, &kp O &kp P &kp E &kp N &kp SPC)
MACRO(s_c_opa, &sk LSHIFT &kp O &kp P &kp E &kp N &kp SPC)
MACRO(c_opb, &kp O &kp P &kp E &kp N &kp E &kp D &kp SPC)
MACRO(s_c_opb, &sk LSHIFT &kp O &kp P &kp E &kp N &kp E &kp D &kp SPC)
MACRO(c_opc, &kp O &kp P &kp E &kp N &kp I &kp N &kp G &kp SPC)
MACRO(s_c_opc, &sk LSHIFT &kp O &kp P &kp E &kp N &kp I &kp N &kp G &kp SPC)
MACRO(c_opd, &kp O &kp P &kp E &kp N &kp S &kp SPC)
MACRO(s_c_opd, &sk LSHIFT &kp O &kp P &kp E &kp N &kp S &kp SPC)
MACRO(c_fta, &kp F &kp I &kp R &kp S &kp T &kp SPC)
MACRO(s_c_fta, &sk LSHIFT &kp F &kp I &kp R &kp S &kp T &kp SPC)
MACRO(c_ftd, &kp F &kp I &kp R &kp S &kp T &kp S &kp SPC)
MACRO(s_c_ftd, &sk LSHIFT &kp F &kp I &kp R &kp S &kp T &kp S &kp SPC)
MACRO(c_whia, &kp W &kp H &kp I &kp C &kp H &kp SPC)
MACRO(s_c_whia, &sk LSHIFT &kp W &kp H &kp I &kp C &kp H &kp SPC)
MACRO(c_whid, &kp W &kp H &kp I &kp C &kp H &kp E &kp S &kp SPC)
MACRO(s_c_whid, &sk LSHIFT &kp W &kp H &kp I &kp C &kp H &kp E &kp S &kp SPC)
MACRO(c_pa, &kp P &kp E &kp O &kp P &kp L &kp E &kp SPC)
MACRO(s_c_pa, &sk LSHIFT &kp P &kp E &kp O &kp P &kp L &kp E &kp SPC)
MACRO(c_pd, &kp P &kp E &kp O &kp P &kp L &kp E &kp S &kp SPC)
MACRO(s_c_pd, &sk LSHIFT &kp P &kp E &kp O &kp P &kp L &kp E &kp S &kp SPC)
MACRO(c_thsa, &kp T &kp H &kp A &kp T &kp QUOT &kp S &kp SPC)
MACRO(s_c_thsa, &sk LSHIFT &kp T &kp H &kp A &kp T &kp QUOT &kp S &kp SPC)
MACRO(c_thsd, &kp T &kp H &kp A &kp T &kp QUOT &kp S &kp S &kp SPC)
MACRO(s_c_thsd, &sk LSHIFT &kp T &kp H &kp A &kp T &kp QUOT &kp S &kp S &kp SPC)
MACRO(c_sua, &kp S &kp U &kp R &kp E &kp SPC)
MACRO(s_c_sua, &sk LSHIFT &kp S &kp U &kp R &kp E &kp SPC)
MACRO(c_sud, &kp S &kp U &kp R &kp E &kp S &kp SPC)
MACRO(s_c_sud, &sk LSHIFT &kp S &kp U &kp R &kp E &kp S &kp SPC)
MACRO(c_sma, &kp S &kp E &kp E &kp M &kp SPC)
MACRO(s_c_sma, &sk LSHIFT &kp S &kp E &kp E &kp M &kp SPC)
MACRO(c_smd, &kp S &kp E &kp E &kp M &kp S &kp SPC)
MACRO(s_c_smd, &sk LSHIFT &kp S &kp E &kp E &kp M &kp S &kp SPC)
MACRO(c_spa, &kp S &kp T &kp O &kp P &kp SPC)
MACRO(s_c_spa, &sk LSHIFT &kp S &kp T &kp O &kp P &kp SPC)
MACRO(c_spb, &kp S &kp T &kp O &kp P &kp P &kp E &kp D &kp SPC)
MACRO(s_c_spb, &sk LSHIFT &kp S &kp T &kp O &kp P &kp P &kp E &kp D &kp SPC)
MACRO(c_spc, &kp S &kp T &kp O &kp P &kp P &kp I &kp N &kp G &kp SPC)
MACRO(s_c_spc, &sk LSHIFT &kp S &kp T &kp O &kp P &kp P &kp I &kp N &kp G &kp SPC)
MACRO(c_spd, &kp S &kp T &kp O &kp P &kp S &kp SPC)
MACRO(s_c_spd, &sk LSHIFT &kp S &kp T &kp O &kp P &kp S &kp SPC)
MACRO(c_va, &kp V &kp O &kp I &kp C &kp E &kp SPC)
MACRO(s_c_va, &sk LSHIFT &kp V &kp O &kp I &kp C &kp E &kp SPC)
MACRO(c_vb, &kp V &kp O &kp I &kp C &kp E &kp D &kp SPC)
MACRO(s_c_vb, &sk LSHIFT &kp V &kp O &kp I &kp C &kp E &kp D &kp SPC)
MACRO(c_vc, &kp V &kp O &kp I &kp C &kp I &kp N &kp G &kp SPC)
MACRO(s_c_vc, &sk LSHIFT &kp V &kp O &kp I &kp C &kp I &kp N &kp G &kp SPC)
MACRO(c_vd, &kp V &kp O &kp I &kp C &kp E &kp S &kp SPC)
MACRO(s_c_vd, &sk LSHIFT &kp V &kp O &kp I &kp C &kp E &kp S &kp SPC)
MACRO(c_vea, &kp V &kp E &kp R &kp Y &kp SPC)
MACRO(s_c_vea, &sk LSHIFT &kp V &kp E &kp R &kp Y &kp SPC)
MACRO(c_ved, &kp V &kp E &kp R &kp I &kp E &kp S &kp SPC)
MACRO(s_c_ved, &sk LSHIFT &kp V &kp E &kp R &kp I &kp E &kp S &kp SPC)
MACRO(c_pua, &kp P &kp U &kp L &kp L &kp SPC)
MACRO(s_c_pua, &sk LSHIFT &kp P &kp U &kp L &kp L &kp SPC)
MACRO(c_pub, &kp P &kp U &kp L &kp L &kp E &kp D &kp SPC)
MACRO(s_c_pub, &sk LSHIFT &kp P &kp U &kp L &kp L &kp E &kp D &kp SPC)
MACRO(c_puc, &kp P &kp U &kp L &kp L &kp I &kp N &kp G &kp SPC)
MACRO(s_c_puc, &sk LSHIFT &kp P &kp U &kp L &kp L &kp I &kp N &kp G &kp SPC)
MACRO(c_pud, &kp P &kp U &kp L &kp L &kp S &kp SPC)
MACRO(s_c_pud, &sk LSHIFT &kp P &kp U &kp L &kp L &kp S &kp SPC)
MACRO(c_laa, &kp L &kp A &kp U &kp G &kp H &kp SPC)
MACRO(s_c_laa, &sk LSHIFT &kp L &kp A &kp U &kp G &kp H &kp SPC)
MACRO(c_lab, &kp L &kp A &kp U &kp G &kp H &kp E &kp D &kp SPC)
MACRO(s_c_lab, &sk LSHIFT &kp L &kp A &kp U &kp G &kp H &kp E &kp D &kp SPC)
MACRO(c_lac, &kp L &kp A &kp U &kp G &kp H &kp I &kp N &kp G &kp SPC)
MACRO(s_c_lac, &sk LSHIFT &kp L &kp A &kp U &kp G &kp H &kp I &kp N &kp G &kp SPC)
MACRO(c_lad, &kp L &kp A &kp U &kp G &kp H &kp S &kp SPC)
MACRO(s_c_lad, &sk LSHIFT &kp L &kp A &kp U &kp G &kp H &kp S &kp SPC)
MACRO(c_oaa, &kp O &kp K &kp A &kp Y &kp SPC)
MACRO(s_c_oaa, &sk LSHIFT &kp O &kp K &kp A &kp Y &kp SPC)
MACRO(c_oad, &kp O &kp K &kp A &kp Y &kp S &kp SPC)
MACRO(s_c_oad, &sk LSHIFT &kp O &kp K &kp A &kp Y &kp S &kp SPC)
MACRO(c_csa, &kp C &kp L &kp O &kp S &kp E &kp SPC)
MACRO(s_c_csa, &sk LSHIFT &kp C &kp L &kp O &kp S &kp E &kp SPC)
MACRO(c_csb, &kp C &kp L &kp O &kp S &kp E &kp D &kp SPC)
MACRO(s_c_csb, &sk LSHIFT &kp C &kp L &kp O &kp S &kp E &kp D &kp SPC)
MACRO(c_csc, &kp C &kp L &kp O &kp S &kp I &kp N &kp G &kp SPC)
MACRO(s_c_csc, &sk LSHIFT &kp C &kp L &kp O &kp S &kp I &kp N &kp G &kp SPC)
MACRO(c_csd, &kp C &kp L &kp O &kp S &kp E &kp S &kp SPC)
MACRO(s_c_csd, &sk LSHIFT &kp C &kp L &kp O &kp S &kp E &kp S &kp SPC)
MACRO(c_loa, &kp L &kp O &kp V &kp E &kp SPC)
MACRO(s_c_loa, &sk LSHIFT &kp L &kp O &kp V &kp E &kp SPC)
MACRO(c_lob, &kp L &kp O &kp V &kp E &kp D &kp SPC)
MACRO(s_c_lob, &sk LSHIFT &kp L &kp O &kp V &kp E &kp D &kp SPC)
MACRO(c_loc, &kp L &kp O &kp V &kp I &kp N &kp G &kp SPC)
MACRO(s_c_loc, &sk LSHIFT &kp L &kp O &kp V &kp I &kp N &kp G &kp SPC)
MACRO(c_lod, &kp L &kp O &kp V &kp E &kp S &kp SPC)
MACRO(s_c_lod, &sk LSHIFT &kp L &kp O &kp V &kp E &kp S &kp SPC)
MACRO(c_wata, &kp W &kp A &kp T &kp C &kp H &kp SPC)
MACRO(s_c_wata, &sk LSHIFT &kp W &kp A &kp T &kp C &kp H &kp SPC)
MACRO(c_watb, &kp W &kp A &kp T &kp C &kp H &kp E &kp D &kp SPC)
MACRO(s_c_watb, &sk LSHIFT &kp W &kp A &kp T &kp C &kp H &kp E &kp D &kp SPC)
MACRO(c_watc, &kp W &kp A &kp T &kp C &kp H &kp I &kp N &kp G &kp SPC)
MACRO(s_c_watc, &sk LSHIFT &kp W &kp A &kp T &kp C &kp H &kp I &kp N &kp G &kp SPC)
MACRO(c_watd, &kp W &kp A &kp T &kp C &kp H &kp E &kp S &kp SPC)
MACRO(s_c_watd, &sk LSHIFT &kp W &kp A &kp T &kp C &kp H &kp E &kp S &kp SPC)
MACRO(c_anta, &kp A &kp N &kp Y &kp T &kp H &kp I &kp N &kp G &kp SPC)
MACRO(s_c_anta, &sk LSHIFT &kp A &kp N &kp Y &kp T &kp H &kp I &kp N &kp G &kp SPC)
MACRO(c_antd, &kp A &kp N &kp Y &kp T &kp H &kp I &kp N &kp G &kp S &kp SPC)
MACRO(s_c_antd, &sk LSHIFT &kp A &kp N &kp Y &kp T &kp H &kp I &kp N &kp G &kp S &kp SPC)
MACRO(c_ila, &kp I &kp QUOT &kp L &kp L &kp SPC)
MACRO(s_c_ila, &sk LSHIFT &kp I &kp QUOT &kp L &kp L &kp SPC)
MACRO(c_ild, &kp I &kp QUOT &kp L &kp L &kp S &kp SPC)
MACRO(s_c_ild, &sk LSHIFT &kp I &kp QUOT &kp L &kp L &kp S &kp SPC)
MACRO(c_toua, &kp T &kp H &kp O &kp U &kp G &kp H &kp SPC)
MACRO(s_c_toua, &sk LSHIFT &kp T &kp H &kp O &kp U &kp G &kp H &kp SPC)
MACRO(c_toud, &kp T &kp H &kp O &kp U &kp G &kp H &kp S &kp SPC)
MACRO(s_c_toud, &sk LSHIFT &kp T &kp H &kp O &kp U &kp G &kp H &kp S &kp SPC)
MACRO(c_hia, &kp H &kp A &kp I &kp R &kp SPC)
MACRO(s_c_hia, &sk LSHIFT &kp H &kp A &kp I &kp R &kp SPC)
MACRO(c_hid, &kp H &kp A &kp I &kp R &kp S &kp SPC)
MACRO(s_c_hid, &sk LSHIFT &kp H &kp A &kp I &kp R &kp S &kp SPC)
MACRO(c_cna, &kp C &kp O &kp U &kp L &kp D &kp N &kp QUOT &kp T &kp SPC)
MACRO(s_c_cna, &sk LSHIFT &kp C &kp O &kp U &kp L &kp D &kp N &kp QUOT &kp T &kp SPC)
MACRO(c_cnd, &kp C &kp O &kp U &kp L &kp D &kp N &kp QUOT &kp T &kp S &kp SPC)
MACRO(s_c_cnd, &sk LSHIFT &kp C &kp O &kp U &kp L &kp D &kp N &kp QUOT &kp T &kp S &kp SPC)
MACRO(c_yha, &kp Y &kp E &kp A &kp H &kp SPC)
MACRO(s_c_yha, &sk LSHIFT &kp Y &kp E &kp A &kp H &kp SPC)
MACRO(c_yhd, &kp Y &kp E &kp A &kp H &kp S &kp SPC)
MACRO(s_c_yhd, &sk LSHIFT &kp Y &kp E &kp A &kp H &kp S &kp SPC)
MACRO(c_wiea, &kp W &kp H &kp I &kp L &kp E &kp SPC)
MACRO(s_c_wiea, &sk LSHIFT &kp W &kp H &kp I &kp L &kp E &kp SPC)
MACRO(c_wied, &kp W &kp H &kp I &kp L &kp E &kp S &kp SPC)
MACRO(s_c_wied, &sk LSHIFT &kp W &kp H &kp I &kp L &kp E &kp S &kp SPC)
MACRO(c_maa, &kp M &kp E &kp A &kp N &kp SPC)
MACRO(s_c_maa, &sk LSHIFT &kp M &kp E &kp A &kp N &kp SPC)
MACRO(c_mab, &kp M &kp E &kp A &kp N &kp T &kp SPC)
MACRO(s_c_mab, &sk LSHIFT &kp M &kp E &kp A &kp N &kp T &kp SPC)
MACRO(c_mac, &kp M &kp E &kp A &kp N &kp I &kp N &kp G &kp SPC)
MACRO(s_c_mac, &sk LSHIFT &kp M &kp E &kp A &kp N &kp I &kp N &kp G &kp SPC)
MACRO(c_mad, &kp M &kp E &kp A &kp N &kp S &kp SPC)
MACRO(s_c_mad, &sk LSHIFT &kp M &kp E &kp A &kp N &kp S &kp SPC)
MACRO(c_pea, &kp P &kp L &kp A &kp C &kp E &kp SPC)
MACRO(s_c_pea, &sk LSHIFT &kp P &kp L &kp A &kp C &kp E &kp SPC)
MACRO(c_peb, &kp P &kp L &kp A &kp C &kp E &kp D &kp SPC)
MACRO(s_c_peb, &sk LSHIFT &kp P &kp L &kp A &kp C &kp E &kp D &kp SPC)
MACRO(c_pec, &kp P &kp L &kp A &kp C &kp I &kp N &kp G &kp SPC)
MACRO(s_c_pec, &sk LSHIFT &kp P &kp L &kp A &kp C &kp I &kp N &kp G &kp SPC)
MACRO(c_ped, &kp P &kp L &kp A &kp C &kp E &kp S &kp SPC)
MACRO(s_c_ped, &sk LSHIFT &kp P &kp L &kp A &kp C &kp E &kp S &kp SPC)
MACRO(c_sha, &kp S &kp C &kp H &kp O &kp O &kp L &kp SPC)
MACRO(s_c_sha, &sk LSHIFT &kp S &kp C &kp H &kp O &kp O &kp L &kp SPC)
MACRO(c_shd, &kp S &kp C &kp H &kp O &kp O &kp L &kp S &kp SPC)
MACRO(s_c_shd, &sk LSHIFT &kp S &kp C &kp H &kp O &kp O &kp L &kp S &kp SPC)
MACRO(c_hpa, &kp H &kp E &kp L &kp P &kp SPC)
MACRO(s_c_hpa, &sk LSHIFT &kp H &kp E &kp L &kp P &kp SPC)
MACRO(c_hpb, &kp H &kp E &kp L &kp P &kp E &kp D &kp SPC)
MACRO(s_c_hpb, &sk LSHIFT &kp H &kp E &kp L &kp P &kp E &kp D &kp SPC)
MACRO(c_hpc, &kp H &kp E &kp L &kp P &kp I &kp N &kp G &kp SPC)
MACRO(s_c_hpc, &sk LSHIFT &kp H &kp E &kp L &kp P &kp I &kp N &kp G &kp SPC)
MACRO(c_hpd, &kp H &kp E &kp L &kp P &kp S &kp SPC)
MACRO(s_c_hpd, &sk LSHIFT &kp H &kp E &kp L &kp P &kp S &kp SPC)
MACRO(c_cta, &kp C &kp A &kp N &kp QUOT &kp T &kp SPC)
MACRO(s_c_cta, &sk LSHIFT &kp C &kp A &kp N &kp QUOT &kp T &kp SPC)
MACRO(c_ctd, &kp C &kp A &kp N &kp QUOT &kp T &kp S &kp SPC)
MACRO(s_c_ctd, &sk LSHIFT &kp C &kp A &kp N &kp QUOT &kp T &kp S &kp SPC)
MACRO(c_hsea, &kp H &kp O &kp U &kp S &kp E &kp SPC)
MACRO(s_c_hsea, &sk LSHIFT &kp H &kp O &kp U &kp S &kp E &kp SPC)
MACRO(c_hsed, &kp H &kp O &kp U &kp S &kp E &kp S &kp SPC)
MACRO(s_c_hsed, &sk LSHIFT &kp H &kp O &kp U &kp S &kp E &kp S &kp SPC)
MACRO(c_hena, &kp H &kp A &kp P &kp P &kp E &kp N &kp SPC)
MACRO(s_c_hena, &sk LSHIFT &kp H &kp A &kp P &kp P &kp E &kp N &kp SPC)
MACRO(c_henb, &kp H &kp A &kp P &kp P &kp E &kp N &kp E &kp D &kp SPC)
MACRO(s_c_henb, &sk LSHIFT &kp H &kp A &kp P &kp P &kp E &kp N &kp E &kp D &kp SPC)
MACRO(c_henc, &kp H &kp A &kp P &kp P &kp E &kp N &kp I &kp N &kp G &kp SPC)
MACRO(s_c_henc, &sk LSHIFT &kp H &kp A &kp P &kp P &kp E &kp N &kp I &kp N &kp G &kp SPC)
MACRO(c_hend, &kp H &kp A &kp P &kp P &kp E &kp N &kp S &kp SPC)
MACRO(s_c_hend, &sk LSHIFT &kp H &kp A &kp P &kp P &kp E &kp N &kp S &kp SPC)
MACRO(c_lsa, &kp L &kp A &kp S &kp T &kp SPC)
MACRO(s_c_lsa, &sk LSHIFT &kp L &kp A &kp S &kp T &kp SPC)
MACRO(c_lsb, &kp L &kp A &kp S &kp T &kp E &kp D &kp SPC)
MACRO(s_c_lsb, &sk LSHIFT &kp L &kp A &kp S &kp T &kp E &kp D &kp SPC)
MACRO(c_lsc, &kp L &kp A &kp S &kp T &kp I &kp N &kp G &kp SPC)
MACRO(s_c_lsc, &sk LSHIFT &kp L &kp A &kp S &kp T &kp I &kp N &kp G &kp SPC)
MACRO(c_lsd, &kp L &kp A &kp S &kp T &kp S &kp SPC)
MACRO(s_c_lsd, &sk LSHIFT &kp L &kp A &kp S &kp T &kp S &kp SPC)
MACRO(c_asa, &kp A &kp L &kp W &kp A &kp Y &kp S &kp SPC)
MACRO(s_c_asa, &sk LSHIFT &kp A &kp L &kp W &kp A &kp Y &kp S &kp SPC)
MACRO(c_asd, &kp A &kp L &kp W &kp A &kp Y &kp S &kp S &kp SPC)
MACRO(s_c_asd, &sk LSHIFT &kp A &kp L &kp W &kp A &kp Y &kp S &kp S &kp SPC)
MACRO(c_moa, &kp M &kp O &kp V &kp E &kp SPC)
MACRO(s_c_moa, &sk LSHIFT &kp M &kp O &kp V &kp E &kp SPC)
MACRO(c_mob, &kp M &kp O &kp V &kp E &kp D &kp SPC)
MACRO(s_c_mob, &sk LSHIFT &kp M &kp O &kp V &kp E &kp D &kp SPC)
MACRO(c_moc, &kp M &kp O &kp V &kp I &kp N &kp G &kp SPC)
MACRO(s_c_moc, &sk LSHIFT &kp M &kp O &kp V &kp I &kp N &kp G &kp SPC)
MACRO(c_mod, &kp M &kp O &kp V &kp E &kp S &kp SPC)
MACRO(s_c_mod, &sk LSHIFT &kp M &kp O &kp V &kp E &kp S &kp SPC)
MACRO(c_nia, &kp N &kp I &kp G &kp H &kp T &kp SPC)
MACRO(s_c_nia, &sk LSHIFT &kp N &kp I &kp G &kp H &kp T &kp SPC)
MACRO(c_nid, &kp N &kp I &kp G &kp H &kp T &kp S &kp SPC)
MACRO(s_c_nid, &sk LSHIFT &kp N &kp I &kp G &kp H &kp T &kp S &kp SPC)
MACRO(c_gea, &kp G &kp I &kp V &kp E &kp SPC)
MACRO(s_c_gea, &sk LSHIFT &kp G &kp I &kp V &kp E &kp SPC)
MACRO(c_geb, &kp G &kp I &kp V &kp E &kp N &kp SPC)
MACRO(s_c_geb, &sk LSHIFT &kp G &kp I &kp V &kp E &kp N &kp SPC)
MACRO(c_gec, &kp G &kp I &kp V &kp I &kp N &kp G &kp SPC)
MACRO(s_c_gec, &sk LSHIFT &kp G &kp I &kp V &kp I &kp N &kp G &kp SPC)
MACRO(c_ged, &kp G &kp I &kp V &kp E &kp S &kp SPC)
MACRO(s_c_ged, &sk LSHIFT &kp G &kp I &kp V &kp E &kp S &kp SPC)
MACRO(c_stea, &kp S &kp T &kp A &kp R &kp E &kp SPC)
MACRO(s_c_stea, &sk LSHIFT &kp S &kp T &kp A &kp R &kp E &kp SPC)
MACRO(c_steb, &kp S &kp T &kp A &kp R &kp E &kp D &kp SPC)
MACRO(s_c_steb, &sk LSHIFT &kp S &kp T &kp A &kp R &kp E &kp D &kp SPC)
MACRO(c_stec, &kp S &kp T &kp A &kp R &kp I &kp N &kp G &kp SPC)
MACRO(s_c_stec, &sk LSHIFT &kp S &kp T &kp A &kp R &kp I &kp N &kp G &kp SPC)
MACRO(c_sted, &kp S &kp T &kp A &kp R &kp E &kp S &kp SPC)
MACRO(s_c_sted, &sk LSHIFT &kp S &kp T &kp A &kp R &kp E &kp S &kp SPC)
MACRO(c_sda, &kp S &kp H &kp O &kp U &kp L &kp D &kp SPC)
MACRO(s_c_sda, &sk LSHIFT &kp S &kp H &kp O &kp U &kp L &kp D &kp SPC)
MACRO(c_sdd, &kp S &kp H &kp O &kp U &kp L &kp D &kp S &kp SPC)
MACRO(s_c_sdd, &sk LSHIFT &kp S &kp H &kp O &kp U &kp L &kp D &kp S &kp SPC)
MACRO(c_mta, &kp M &kp O &kp M &kp E &kp N &kp T &kp SPC)
MACRO(s_c_mta, &sk LSHIFT &kp M &kp O &kp M &kp E &kp N &kp T &kp SPC)
MACRO(c_mtd, &kp M &kp O &kp M &kp E &kp N &kp T &kp S &kp SPC)
MACRO(s_c_mtd, &sk LSHIFT &kp M &kp O &kp M &kp E &kp N &kp T &kp S &kp SPC)
MACRO(c_ara, &kp A &kp N &kp O &kp T &kp H &kp E &kp R &kp SPC)
MACRO(s_c_ara, &sk LSHIFT &kp A &kp N &kp O &kp T &kp H &kp E &kp R &kp SPC)
MACRO(c_ard, &kp A &kp N &kp O &kp T &kp H &kp E &kp R &kp S &kp SPC)
MACRO(s_c_ard, &sk LSHIFT &kp A &kp N &kp O &kp T &kp H &kp E &kp R &kp S &kp SPC)
MACRO(c_bia, &kp B &kp E &kp H &kp I &kp N &kp D &kp SPC)
MACRO(s_c_bia, &sk LSHIFT &kp B &kp E &kp H &kp I &kp N &kp D &kp SPC)
MACRO(c_bid, &kp B &kp E &kp H &kp I &kp N &kp D &kp S &kp SPC)
MACRO(s_c_bid, &sk LSHIFT &kp B &kp E &kp H &kp I &kp N &kp D &kp S &kp SPC)
MACRO(c_snda, &kp S &kp O &kp U &kp N &kp D &kp SPC)
MACRO(s_c_snda, &sk LSHIFT &kp S &kp O &kp U &kp N &kp D &kp SPC)
MACRO(c_sndb, &kp S &kp O &kp U &kp N &kp D &kp E &kp D &kp SPC)
MACRO(s_c_sndb, &sk LSHIFT &kp S &kp O &kp U &kp N &kp D &kp E &kp D &kp SPC)
MACRO(c_sndc, &kp S &kp O &kp U &kp N &kp D &kp I &kp N &kp G &kp SPC)
MACRO(s_c_sndc, &sk LSHIFT &kp S &kp O &kp U &kp N &kp D &kp I &kp N &kp G &kp SPC)
MACRO(c_sndd, &kp S &kp O &kp U &kp N &kp D &kp S &kp SPC)
MACRO(s_c_sndd, &sk LSHIFT &kp S &kp O &kp U &kp N &kp D &kp S &kp SPC)
MACRO(c_oca, &kp O &kp N &kp C &kp E &kp SPC)
MACRO(s_c_oca, &sk LSHIFT &kp O &kp N &kp C &kp E &kp SPC)
MACRO(c_ocd, &kp O &kp N &kp C &kp E &kp S &kp SPC)
MACRO(s_c_ocd, &sk LSHIFT &kp O &kp N &kp C &kp E &kp S &kp SPC)
MACRO(c_fda, &kp F &kp I &kp N &kp D &kp SPC)
MACRO(s_c_fda, &sk LSHIFT &kp F &kp I &kp N &kp D &kp SPC)
MACRO(c_fdb, &kp F &kp O &kp U &kp N &kp D &kp SPC)
MACRO(s_c_fdb, &sk LSHIFT &kp F &kp O &kp U &kp N &kp D &kp SPC)
MACRO(c_fdc, &kp F &kp I &kp N &kp D &kp I &kp N &kp G &kp SPC)
MACRO(s_c_fdc, &sk LSHIFT &kp F &kp I &kp N &kp D &kp I &kp N &kp G &kp SPC)
MACRO(c_fdd, &kp F &kp I &kp N &kp D &kp S &kp SPC)
MACRO(s_c_fdd, &sk LSHIFT &kp F &kp I &kp N &kp D &kp S &kp SPC)
MACRO(c_trda, &kp T &kp O &kp W &kp A &kp R &kp D &kp SPC)
MACRO(s_c_trda, &sk LSHIFT &kp T &kp O &kp W &kp A &kp R &kp D &kp SPC)
MACRO(c_trdd, &kp T &kp O &kp W &kp A &kp R &kp D &kp S &kp SPC)
MACRO(s_c_trdd, &sk LSHIFT &kp T &kp O &kp W &kp A &kp R &kp D &kp S &kp SPC)
MACRO(c_era, &kp E &kp V &kp E &kp R &kp SPC)
MACRO(s_c_era, &sk LSHIFT &kp E &kp V &kp E &kp R &kp SPC)
MACRO(c_erd, &kp E &kp V &kp E &kp R &kp S &kp SPC)
MACRO(s_c_erd, &sk LSHIFT &kp E &kp V &kp E &kp R &kp S &kp SPC)
MACRO(c_ntha, &kp N &kp O &kp T &kp H &kp I &kp N &kp G &kp SPC)
MACRO(s_c_ntha, &sk LSHIFT &kp N &kp O &kp T &kp H &kp I &kp N &kp G &kp SPC)
MACRO(c_nthd, &kp N &kp O &kp T &kp H &kp I &kp N &kp G &kp S &kp SPC)
MACRO(s_c_nthd, &sk LSHIFT &kp N &kp O &kp T &kp H &kp I &kp N &kp G &kp S &kp SPC)
MACRO(c_foa, &kp F &kp R &kp O &kp N &kp T &kp SPC)
MACRO(s_c_foa, &sk LSHIFT &kp F &kp R &kp O &kp N &kp T &kp SPC)
MACRO(c_fod, &kp F &kp R &kp O &kp N &kp T &kp S &kp SPC)
MACRO(s_c_fod, &sk LSHIFT &kp F &kp R &kp O &kp N &kp T &kp S &kp SPC)
MACRO(c_mtea, &kp M &kp O &kp T &kp H &kp E &kp R &kp SPC)
MACRO(s_c_mtea, &sk LSHIFT &kp M &kp O &kp T &kp H &kp E &kp R &kp SPC)
MACRO(c_mted, &kp M &kp O &kp T &kp H &kp E &kp R &kp S &kp SPC)
MACRO(s_c_mted, &sk LSHIFT &kp M &kp O &kp T &kp H &kp E &kp R &kp S &kp SPC)
MACRO(c_snea, &kp S &kp I &kp N &kp C &kp E &kp SPC)
MACRO(s_c_snea, &sk LSHIFT &kp S &kp I &kp N &kp C &kp E &kp SPC)
MACRO(c_sned, &kp S &kp I &kp N &kp C &kp E &kp S &kp SPC)
MACRO(s_c_sned, &sk LSHIFT &kp S &kp I &kp N &kp C &kp E &kp S &kp SPC)
MACRO(c_rpa, &kp R &kp E &kp P &kp L &kp Y &kp SPC)
MACRO(s_c_rpa, &sk LSHIFT &kp R &kp E &kp P &kp L &kp Y &kp SPC)
MACRO(c_rpb, &kp R &kp E &kp P &kp L &kp I &kp E &kp D &kp SPC)
MACRO(s_c_rpb, &sk LSHIFT &kp R &kp E &kp P &kp L &kp I &kp E &kp D &kp SPC)
MACRO(c_rpc, &kp R &kp E &kp P &kp L &kp Y &kp I &kp N &kp G &kp SPC)
MACRO(s_c_rpc, &sk LSHIFT &kp R &kp E &kp P &kp L &kp Y &kp I &kp N &kp G &kp SPC)
MACRO(c_rpd, &kp R &kp E &kp P &kp L &kp I &kp E &kp S &kp SPC)
MACRO(s_c_rpd, &sk LSHIFT &kp R &kp E &kp P &kp L &kp I &kp E &kp S &kp SPC)
MACRO(c_mya, &kp M &kp Y &kp S &kp E &kp L &kp F &kp SPC)
MACRO(s_c_mya, &sk LSHIFT &kp M &kp Y &kp S &kp E &kp L &kp F &kp SPC)
MACRO(c_myd, &kp O &kp U &kp R &kp S &kp E &kp L &kp V &kp E &kp S &kp SPC)
MACRO(s_c_myd, &sk LSHIFT &kp O &kp U &kp R &kp S &kp E &kp L &kp V &kp E &kp S &kp SPC)
MACRO(c_leaa, &kp L &kp E &kp A &kp V &kp E &kp SPC)
MACRO(s_c_leaa, &sk LSHIFT &kp L &kp E &kp A &kp V &kp E &kp SPC)
MACRO(c_leab, &kp L &kp E &kp F &kp T &kp SPC)
MACRO(s_c_leab, &sk LSHIFT &kp L &kp E &kp F &kp T &kp SPC)
MACRO(c_leac, &kp L &kp E &kp A &kp V &kp I &kp N &kp G &kp SPC)
MACRO(s_c_leac, &sk LSHIFT &kp L &kp E &kp A &kp V &kp I &kp N &kp G &kp SPC)
MACRO(c_lead, &kp L &kp E &kp A &kp V &kp E &kp S &kp SPC)
MACRO(s_c_lead, &sk LSHIFT &kp L &kp E &kp A &kp V &kp E &kp S &kp SPC)
MACRO(c_ua, &kp U &kp S &kp E &kp SPC)
MACRO(s_c_ua, &sk LSHIFT &kp U &kp S &kp E &kp SPC)
MACRO(c_ub, &kp U &kp S &kp E &kp D &kp SPC)
MACRO(s_c_ub, &sk LSHIFT &kp U &kp S &kp E &kp D &kp SPC)
MACRO(c_uc, &kp U &kp S &kp I &kp N &kp G &kp SPC)
MACRO(s_c_uc, &sk LSHIFT &kp U &kp S &kp I &kp N &kp G &kp SPC)
MACRO(c_ud, &kp U &kp S &kp E &kp S &kp SPC)
MACRO(s_c_ud, &sk LSHIFT &kp U &kp S &kp E &kp S &kp SPC)
MACRO(c_mia, &kp M &kp I &kp N &kp D &kp SPC)
MACRO(s_c_mia, &sk LSHIFT &kp M &kp I &kp N &kp D &kp SPC)
MACRO(c_mid, &kp M &kp I &kp N &kp D &kp S &kp SPC)
MACRO(s_c_mid, &sk LSHIFT &kp M &kp I &kp N &kp D &kp S &kp SPC)
MACRO(c_maea, &kp M &kp A &kp Y &kp B &kp E &kp SPC)
MACRO(s_c_maea, &sk LSHIFT &kp M &kp A &kp Y &kp B &kp E &kp SPC)
MACRO(c_maed, &kp M &kp A &kp Y &kp B &kp E &kp S &kp SPC)
MACRO(s_c_maed, &sk LSHIFT &kp M &kp A &kp Y &kp B &kp E &kp S &kp SPC)
MACRO(c_hera, &kp H &kp E &kp A &kp R &kp D &kp SPC)
MACRO(s_c_hera, &sk LSHIFT &kp H &kp E &kp A &kp R &kp D &kp SPC)
MACRO(c_herd, &kp H &kp E &kp A &kp R &kp D &kp S &kp SPC)
MACRO(s_c_herd, &sk LSHIFT &kp H &kp E &kp A &kp R &kp D &kp S &kp SPC)
MACRO(c_ansa, &kp A &kp N &kp S &kp W &kp E &kp R &kp SPC)
MACRO(s_c_ansa, &sk LSHIFT &kp A &kp N &kp S &kp W &kp E &kp R &kp SPC)
MACRO(c_ansb, &kp A &kp N &kp S &kp W &kp E &kp R &kp E &kp D &kp SPC)
MACRO(s_c_ansb, &sk LSHIFT &kp A &kp N &kp S &kp W &kp E &kp R &kp E &kp D &kp SPC)
MACRO(c_ansc, &kp A &kp N &kp S &kp W &kp E &kp R &kp I &kp N &kp G &kp SPC)
MACRO(s_c_ansc, &sk LSHIFT &kp A &kp N &kp S &kp W &kp E &kp R &kp I &kp N &kp G &kp SPC)
MACRO(c_ansd, &kp A &kp N &kp S &kp W &kp E &kp R &kp S &kp SPC)
MACRO(s_c_ansd, &sk LSHIFT &kp A &kp N &kp S &kp W &kp E &kp R &kp S &kp SPC)
MACRO(c_mina, &kp M &kp I &kp N &kp U &kp T &kp E &kp SPC)
MACRO(s_c_mina, &sk LSHIFT &kp M &kp I &kp N &kp U &kp T &kp E &kp SPC)
MACRO(c_mind, &kp M &kp I &kp N &kp U &kp T &kp E &kp S &kp SPC)
MACRO(s_c_mind, &sk LSHIFT &kp M &kp I &kp N &kp U &kp T &kp E &kp S &kp SPC)
MACRO(c_una, &kp U &kp N &kp T &kp I &kp L &kp SPC)
MACRO(s_c_una, &sk LSHIFT &kp U &kp N &kp T &kp I &kp L &kp SPC)
MACRO(c_und, &kp U &kp N &kp T &kp I &kp L &kp S &kp SPC)
MACRO(s_c_und, &sk LSHIFT &kp U &kp N &kp T &kp I &kp L &kp S &kp SPC)
MACRO(c_bha, &kp B &kp O &kp T &kp H &kp SPC)
MACRO(s_c_bha, &sk LSHIFT &kp B &kp O &kp T &kp H &kp SPC)
MACRO(c_bhd, &kp B &kp O &kp T &kp H &kp S &kp SPC)
MACRO(s_c_bhd, &sk LSHIFT &kp B &kp O &kp T &kp H &kp S &kp SPC)
MACRO(c_sala, &kp S &kp M &kp A &kp L &kp L &kp SPC)
MACRO(s_c_sala, &sk LSHIFT &kp S &kp M &kp A &kp L &kp L &kp SPC)
MACRO(c_sald, &kp S &kp M &kp A &kp L &kp L &kp S &kp SPC)
MACRO(s_c_sald, &sk LSHIFT &kp S &kp M &kp A &kp L &kp L &kp S &kp SPC)
MACRO(c_sona, &kp S &kp O &kp M &kp E &kp O &kp N &kp E &kp SPC)
MACRO(s_c_sona, &sk LSHIFT &kp S &kp O &kp M &kp E &kp O &kp N &kp E &kp SPC)
MACRO(c_sond, &kp S &kp O &kp M &kp E &kp O &kp N &kp E &kp S &kp SPC)
MACRO(s_c_sond, &sk LSHIFT &kp S &kp O &kp M &kp E &kp O &kp N &kp E &kp S &kp SPC)
MACRO(c_eua, &kp E &kp N &kp O &kp U &kp G &kp H &kp SPC)
MACRO(s_c_eua, &sk LSHIFT &kp E &kp N &kp O &kp U &kp G &kp H &kp SPC)
MACRO(c_eud, &kp E &kp N &kp O &kp U &kp G &kp H &kp S &kp SPC)
MACRO(s_c_eud, &sk LSHIFT &kp E &kp N &kp O &kp U &kp G &kp H &kp S &kp SPC)
MACRO(c_bena, &kp B &kp E &kp G &kp A &kp N &kp SPC)
MACRO(s_c_bena, &sk LSHIFT &kp B &kp E &kp G &kp A &kp N &kp SPC)
MACRO(c_bend, &kp B &kp E &kp G &kp A &kp N &kp S &kp SPC)
MACRO(s_c_bend, &sk LSHIFT &kp B &kp E &kp G &kp A &kp N &kp S &kp SPC)
MACRO(c_sga, &kp S &kp I &kp G &kp H &kp SPC)
MACRO(s_c_sga, &sk LSHIFT &kp S &kp I &kp G &kp H &kp SPC)
MACRO(c_sgb, &kp S &kp I &kp G &kp H &kp E &kp D &kp SPC)
MACRO(s_c_sgb, &sk LSHIFT &kp S &kp I &kp G &kp H &kp E &kp D &kp SPC)
MACRO(c_sgc, &kp S &kp I &kp G &kp H &kp I &kp N &kp G &kp SPC)
MACRO(s_c_sgc, &sk LSHIFT &kp S &kp I &kp G &kp H &kp I &kp N &kp G &kp SPC)
MACRO(c_sgd, &kp S &kp I &kp G &kp H &kp S &kp SPC)
MACRO(s_c_sgd, &sk LSHIFT &kp S &kp I &kp G &kp H &kp S &kp SPC)
